## 1. Importando pandas y el csv

In [1]:
import pandas as pd
import warnings
import re
warnings.simplefilter('ignore') 
df = pd.read_csv('attacks.csv', sep = ',' , encoding = 'ISO8859-1')

## 2. Imprimir el data frame de lo importado y ver qué tiene adentro

In [2]:
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
print("Data frame has",len(df.columns),"columns\n")
df.info()

Data frame has 24 columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [4]:
count_row = df.shape[0]
count_col = df.shape[1]  
print("Data frame has {} rows and {} columns".format(count_row,count_col))

Data frame has 25723 rows and 24 columns

## Eliminar filas duplicadas, dejando la primera fila

In [5]:
df.drop_duplicates(keep="first", inplace = True)

count_row = df.shape[0]
count_col = df.shape[1]  

print("Data frame has {} rows and {} columns".format(count_row,count_col))

Data frame has 6312 rows and 24 columns

## Columna TYPE

In [6]:
df['Type'].value_counts() #chequea cuántos valores únicos hay

Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: Type, dtype: int64

In [7]:
bad_index=list(df.Type[df.Type.isna()].index) # lista de valores nulos (indice) de types

bad_index[:10]  # lista de indices

[85, 382, 4867, 5705, 6302, 6303, 6304, 6305, 6306, 6307]

In [8]:
df['Type']=df['Type'].fillna('Unknown')  # se rellena con desconocido

In [9]:
bad_index=list(df.Type[df.Type.isna()].index) # lista de valores nulos (indice) de type

bad_index[:10]  # lista de indices

[]

In [10]:
df.Type[df.Type.str.startswith('Boa')]='Boating' #sustituye las palabras que empiezan con boa con boating
df.Type=df.Type.str.replace('Questionable', 'Unknown') #sustituye questionable con unknown
df.Type=df.Type.str.replace('Invalid', 'Unknown') #sustituye invalid con unknown
df['Type'].value_counts() #chequea cuántos valores únicos hay

Unprovoked      4595
Provoked         574
Unknown          563
Boating          341
Sea Disaster     239
Name: Type, dtype: int64

## Columna Name

In [11]:
df['Name'].value_counts() #chequea cuántos valores únicos hay

male                  550
female                 97
boy                    23
2 males                16
boat                   14
                     ...
Kevin Canavan           1
Adam Coca               1
Bruce Klinker           1
Ron Christmas           1
José Ivair Pereira      1
Name: Name, Length: 5230, dtype: int64

In [12]:
df['nombres'] = df['Name'].copy()

df['nombres']=df['nombres'].fillna('Unknown')
lista_nombres = list(df.nombres.unique())
lista_nombres.sort()
lista_nombres[0:10]

['                        Maria Korcsmaros \n',
 ' 2 males',
 " 28' sport fishing boat, Bird Dog",
 ' 7.6 m motorized boat, occupants: fisherman & his son',
 ' Ben Tillman Homes',
 ' Braxton Rocha',
 ' Captain Jonathan Brown, pilot ',
 ' Grace Darling',
 ' Morson Daniel',
 ' Sydney woman']

In [13]:
df.nombres=df.nombres.str.strip() #remueve espacios
lista_nombres = list(df.nombres.unique())
lista_nombres.sort()
lista_nombres[0:10]

['"3 shark attacks in 3 days"',
 '"A"',
 '"Amphibious Jack" male',
 '"Hoke" Smith',
 '"Lockie" Smith',
 '"Lorrin"',
 '"Old Cuba"',
 '"The Queen\'s Chaplain"',
 '"a lad"',
 '"a native boy"']

In [14]:
df.nombres=df.nombres.str.replace('"', '')
lista_nombres = list(df.nombres.unique())
lista_nombres.sort()
lista_nombres[0:10]

['1 man',
 '10 crew',
 "10' dinghy",
 "10' row boat occupants;  Douglas Richards & George Irwin",
 "10' rowboat, occupant: John Stephensen",
 "10' skiff. Occupants F. Whitehead & L. Honeybone",
 '10.7 m boat. Occupants: John Capella & friends',
 '10m boat Lucky Jim',
 '11 stoways',
 '11.6 m fibreglass boat. Occupants: Tony DeCriston & Dan Fink']

In [15]:
def validacion_numero(x): #chequea si el primer caracter es número y devuelve inválido
    if x[0].isdigit() == True:
        x = 'Invalido'
        return x
    else:
        return x
        
df.nombres = df.nombres.apply(validacion_numero)  
lista_nombres = list(df.nombres.unique())
lista_nombres.sort()
lista_nombres[0:200]

['?brahim Karagöz',
 'A',
 "A 'tinnie. Occupants :Paul Sweeny, Paul Nieuwkerdk, John and Mark Kik",
 'A Japanese diver',
 'A Japanese fisherman from Miyagi',
 'A Japanese hard hat diver',
 'A Spanish fisherman',
 'A W.R.E.N.',
 'A boy, one of the crew of the ship Thomas Gelston',
 'A candidate for initiation',
 'A canoe; occupants Harry Goodson & Douglas Barnes',
 'A chiefess',
 'A dinghy',
 'A dinghy, occupant J.W. Wall',
 'A diver from Spain',
 'A dory: occupants : 2 men',
 'A fisherman',
 'A male from Muitoa',
 'A visitor from Spain',
 'A wounded member of Naval guncrew being towed by Charles Anderson toward a lifeboat & injured crew being towed by watertender Arthur Lauman',
 'A young pearl trader',
 'A. Arvanitakis',
 'A. B. Lofty Roets',
 'A. Ewen',
 'A. R. Davis',
 'A. Robson',
 'A. Steinstecke',
 'A. man floating next to Charles G. Heinl',
 'A.B.',
 'A.B. Wattigney',
 'A.C.C.',
 'A.D',
 'A.F.C. Smiot',
 'A.H.',
 'A.H.C.',
 'A.J.',
 'A.J. Eggink',
 'A.M.',
 'A.N.',
 'A.S. Festing',
 'A.W.F. Patterson',
 'A.Y. Glyde',
 'Aaron  A. Romento',
 'Aaron Conti',
 'Aaron Edelson',
 'Aaron Finley',
 'Aaron Kawado',
 'Aaron Muilwyk',
 'Aaron Perez',
 'Aaron Seare',
 'Aaron Shulman',
 'Aayden Crick',
 'Abdol Karmi',
 'Abdul Hussain',
 'Abdul Imam (male)',
 'Abdullah, a Malay diver',
 'Abe McGrath',
 'Abel Fosdyk (who claimed to be sole survivor from the Mary Celeste)',
 'Abel Mattos Antoniou Vasquez',
 'Aboobaker',
 'Aboriginal female',
 'Aboriginal male',
 'Abraham Johnson',
 'Abraham Moreno',
 'Abraham Yates',
 'Achmat Hassiem',
 'Adam',
 "Adam 'Biff' D'Esposito",
 'Adam Coca',
 'Adam Gomes, Jr.',
 'Adam Gray',
 'Adam Haling',
 'Adam Hoare',
 'Adam Johannes Kriel',
 'Adam Maguire (McGuire)',
 'Adam McMichael',
 'Adam Metz',
 'Adam Murray',
 'Adam Strange',
 'Adam Thomason',
 'Adam Tobin',
 'Adam Urban',
 'Adam Wood',
 'Adeline Lopez',
 'Adolph Crouse',
 'Adolphe Bollander',
 'Adrian *',
 'Adrian Bronson',
 'Adrian Esteban Rafael',
 'Adrian Hayman',
 'Adrian Ruiz',
 'Adrian Treveluwe',
 'Adrien Dubosc',
 'Adyson\xa0McNeely',
 'African child (male)',
 'African slave',
 'African slaves',
 'After 2 days, Ann Dumas, 7,5 months pregnant, died of exposure & exhaution& her body was lashed to raft.',
 'Agnes Novak',
 'Ah Cup',
 'Ah Hoi',
 'Ahmed',
 'Ahmed Rasheed',
 'Ahmun',
 'Aiona Aka',
 'Aisake Sadole',
 'Aismerael Samsel',
 'Akira',
 'Akira Tuchiya',
 'Akiyoshi Morita',
 'Al Beloushi',
 'Al Brenneka',
 'Al Diamond',
 'Al Schneppershoff',
 'Alain Curco-Llovéra',
 'Alaina DeBina',
 'Alan Agnew',
 'Alan Banner,  Peace Corps volunteer',
 'Alan Donald McArthur',
 'Alan Edly Symons',
 'Alan Horsfield',
 'Alan McIntosh',
 'Alan Murray',
 'Alan Saffery',
 'Alan Saunders',
 'Alan Stevenson, Jr.',
 'Alan Titchenal',
 'Albano Gomes Dias Filho',
 'Albert Bailey',
 'Albert Battles, James Dean & 4 crew',
 'Albert Buchanan',
 'Albert Hampton',
 'Albert Kogler, Jr.',
 'Albert Mainlander, an aboriginal',
 'Albert Pride',
 'Albert Raiti',
 'Albert Rebecchi',
 'Albert Schmidt',
 'Albert Stewart',
 'Albert Thomas Burless',
 'Albert Tyler',
 'Albert van Ryseen',
 'Albertina Cavel',
 'Alberto Caravallo Santos',
 'Alberto Mayora',
 'Alberto Rafael',
 'Albertus, a Malay',
 'Albino Ernesto',
 'Alcindo de Souza Leão Júnior',
 'Aldo Campi',
 'Alejandro Nodura',
 'Alejandro Travaglini',
 'Alessandro Gomes de Souza',
 'Alessandro Russo',
 'Alex Lancaster',
 'Alex Macun',
 'Alex Mumzhiu',
 'Alex Reeber',
 'Alex Stamm',
 'Alex Takyi',
 'Alexander Barony',
 'Alexander Cameron',
 'Alexander Robinson',
 'Alexander Wagner',
 'Alexander Zgura',
 'Alexandra Masterson',
 'Alexandre Naussance',
 'Alexandre Rassiga',
 'Alexey Drury',
 'Alexis Huesgen',
 'Alf Bosworth',
 'Alfetto',
 'Alfonso Garcia',
 'Alfred Aniba, a Torres Strait Islander',
 'Alfred Australia Howe',
 'Alfred Boldner',
 'Alfred Burgess',
 'Alfred Gassman',
 'Alfred Haen',
 'Alfred Victor Clulow',
 'Alfredo Aubone',
 'Ali',
 'Ali Ah Mat',
 'Ali Kaymaz',
 'Alicia',
 'Alistair Kerr',
 'All on board perished in the crash',
 'Allan Butcher',
 'Allan Countryman',
 'Allan Ford',
 'Allan Fripp',
 'Allan Green',
 'Allan Oppert',
 'Allan Spry',
 'Allen --',
 'Allen Engelman',
 'Allen ___',
 'Allison Foreman',
 'Almon Mtiyane',
 'Alside Raphael Morales Gonzalez']

In [16]:
def longitud(x): #si la longitud del string es mayor a 50 caracteres, devuelve inválido 
    if len(x) > 50:
        x = 'Invalido'
        return x
    else:
        return x
        
df.nombres = df.nombres.apply(longitud)  
lista_nombres = list(df.nombres.unique())
lista_nombres.sort()
lista_nombres[0:200]

['?brahim Karagöz',
 'A',
 'A Japanese diver',
 'A Japanese fisherman from Miyagi',
 'A Japanese hard hat diver',
 'A Spanish fisherman',
 'A W.R.E.N.',
 'A boy, one of the crew of the ship Thomas Gelston',
 'A candidate for initiation',
 'A canoe; occupants Harry Goodson & Douglas Barnes',
 'A chiefess',
 'A dinghy',
 'A dinghy, occupant J.W. Wall',
 'A diver from Spain',
 'A dory: occupants : 2 men',
 'A fisherman',
 'A male from Muitoa',
 'A visitor from Spain',
 'A young pearl trader',
 'A. Arvanitakis',
 'A. B. Lofty Roets',
 'A. Ewen',
 'A. R. Davis',
 'A. Robson',
 'A. Steinstecke',
 'A. man floating next to Charles G. Heinl',
 'A.B.',
 'A.B. Wattigney',
 'A.C.C.',
 'A.D',
 'A.F.C. Smiot',
 'A.H.',
 'A.H.C.',
 'A.J.',
 'A.J. Eggink',
 'A.M.',
 'A.N.',
 'A.S. Festing',
 'A.W.F. Patterson',
 'A.Y. Glyde',
 'Aaron  A. Romento',
 'Aaron Conti',
 'Aaron Edelson',
 'Aaron Finley',
 'Aaron Kawado',
 'Aaron Muilwyk',
 'Aaron Perez',
 'Aaron Seare',
 'Aaron Shulman',
 'Aayden Crick',
 'Abdol Karmi',
 'Abdul Hussain',
 'Abdul Imam (male)',
 'Abdullah, a Malay diver',
 'Abe McGrath',
 'Abel Mattos Antoniou Vasquez',
 'Aboobaker',
 'Aboriginal female',
 'Aboriginal male',
 'Abraham Johnson',
 'Abraham Moreno',
 'Abraham Yates',
 'Achmat Hassiem',
 'Adam',
 "Adam 'Biff' D'Esposito",
 'Adam Coca',
 'Adam Gomes, Jr.',
 'Adam Gray',
 'Adam Haling',
 'Adam Hoare',
 'Adam Johannes Kriel',
 'Adam Maguire (McGuire)',
 'Adam McMichael',
 'Adam Metz',
 'Adam Murray',
 'Adam Strange',
 'Adam Thomason',
 'Adam Tobin',
 'Adam Urban',
 'Adam Wood',
 'Adeline Lopez',
 'Adolph Crouse',
 'Adolphe Bollander',
 'Adrian *',
 'Adrian Bronson',
 'Adrian Esteban Rafael',
 'Adrian Hayman',
 'Adrian Ruiz',
 'Adrian Treveluwe',
 'Adrien Dubosc',
 'Adyson\xa0McNeely',
 'African child (male)',
 'African slave',
 'African slaves',
 'Agnes Novak',
 'Ah Cup',
 'Ah Hoi',
 'Ahmed',
 'Ahmed Rasheed',
 'Ahmun',
 'Aiona Aka',
 'Aisake Sadole',
 'Aismerael Samsel',
 'Akira',
 'Akira Tuchiya',
 'Akiyoshi Morita',
 'Al Beloushi',
 'Al Brenneka',
 'Al Diamond',
 'Al Schneppershoff',
 'Alain Curco-Llovéra',
 'Alaina DeBina',
 'Alan Agnew',
 'Alan Banner,  Peace Corps volunteer',
 'Alan Donald McArthur',
 'Alan Edly Symons',
 'Alan Horsfield',
 'Alan McIntosh',
 'Alan Murray',
 'Alan Saffery',
 'Alan Saunders',
 'Alan Stevenson, Jr.',
 'Alan Titchenal',
 'Albano Gomes Dias Filho',
 'Albert Bailey',
 'Albert Battles, James Dean & 4 crew',
 'Albert Buchanan',
 'Albert Hampton',
 'Albert Kogler, Jr.',
 'Albert Mainlander, an aboriginal',
 'Albert Pride',
 'Albert Raiti',
 'Albert Rebecchi',
 'Albert Schmidt',
 'Albert Stewart',
 'Albert Thomas Burless',
 'Albert Tyler',
 'Albert van Ryseen',
 'Albertina Cavel',
 'Alberto Caravallo Santos',
 'Alberto Mayora',
 'Alberto Rafael',
 'Albertus, a Malay',
 'Albino Ernesto',
 'Alcindo de Souza Leão Júnior',
 'Aldo Campi',
 'Alejandro Nodura',
 'Alejandro Travaglini',
 'Alessandro Gomes de Souza',
 'Alessandro Russo',
 'Alex Lancaster',
 'Alex Macun',
 'Alex Mumzhiu',
 'Alex Reeber',
 'Alex Stamm',
 'Alex Takyi',
 'Alexander Barony',
 'Alexander Cameron',
 'Alexander Robinson',
 'Alexander Wagner',
 'Alexander Zgura',
 'Alexandra Masterson',
 'Alexandre Naussance',
 'Alexandre Rassiga',
 'Alexey Drury',
 'Alexis Huesgen',
 'Alf Bosworth',
 'Alfetto',
 'Alfonso Garcia',
 'Alfred Aniba, a Torres Strait Islander',
 'Alfred Australia Howe',
 'Alfred Boldner',
 'Alfred Burgess',
 'Alfred Gassman',
 'Alfred Haen',
 'Alfred Victor Clulow',
 'Alfredo Aubone',
 'Ali',
 'Ali Ah Mat',
 'Ali Kaymaz',
 'Alicia',
 'Alistair Kerr',
 'All on board perished in the crash',
 'Allan Butcher',
 'Allan Countryman',
 'Allan Ford',
 'Allan Fripp',
 'Allan Green',
 'Allan Oppert',
 'Allan Spry',
 'Allen --',
 'Allen Engelman',
 'Allen ___',
 'Allison Foreman',
 'Almon Mtiyane',
 'Alside Raphael Morales Gonzalez',
 'Alton Cicero da Silva',
 'Alton Curtis',
 'Aluisio Francisco da Silva Filho',
 'Alva Colquhoun &  Ilsa Konrads']

In [17]:
def aspacio(x): #si la string empieza con A espacio devuelve invalido 
    if x.startswith("A ") or x.startswith("a "):
        x = "Invalido"
        return x
    else:
        return x
    
df.nombres = df.nombres.apply(aspacio)  
lista_nombres = list(df.nombres.unique())
lista_nombres.sort()
lista_nombres[0:20]

['?brahim Karagöz',
 'A',
 'A. Arvanitakis',
 'A. B. Lofty Roets',
 'A. Ewen',
 'A. R. Davis',
 'A. Robson',
 'A. Steinstecke',
 'A. man floating next to Charles G. Heinl',
 'A.B.',
 'A.B. Wattigney',
 'A.C.C.',
 'A.D',
 'A.F.C. Smiot',
 'A.H.',
 'A.H.C.',
 'A.J.',
 'A.J. Eggink',
 'A.M.',
 'A.N.']

In [18]:
def boat(x): #si la string dice boat pone invalid
    if x == "boat":
        x = "Invalido"
        return x
    else:
        return x
    
df.nombres = df.nombres.apply(boat)  
lista_nombres = list(df.nombres.unique())
lista_nombres.sort()
lista_nombres[0:20]

['?brahim Karagöz',
 'A',
 'A. Arvanitakis',
 'A. B. Lofty Roets',
 'A. Ewen',
 'A. R. Davis',
 'A. Robson',
 'A. Steinstecke',
 'A. man floating next to Charles G. Heinl',
 'A.B.',
 'A.B. Wattigney',
 'A.C.C.',
 'A.D',
 'A.F.C. Smiot',
 'A.H.',
 'A.H.C.',
 'A.J.',
 'A.J. Eggink',
 'A.M.',
 'A.N.']

In [19]:
def male(x): #si la string contiene male o female con sus variantes pone unknown
    if bool(re.search(r"f?e?males?\W?", x)):
     
        x = "Unknown"
        return x
    else:
        return x
    
df.nombres = df.nombres.apply(male)  
lista_nombres = list(df.nombres.unique())
lista_nombres.sort()
lista_nombres[0:20]

['?brahim Karagöz',
 'A',
 'A. Arvanitakis',
 'A. B. Lofty Roets',
 'A. Ewen',
 'A. R. Davis',
 'A. Robson',
 'A. Steinstecke',
 'A. man floating next to Charles G. Heinl',
 'A.B.',
 'A.B. Wattigney',
 'A.C.C.',
 'A.D',
 'A.F.C. Smiot',
 'A.H.',
 'A.H.C.',
 'A.J.',
 'A.J. Eggink',
 'A.M.',
 'A.N.']

In [20]:
def boys(x): #si la string contiene boy con sus variantes pone unknown
    if bool(re.search(r"\bboy[s\W]?[s\W]?", x)):
        x = "Unknown"
        return x
    else:
        return x
    
df.nombres = df.nombres.apply(boys)  
lista_nombres = list(df.nombres.unique())
lista_nombres.sort()
lista_nombres[0:20]

['?brahim Karagöz',
 'A',
 'A. Arvanitakis',
 'A. B. Lofty Roets',
 'A. Ewen',
 'A. R. Davis',
 'A. Robson',
 'A. Steinstecke',
 'A. man floating next to Charles G. Heinl',
 'A.B.',
 'A.B. Wattigney',
 'A.C.C.',
 'A.D',
 'A.F.C. Smiot',
 'A.H.',
 'A.H.C.',
 'A.J.',
 'A.J. Eggink',
 'A.M.',
 'A.N.']

In [21]:
def unk(x): #si la string contiene unknown con sus variantes pone unknown
    if x == "unknown":
        x = "Unknown"
        return x
    else:
        return x
    
df.nombres = df.nombres.apply(unk)  
lista_nombres = list(df.nombres.unique())
lista_nombres.sort()
lista_nombres[0:20]

['?brahim Karagöz',
 'A',
 'A. Arvanitakis',
 'A. B. Lofty Roets',
 'A. Ewen',
 'A. R. Davis',
 'A. Robson',
 'A. Steinstecke',
 'A. man floating next to Charles G. Heinl',
 'A.B.',
 'A.B. Wattigney',
 'A.C.C.',
 'A.D',
 'A.F.C. Smiot',
 'A.H.',
 'A.H.C.',
 'A.J.',
 'A.J. Eggink',
 'A.M.',
 'A.N.']

In [22]:
def boys(x): #si la string contiene child con sus variantes pone unknown
    if bool(re.search(r"\bchild[s\W]?[s\W]?", x)):
        x = "Unknown"
        return x
    else:
        return x
    
df.nombres = df.nombres.apply(boys)  
lista_nombres = list(df.nombres.unique())
lista_nombres.sort()
lista_nombres[0:20]

['?brahim Karagöz',
 'A',
 'A. Arvanitakis',
 'A. B. Lofty Roets',
 'A. Ewen',
 'A. R. Davis',
 'A. Robson',
 'A. Steinstecke',
 'A. man floating next to Charles G. Heinl',
 'A.B.',
 'A.B. Wattigney',
 'A.C.C.',
 'A.D',
 'A.F.C. Smiot',
 'A.H.',
 'A.H.C.',
 'A.J.',
 'A.J. Eggink',
 'A.M.',
 'A.N.']

In [23]:
def child(x): #si la string contiene boy con sus variantes pone unknown
    if bool(re.search(r"\bchild[s\W]?[s\W]?", x)):
        x = "Unknown"
        return x
    else:
        return x
    
df.nombres = df.nombres.apply(child)  
lista_nombres = list(df.nombres.unique())
lista_nombres.sort()
lista_nombres[0:20]

['?brahim Karagöz',
 'A',
 'A. Arvanitakis',
 'A. B. Lofty Roets',
 'A. Ewen',
 'A. R. Davis',
 'A. Robson',
 'A. Steinstecke',
 'A. man floating next to Charles G. Heinl',
 'A.B.',
 'A.B. Wattigney',
 'A.C.C.',
 'A.D',
 'A.F.C. Smiot',
 'A.H.',
 'A.H.C.',
 'A.J.',
 'A.J. Eggink',
 'A.M.',
 'A.N.']

In [24]:
def teen(x): #si la string contiene boy con sus variantes pone unknown
    if bool(re.search(r"\bteen[s\W]?[s\W]?", x)):
        x = "Unknown"
        return x
    else:
        return x
    
df.nombres = df.nombres.apply(teen)  
lista_nombres = list(df.nombres.unique())
lista_nombres.sort()
lista_nombres[0:20]

['?brahim Karagöz',
 'A',
 'A. Arvanitakis',
 'A. B. Lofty Roets',
 'A. Ewen',
 'A. R. Davis',
 'A. Robson',
 'A. Steinstecke',
 'A. man floating next to Charles G. Heinl',
 'A.B.',
 'A.B. Wattigney',
 'A.C.C.',
 'A.D',
 'A.F.C. Smiot',
 'A.H.',
 'A.H.C.',
 'A.J.',
 'A.J. Eggink',
 'A.M.',
 'A.N.']

In [25]:
def maen(x): #si la string contiene woman man o men con sus variantes pone unknown
    if bool(re.search(r"\bw?o?m[ae]n[s\W]?[s\W]?", x)):
        x = "Unknown"
        return x
    else:
        return x
    
df.nombres = df.nombres.apply(maen)  
lista_nombres = list(df.nombres.unique())
lista_nombres.sort()
lista_nombres[0:20]

['?brahim Karagöz',
 'A',
 'A. Arvanitakis',
 'A. B. Lofty Roets',
 'A. Ewen',
 'A. R. Davis',
 'A. Robson',
 'A. Steinstecke',
 'A.B.',
 'A.B. Wattigney',
 'A.C.C.',
 'A.D',
 'A.F.C. Smiot',
 'A.H.',
 'A.H.C.',
 'A.J.',
 'A.J. Eggink',
 'A.M.',
 'A.N.',
 'A.S. Festing']

In [26]:
def girl(x): #si la string contiene girl con sus variantes pone unknown
    if bool(re.search(r"\bgirl[s\W]?[s\W]?", x)):
        x = "Unknown"
        return x
    else:
        return x
    
df.nombres = df.nombres.apply(girl)  
lista_nombres = list(df.nombres.unique())
lista_nombres.sort()

In [27]:
def seaman(x): #si la string contiene seaman con sus variantes pone unknown
    if bool(re.search(r"\bsea\s?man", x)):
        x = "Unknown"
        return x
    else:
        return x

def slave(x): #si la string contiene slave con sus variantes pone unknown
    if bool(re.search(r"\bslave", x)):
        x = "Unknown"
        return x
    else:
        return x
    
df.nombres = df.nombres.apply(seaman)  
df.nombres = df.nombres.apply(slave)
lista_nombres = list(df.nombres.unique())
lista_nombres.sort()

In [28]:
def varios(x): #si la string dice boat pone invalid
    if x == "Unidentified" or x == "sailor" or x == "fisherman" or x == "soldier" or x == "dinghy" or x == "native" or x == "fishermen":
        x = "Unknown"
        return x
    else:
        return x
    
df.nombres = df.nombres.apply(varios)

In [29]:
cuenta_nombres = df.nombres.value_counts() #sustituye con invalido si aparece más de dos veces
df.nombres = df.nombres.apply(lambda x: "Invalido" if cuenta_nombres[x]==2 else x)

In [30]:
def varios2(x):
    if x == "Anonymous" or x == "Japanese diver":
        x = "Unknown"
        return x
    else:
        return x
    
df.nombres = df.nombres.apply(varios2)

In [31]:
cuenta_nombres = df.nombres.value_counts() #sustituye con invalido si aparece más de tres veces
df.nombres = df.nombres.apply(lambda x: "Invalido" if cuenta_nombres[x]==3 else x)

In [32]:
df['nombres'].value_counts()[0:10]

Unknown             1152
Invalido             526
Kody Stephens          1
Frank White            1
Brendan Denton         1
Ian Gericke            1
Thomas Thompson        1
Kina Scollay           1
Stacie Alexander       1
Thomas Houstan         1
Name: nombres, dtype: int64

In [33]:
df['Name'].value_counts()[0:10]

male         550
female        97
boy           23
2 males       16
boat          14
child         12
males         10
sailor        10
Anonymous     10
a sailor       8
Name: Name, dtype: int64

In [34]:
df.Name = df.nombres

In [35]:
df=df.drop(df[df.Name=='Invalido'].index, axis=0)  # elimina la fila invalido

In [36]:
df['Name'].value_counts()[0:10]

Unknown             1152
Ryan Eckstrum          1
Jimmy  Arnold          1
Frank White            1
Brendan Denton         1
Ian Gericke            1
Thomas Thompson        1
Kina Scollay           1
Stacie Alexander       1
Peter J. White         1
Name: Name, dtype: int64

## Columna Sex

In [37]:
df = df.rename(columns={'Sex ': 'Sex'}) #cambia el nombre de la columna

In [38]:
df['Sex'].value_counts() #chequea cuántos valores únicos hay

M      4784
F       624
M         2
.         1
N         1
lli       1
Name: Sex, dtype: int64

In [39]:
df['Sex']=df['Sex'].fillna('Unknown')  # se rellena con desconocido
lista_sex = list(df.Sex.unique())
lista_sex.sort()
lista_sex

['.', 'F', 'M', 'M ', 'N', 'Unknown', 'lli']

In [40]:
df.Sex=df.Sex.str.replace('.', 'Unknown') #sustituye . con unknown
df.Sex=df.Sex.str.replace('M ', 'M') #sustituye M espacio con M
df.Sex=df.Sex.str.replace('lli', 'Unknown') #sustituye lli con unknown
df.Sex=df.Sex.str.replace('N', 'Unknown') #sustituye N con unknown


lista_sex = list(df.Sex.unique())
lista_sex.sort()
lista_sex

['F', 'M', 'Unknown']

## Columna Age

In [41]:
df['Age'].value_counts() #chequea cuántos valores únicos hay

17          152
18          145
19          141
15          139
20          137
           ...
16 to 18      1
82            1
Elderly       1
20?           1
33 & 37       1
Name: Age, Length: 141, dtype: int64

In [42]:
df['Age']=df['Age'].fillna('Unknown')  # se rellena con desconocido
df.Age=df.Age.str.strip() #remueve espacios

In [43]:
lista_age = list(df.Age.unique())
lista_age.sort()
lista_age[0:20]

['',
 '"middle-age"',
 '"young"',
 '(adult)',
 '1',
 '10',
 '10 or 12',
 '11',
 '12',
 '12 or 13',
 '13',
 '13 or 14',
 '13 or 18',
 '14',
 '15',
 '16',
 '16 to 18',
 '17',
 '17 & 16',
 '17 & 35']

In [44]:
def infants2(x): #si la string contiene or con sus variantes pone unknown
    if bool(re.search(r"\bor[s\W]?[s\W]?", x)):
        x = "Unknown"
        return x
    else:
        return x
    
df.Age = df.Age.apply(infants2)  
lista_age = list(df.Age.unique())
lista_age.sort()
lista_age[0:20]

['',
 '"middle-age"',
 '"young"',
 '(adult)',
 '1',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '16 to 18',
 '17',
 '17 & 16',
 '17 & 35',
 '18',
 '18 months',
 '18 to 22',
 '19']

In [45]:
def age3(x): #si la string contiene to con sus variantes pone unknown
    if bool(re.search(r"\bto[s\W]?[s\W]?", x)):
        x = "Unknown"
        return x
    else:
        return x
    
df.Age = df.Age.apply(age3)  
lista_age = list(df.Age.unique())
lista_age.sort()
lista_age[0:20]

['',
 '"middle-age"',
 '"young"',
 '(adult)',
 '1',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '17 & 16',
 '17 & 35',
 '18',
 '18 months',
 '19',
 '20',
 '20?']

In [46]:
lista_age = list(df.Age.unique())
lista_age.sort(reverse = True)
lista_age[0:20]

['young',
 'teen',
 'mid-30s',
 'mid-20s',
 'adult',
 'Unknown',
 'Teen',
 'F',
 'Elderly',
 'Both 11',
 '>50',
 '9 months',
 '9 & 12',
 '9',
 '87',
 '86',
 '84',
 '82',
 '81',
 '8']

In [47]:
def age4(x): #si la string no tiene numeros unknown
    if bool(re.search(r"\d", x)) == False:
        x = "Unknown"
        return x
    else:
        return x
    
df.Age = df.Age.apply(age4)  
lista_age = list(df.Age.unique())
lista_age.sort(reverse = True)
lista_age[0:20]

['mid-30s',
 'mid-20s',
 'Unknown',
 'Both 11',
 '>50',
 '9 months',
 '9 & 12',
 '9',
 '87',
 '86',
 '84',
 '82',
 '81',
 '8',
 '78',
 '77',
 '75',
 '74',
 '73',
 '72']

In [48]:
def age5(x): #si la string tiene & devuelve invalid
    if bool(re.search(r"&", x)):
        x = "Invalid"
        return x
    else:
        return x
    
df.Age = df.Age.apply(age5)  
lista_age = list(df.Age.unique())
lista_age.sort()
lista_age[0:20]

['1',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '18 months',
 '19',
 '20',
 '20?',
 '20s',
 '21',
 '22',
 '23',
 '24',
 '25']

In [49]:
def infants(x): #si la string contiene month, devuelve infant
    if bool(re.search(r"\bmonth[s\W]?[s\W]?", x)):
        x = "Infant"
        return x
    else:
        return x
    
df.Age = df.Age.apply(infants)  
lista_age = list(df.Age.unique())
lista_age.sort(reverse = True)
lista_age[0:20]

['mid-30s',
 'mid-20s',
 'Unknown',
 'Invalid',
 'Infant',
 'Both 11',
 '>50',
 '9',
 '87',
 '86',
 '84',
 '82',
 '81',
 '8',
 '78',
 '77',
 '75',
 '74',
 '73',
 '72']

In [50]:
lista_age = list(df.Age.unique())
lista_age.sort(reverse= True)
lista_age[0:20]

['mid-30s',
 'mid-20s',
 'Unknown',
 'Invalid',
 'Infant',
 'Both 11',
 '>50',
 '9',
 '87',
 '86',
 '84',
 '82',
 '81',
 '8',
 '78',
 '77',
 '75',
 '74',
 '73',
 '72']

In [51]:
def eses(x): #si la string contiene un número seguido de una s, devuelve unknown
    if bool(re.search(r"[\W\D]\d+", x)):
        x = "Unknown"
        return x
    else:
        return x

In [52]:
def eses2(x): #si la string contiene un número seguido de un no numero/digito, devuelve unknown
    if bool(re.search(r"\d+[\W\D]", x)):
        x = "Unknown"
        return x
    else:
        return x
    
df.Age = df.Age.apply(eses2)  

df.Age = df.Age.apply(eses)  
lista_age = list(df.Age.unique())
lista_age.sort(reverse = True)
lista_age[0:20]

['Unknown',
 'Invalid',
 'Infant',
 '9',
 '87',
 '86',
 '84',
 '82',
 '81',
 '8',
 '78',
 '77',
 '75',
 '74',
 '73',
 '72',
 '71',
 '70',
 '7',
 '69']

In [53]:
df['Age'].value_counts() #chequea cuántos valores únicos hay

Unknown    2486
17          152
18          145
19          141
15          139
           ...
84            1
72            1
67            1
81            1
87            1
Name: Age, Length: 83, dtype: int64

In [54]:
df=df.drop(df[df.Age=='Invalid'].index, axis=0)  # elimina la fila invalido

In [55]:
count_row = df.shape[0]
count_col = df.shape[1]  
print("Data frame has {} rows and {} columns".format(count_row,count_col))

Data frame has 5774 rows and 25 columns

## Injury

In [56]:
df['Injury'].value_counts()[0:30] #chequea cuántos valores únicos hay

FATAL                          699
Survived                        92
Foot bitten                     87
No injury                       78
Leg bitten                      68
Left foot bitten                49
Right foot bitten               38
No details                      37
No injury, board bitten         31
Hand bitten                     28
Thigh bitten                    25
FATAL, body not recovered       23
Minor injury                    21
Right leg bitten                20
Lacerations to foot             20
Arm bitten                      20
Calf bitten                     20
Foot lacerated                  20
Lacerations to left foot        18
Lacerations to right foot       18
Right calf bitten               15
Ankle bitten                    15
Minor injuries                  14
Heel bitten                     14
Left leg bitten                 13
No injury, surfboard bitten     13
Leg injured                     13
Left arm bitten                 12
Right thigh bitten              12
Leg lacerated                   12
Name: Injury, dtype: int64

In [57]:
df['Injury']=df['Injury'].fillna('Unknown')# se rellena con desconocido
df.Injury=df.Injury.str.strip()
lista_inj = list(df.Injury.unique())
lista_inj.sort()
lista_inj[0:10]

['"Bad wound in the leg" - 7-ft shark caught in the bath same day',
 '"Badly bitten by shark"',
 '"Drowned, 2 days later his head was bitten off by a shark"',
 '"Fearfully injured"',
 '"He was taken up alive and but little injured."',
 '"Light scratch on hand/wrist area"',
 '"Lost his arm"',
 '"Lost leg"',
 '"Mauled"',
 '"Minor cuts to left leg"']

In [58]:
df.Injury=df.Injury.str.replace('"', '')

## Fatal

In [59]:
df['Fatal (Y/N)'].value_counts()[0:30] #chequea cuántos valores únicos hay

N          3962
Y          1229
UNKNOWN      58
 N            7
N             1
M             1
2017          1
y             1
Name: Fatal (Y/N), dtype: int64

In [60]:
df['Fatal (Y/N)']=df['Fatal (Y/N)'].fillna('Unknown')# se rellena con desconocido
df['Fatal (Y/N)']=df['Fatal (Y/N)'].str.strip()
df['Fatal (Y/N)']=df['Fatal (Y/N)'].str.replace('y', 'Y')
df['Fatal (Y/N)']=df['Fatal (Y/N)'].str.replace('2017', 'Invalid')
lista_fat = list(df['Fatal (Y/N)'].unique())
lista_fat.sort()
lista_fat[0:10]

['Invalid', 'M', 'N', 'UNKNOWN', 'Unknown', 'Y']

In [61]:
df['Fatal (Y/N)']=df['Fatal (Y/N)'].str.replace('UNKNOWN', 'Unknown')
df['Fatal (Y/N)']=df['Fatal (Y/N)'].str.replace('M', 'Unknown')
lista_fat = list(df['Fatal (Y/N)'].unique())
lista_fat.sort()
lista_fat[0:10]

['Invalid', 'N', 'Unknown', 'Y']

In [62]:
df=df.drop(df[df['Fatal (Y/N)']=='Invalid'].index, axis=0)  # elimina la fila invalido
df=df.drop(df[df['Fatal (Y/N)']=='Unknown'].index, axis=0)
lista_fat = list(df['Fatal (Y/N)'].unique())
lista_fat.sort()
lista_fat[0:10]

['N', 'Y']

## Time

In [63]:
df.Time.value_counts()[:-100] #chequea cuántos valores únicos hay

Afternoon         166
11h00             114
Morning           105
12h00             102
15h00              99
                 ...
Lunchtime           1
15h00 or 15h45      1
12h54               1
12h02               1
09h57               1
Name: Time, Length: 240, dtype: int64

In [64]:
df.Time=df.Time.fillna('Unknown')# se rellena con desconocido
df.Time=df.Time.str.strip()
lista_time = list(df.Time.unique())
lista_time.sort(reverse = True)
lista_time[50:100]

['>17h30',
 '>14h30',
 '>12h00',
 '>08h00',
 '>06h45',
 '<07h30',
 '9h00',
 '8:04 pm',
 '30 minutes after 1992.07.08.a',
 '23h30',
 '23h00',
 '22h30',
 '22h00',
 '21h50',
 '21h30',
 '21h00',
 '20h45 (Sunset)',
 '20h30',
 '20h15',
 '20h00',
 '2 hours after Opperman',
 '19h55',
 '19h45',
 '19h35',
 '19h30',
 '19h28',
 '19h15',
 '19h10',
 '19h05',
 '19h00-20h00',
 '19h00, Dusk',
 '19h00 / 20h00',
 '19h00',
 '18h50',
 '18h45',
 '18h40',
 '18h30?',
 '18h30 (Sunset)',
 '18h30',
 '18h25',
 '18h20',
 '18h15-18h30',
 '18h15 to 21h30',
 '18h15',
 '18h12',
 '18h10',
 '18h05',
 '18h00',
 '17h58',
 '17h55']

In [65]:
def formatotime(x): #si la string no está en formato time, devuelve unknown
    if bool(re.search(r"^\d\dh\d\d$", x)) == False:
        x = "Unknown"
        return x
    else:
        return x
    
df.Time = df.Time.apply(formatotime)  
lista_time = list(df.Time.unique())
lista_time.sort()
lista_time[0:10]

['01h00',
 '01h30',
 '01h50',
 '02h00',
 '02h30',
 '03h00',
 '03h30',
 '04h00',
 '05h00',
 '05h30']

In [66]:
df.Time.value_counts()[:-100] #chequea cuántos valores únicos hay

Unknown    3077
11h00       114
12h00       102
15h00        99
14h00        92
           ...
07h19         2
01h00         2
18h20         2
08h05         2
07h05         2
Name: Time, Length: 130, dtype: int64

## Species

In [67]:
df = df.rename(columns={'Species ': 'Species'}) #cambia el nombre de la columna 
df.Species.value_counts()[:-100] #chequea cuántos valores únicos hay

White shark                                 137
Tiger shark                                  68
Bull shark                                   50
6' shark                                     39
4' shark                                     39
                                           ...
Caribbean reef shark, 4.5'                    1
Small shark with white-tipped dorsal fin      1
Nurse shark, 1.1 m [3.5']                     1
Tiger shark, 8' to 12'                        1
8' great hammerhead shark                     1
Name: Species, Length: 1277, dtype: int64

In [68]:
df.Species=df.Species.fillna('Unknown')
df.Species=df.Species.str.strip()
df.Species=df.Species.str.replace('"', '')
lista_spec = list(df.Species.unique())
lista_spec.sort()
lista_spec[0:50]

['',
 "+3' shark",
 '.5 m shark',
 "0.7 m [2.5'] sand shark",
 "0.7 m [2.5'] shark",
 "0.9 m  [3'] shark",
 "0.9 m  to 1.2 m [3' to 4'] shark",
 "0.9 m [3']  shark",
 "0.9 m [3'] shark",
 "0.9 m [3'] shark,  probably a blacktip or spinner shark",
 "0.9 m to 1.2 m [3' to 4'] shark",
 "0.9 m to 1.2 m [3' to 4'] shark; Tooth fragment recovered from hand",
 "0.9 m to 1.2 m [3' to 4'] white shark",
 "0.9 m to 1.5 m [3' to 5'] shark",
 '1 m  shark',
 '1 m grey-colored shark',
 '1 m hammerhead shark',
 '1 m shark',
 '1 m shark, possibly whitetip reef shark',
 "1' to 2' hammerhead or bonnethed shark",
 "1' to 2' shark",
 "1' to 4' shark",
 '1,100-lb shark',
 "1,5 m [5'] Caribbean reef shark (Carcharhinus  perezi)",
 "1.2 m  [4'] shark",
 "1.2 m [4'] blacktip or sandbar shark",
 "1.2 m [4'] blacktip shark",
 "1.2 m [4'] bull shark",
 "1.2 m [4'] dusky shark",
 "1.2 m [4'] grey-colored shark",
 "1.2 m [4'] hammerhead shark",
 "1.2 m [4'] shark",
 "1.2 m [4'] shark (spinner shark?)",
 "1.2 m [4'] spinner shark",
 "1.2 m [4'], possibly  larger shark",
 "1.2 m to 1.5 m [4' to 5']   shark",
 "1.2 m to 1.5 m [4' to 5'] bull, sandbar or dusky shark",
 "1.2 m to 1.5 m [4' to 5'] hammerhead shark",
 "1.2 m to 1.5 m [4' to 5'] reef shark",
 "1.2 m to 1.5 m [4' to 5'] shark",
 "1.2 m to 1.5 m [4' to 5'] shark, possibly a bull shark",
 "1.2 m to 1.5 m [4.5' to 5'] shark",
 "1.2 m to 1.8 m [4' to 6'] shark",
 "1.2 m to 1.8 m [4' to 6'] shark observed in area",
 "1.3 m [4'3] shark",
 '1.3 to 1.6 m shark',
 "1.4 m [4'6] blacktip shark",
 "1.4 m [4.5'] shark",
 "1.5 m [5']  shark",
 "1.5 m [5'] Caribbean reef shark"]

In [69]:
def orshark(x): #si la string tiene or devuelve unknown
    if bool(re.search(r"\bor\b", x)):
        x = "Unknown"
        return x
    else:
        return x
    
df.Species = df.Species.apply(orshark)  
lista_spec = list(df.Species.unique())
lista_spec.sort()
lista_spec[0:50]

['',
 "+3' shark",
 '.5 m shark',
 "0.7 m [2.5'] sand shark",
 "0.7 m [2.5'] shark",
 "0.9 m  [3'] shark",
 "0.9 m  to 1.2 m [3' to 4'] shark",
 "0.9 m [3']  shark",
 "0.9 m [3'] shark",
 "0.9 m to 1.2 m [3' to 4'] shark",
 "0.9 m to 1.2 m [3' to 4'] shark; Tooth fragment recovered from hand",
 "0.9 m to 1.2 m [3' to 4'] white shark",
 "0.9 m to 1.5 m [3' to 5'] shark",
 '1 m  shark',
 '1 m grey-colored shark',
 '1 m hammerhead shark',
 '1 m shark',
 '1 m shark, possibly whitetip reef shark',
 "1' to 2' shark",
 "1' to 4' shark",
 '1,100-lb shark',
 "1,5 m [5'] Caribbean reef shark (Carcharhinus  perezi)",
 "1.2 m  [4'] shark",
 "1.2 m [4'] blacktip shark",
 "1.2 m [4'] bull shark",
 "1.2 m [4'] dusky shark",
 "1.2 m [4'] grey-colored shark",
 "1.2 m [4'] hammerhead shark",
 "1.2 m [4'] shark",
 "1.2 m [4'] shark (spinner shark?)",
 "1.2 m [4'] spinner shark",
 "1.2 m [4'], possibly  larger shark",
 "1.2 m to 1.5 m [4' to 5']   shark",
 "1.2 m to 1.5 m [4' to 5'] hammerhead shark",
 "1.2 m to 1.5 m [4' to 5'] reef shark",
 "1.2 m to 1.5 m [4' to 5'] shark",
 "1.2 m to 1.5 m [4' to 5'] shark, possibly a bull shark",
 "1.2 m to 1.5 m [4.5' to 5'] shark",
 "1.2 m to 1.8 m [4' to 6'] shark",
 "1.2 m to 1.8 m [4' to 6'] shark observed in area",
 "1.3 m [4'3] shark",
 '1.3 to 1.6 m shark',
 "1.4 m [4'6] blacktip shark",
 "1.4 m [4.5'] shark",
 "1.5 m [5']  shark",
 "1.5 m [5'] Caribbean reef shark",
 "1.5 m [5'] blacktip shark",
 "1.5 m [5'] dusky shark",
 "1.5 m [5'] hammerhead shark",
 "1.5 m [5'] shark"]

In [70]:
def whiteshark(x): #si la string tiene or devuelve unknown
    if bool(re.search(r"\bwhite\b.+\bshark\b", x.lower())):
        x = "White Shark"
        return x
    else:
        return x

def tigershark(x): #si la string tiene or devuelve unknown
    if bool(re.search(r"\btiger\b.+\bshark\b", x.lower())):
        x = "Tiger Shark"
        return x
    else:
        return x

def bullshark(x): #si la string tiene or devuelve unknown
    if bool(re.search(r"\bbull\b.+\bshark\b", x.lower())):
        x = "Bull Shark"
        return x
    else:
        return x
    
def angel(x): #si la string tiene or devuelve unknown
    if bool(re.search(r"\bangel\b.+\bshark\b", x.lower())):
        x = "Angel Shark"
        return x
    else:
        return x

def basking(x): #si la string tiene or devuelve unknown
    if bool(re.search(r"\bbasking?\b.+\bshark\b", x.lower())):
        x = "Basking Shark"
        return x
    else:
        return x
    
def blacktip(x): #si la string tiene or devuelve unknown
    if bool(re.search(r"\bblackt?i?p?.+\bshark", x.lower())):
        x = "Blacktip Shark"
        return x
    else:
        return x
    
def blue(x): #si la string tiene or devuelve unknown
    if bool(re.search(r"\bblue\b.+\bshark\b", x.lower())):
        x = "Blue Shark"
        return x
    else:
        return x
    
def hammerhead(x): #si la string tiene or devuelve unknown
    if bool(re.search(r"\bhamm?er\s?head", x.lower())):
        x = "Hammerhead Shark"
        return x
    else:
        return x
    
def mako(x): #si la string tiene or devuelve unknown
    if bool(re.search(r"\bmako\b.+\bshark\b", x.lower())):
        x = "Mako Shark"
        return x
    else:
        return x
    
def dogfish(x): #si la string tiene or devuelve unknown
    if bool(re.search(r"\bdog\s?fish", x.lower())):
        x = "Dogfish Shark"
        return x
    else:
        return x

def reef(x): #si la string tiene or devuelve unknown
    if bool(re.search(r"\breef\b.+\bshark", x.lower())):
        x = "Reef Shark"
        return x
    else:
        return x
    
def dusky(x): #si la string tiene or devuelve unknown
    if bool(re.search(r"\bdusky\b.+\bshark", x.lower())):
        x = "Dusky Shark"
        return x
    else:
        return x
                      
df.Species = df.Species.apply(whiteshark)  
df.Species = df.Species.apply(tigershark)
df.Species = df.Species.apply(bullshark)  
df.Species = df.Species.apply(angel) 
df.Species = df.Species.apply(basking)  
df.Species = df.Species.apply(blacktip)
df.Species = df.Species.apply(blue)  
df.Species = df.Species.apply(hammerhead) 
df.Species = df.Species.apply(mako)  
df.Species = df.Species.apply(dogfish) 
df.Species = df.Species.apply(reef) 
df.Species = df.Species.apply(dusky)  


lista_spec = list(df.Species.unique())
lista_spec.sort()

lista_spec[0:50]

['',
 "+3' shark",
 '.5 m shark',
 "0.7 m [2.5'] sand shark",
 "0.7 m [2.5'] shark",
 "0.9 m  [3'] shark",
 "0.9 m  to 1.2 m [3' to 4'] shark",
 "0.9 m [3']  shark",
 "0.9 m [3'] shark",
 "0.9 m to 1.2 m [3' to 4'] shark",
 "0.9 m to 1.2 m [3' to 4'] shark; Tooth fragment recovered from hand",
 "0.9 m to 1.5 m [3' to 5'] shark",
 '1 m  shark',
 '1 m grey-colored shark',
 '1 m shark',
 "1' to 2' shark",
 "1' to 4' shark",
 '1,100-lb shark',
 "1.2 m  [4'] shark",
 "1.2 m [4'] grey-colored shark",
 "1.2 m [4'] shark",
 "1.2 m [4'] shark (spinner shark?)",
 "1.2 m [4'] spinner shark",
 "1.2 m [4'], possibly  larger shark",
 "1.2 m to 1.5 m [4' to 5']   shark",
 "1.2 m to 1.5 m [4' to 5'] shark",
 "1.2 m to 1.5 m [4.5' to 5'] shark",
 "1.2 m to 1.8 m [4' to 6'] shark",
 "1.2 m to 1.8 m [4' to 6'] shark observed in area",
 "1.3 m [4'3] shark",
 '1.3 to 1.6 m shark',
 "1.4 m [4.5'] shark",
 "1.5 m [5']  shark",
 "1.5 m [5'] shark",
 "1.5 m [5'] whaler shark",
 '1.5 m copper shark',
 '1.5 m shark',
 "1.5 m to 1.8 m  [5' to 6'] shark",
 "1.5 m to 1.8 m [5' to 6'] Zambesi shark",
 "1.5 m to 1.8 m [5' to 6'] sandbar shark",
 "1.5 m to 1.8 m [5' to 6'] shark",
 "1.5 m to 1.8 m [5' to 6'] sharks",
 "1.5 m to 1.8 m [5' to 6'] \x93spear-eye\x94 shark",
 "1.5 m to 1.8m [5' to 6'] shark",
 "1.5 m to 2 m [5' to 6.75'] shark",
 '1.5 m to 2 m shark',
 "1.5 m to 2.1 m  [5' to 7'] shark",
 '1.5 m, 45-kg shark',
 "1.5 to 1.8 m [5' to 6'] shark",
 "1.5 to 2 m [5' to 6.75'] shark"]

In [71]:
df.Species.value_counts()[:10] #chequea cuántos valores únicos hay

Unknown             2571
White Shark          533
Tiger Shark          233
Bull Shark           162
Blacktip Shark        73
Reef Shark            50
Mako Shark            44
Hammerhead Shark      41
4' shark              39
6' shark              39
Name: Species, dtype: int64

In [72]:
def unknownshark(x): #si la string no está en formato time, devuelve unknown
    if x != "White Shark" and x != "Tiger Shark" and x != "Bull Shark" and x != "Angel Shark" and x != "Basking Shark" and x != "Blacktip Shark" and x != "Blue Shark" and x != "Hammerhead Shark" and x != "Mako Shark" and x != "Dogfish Shark" and x != "Reef Shark" and x != "Dusky Shark":
        x = "Unknown"
        return x
    else:
        return x

df.Species = df.Species.apply(unknownshark)  
lista_spec = list(df.Species.unique())
lista_spec.sort()
lista_spec[0:50]

['Angel Shark',
 'Basking Shark',
 'Blacktip Shark',
 'Blue Shark',
 'Bull Shark',
 'Dogfish Shark',
 'Dusky Shark',
 'Hammerhead Shark',
 'Mako Shark',
 'Reef Shark',
 'Tiger Shark',
 'Unknown',
 'White Shark']

In [73]:
df.Species.value_counts()[:10] #chequea cuántos valores únicos hay

Unknown             4005
White Shark          533
Tiger Shark          233
Bull Shark           162
Blacktip Shark        73
Reef Shark            50
Mako Shark            44
Hammerhead Shark      41
Blue Shark            36
Dusky Shark           10
Name: Species, dtype: int64

## Investigator

In [74]:
df['Investigator or Source'].value_counts()[:-100] #chequea cuántos valores únicos hay

S. Petersohn, GSAF             81
C. Creswell, GSAF              80
C. Moore, GSAF                 66
R. Collier                     47
R. Collier, GSAF               41
                               ..
S. Harris                       1
R. Rocconi & C. Moore, GSAF     1
The Observer, 12/25/1808        1
A. Sharpe, p.103                1
Maui Now, 7/16/2014             1
Name: Investigator or Source, Length: 4034, dtype: int64

In [75]:
df['Investigator or Source']=df['Investigator or Source'].fillna('Unknown')
df['Investigator or Source']=df['Investigator or Source'].str.strip()
df['Investigator or Source']=df['Investigator or Source'].replace('"', '')
lista_inv = list(df['Investigator or Source'].unique())
lista_inv.sort()
lista_inv[0:50]

['(1994) SAF Case #1524',
 '08/01/1962',
 '1/16/1959, Cape Argus; G. Wilson; M. Levine, GSAF',
 '13wham.com, 3/22/2013',
 '5WPTV, 11/15/2015',
 '7 News, 6/5/2015',
 '7News Online;  Vero Beach Press Journal, Fort Pierce Tribune, Stuart News, 10/1/2003',
 '7NewsMelbourne, 1/28/2013',
 '7NewsSydney, 4/22/2013',
 '9 News, 3/1/2016',
 '9 News, 4/24/2014',
 '9News, 2/15/2015',
 'A .Kipper',
 'A De Maddalena, GSAF',
 'A Gifford, G. Cliff, GSAF',
 'A Gifford, GSAF',
 'A Wearne, J. Green, pp.44-50; G.P. Whitley (1951), p. 193, cites Sydney Morning Herald, 8/11/1943;  V.M. Coppleson (1958), pp.87 & 238',
 'A. Acosta, Victoria Advocate, 7/9/2011',
 'A. Anderson, M.D. / Lt. Col. R.S. Hunt , p.84',
 'A. Anderson, M.D. / Lt. Col. R.S. Hunt, Royal Army Medical Corp',
 'A. Anderson, M.D. / Lt. Col. R.S. Hunt, Royal Army Medical Corp, p.84',
 'A. Anderson, M.D. / Lt. Col. R.S. Hunt, Royal Army Medical Corp, p.85',
 'A. Bailey',
 'A. Baker, M. Levine, GSAF; G. Charter & B. Davis, NSB; T. Wallett, p.21',
 'A. Blaker',
 'A. Bleakley;  A. M. Rapson, p.148',
 'A. Bleakley;  A. M. Rapson, p.148; H.D. Baldridge, p. 129',
 'A. Bleakley;  Namatanai Dept. of Public Health; A. M. Rapson, p.148',
 'A. Bleakley; A.M. Rapson, p.148',
 'A. Bleakley; A.M. Rapson, p.149',
 'A. Bleakley; A.M. Rapson, p.150',
 'A. Bouwer, M. Levine, GSAF;  E. Kerns, NSB',
 'A. Brenneka',
 'A. Brenneka, GSAF',
 'A. Brenneka, Shark Attack Surviors',
 'A. Brenneka, Shark Attack Survivors',
 'A. Brenneka, Shark Attack Survivors, M. Adams',
 'A. Brenneka, Shark Attack Survivors;      C. Creswell, GSAF',
 'A. Brenneka, Shark Attack Survivors;     TC Palm, 4/7/2013',
 'A. Brenneka, Shark Attack Survivors;   Les Nouvelles Caledoniennes, 2/21/2013',
 'A. Brenneka, Shark Attack Survivors; L. Havrylkoff',
 'A. Brenneka, Shark Attack Survivors; Les Nouvelles calédoniennes, 9/6/2012',
 'A. Brenneka, Shark Attack Survivors; The Palm Beach Post,12/3/1999',
 'A. Brenneka, SharkAttackSurvivors.com',
 'A. Brenneka, SharkAttackSurvivors.com; T.Fasick',
 'A. Brenneka, goldcoast.com.au, 1/3/2012',
 'A. Brenneka, sharkattacksurvivors.com',
 'A. Brenneka; E. Pace; NY Times, 11/26/1976, I, p.18, col.6',
 'A. Brenneka; Nassau Guardian, 6/30/2006',
 'A. Buttigieg']

## PDF

In [76]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23', 'nombres'],
      dtype='object')

In [77]:
df.pdf.value_counts()[:-100] #chequea cuántos valores únicos hay

1931.09.21.a-b-Holaday-Barrows.pdf     2
1916.07.12.a-b-Stillwell-Fisher.pdf    2
1929.03.04.a-b.Roads-Aldridge.pdf      2
1916.12.08.a-b-German.pdf              2
1921.11.27.a-b-Jack.pdf                2
                                      ..
1954.12.11-Burns.pdf                   1
1976.07.16-Powell.pdf                  1
1904.00.00.R-Stonehouse.pdf            1
2002.12.29-Schellekens.pdf             1
1988.08.11-LaFazio_Collier.pdf         1
Name: pdf, Length: 5092, dtype: int64

In [78]:
df.pdf=df.pdf.fillna('Unknown')
df.pdf=df.pdf.str.strip()
df.pdf=df.pdf.replace('"', '')

## HREF

In [79]:
df['href formula'].value_counts()[:-100] #chequea cuántos valores únicos hay

http://sharkattackfile.net/spreadsheets/pdf_directory/1929.03.04.a-b.Roads-Aldridge.pdf      2
http://sharkattackfile.net/spreadsheets/pdf_directory/1921.11.27.a-b-Jack.pdf                2
http://sharkattackfile.net/spreadsheets/pdf_directory/1934.12.23.a-b-Inman.pdf               2
http://sharkattackfile.net/spreadsheets/pdf_directory/1916.07.12.a-b-Stillwell-Fisher.pdf    2
http://sharkattackfile.net/spreadsheets/pdf_directory/1907.10.16.R-HongKong.pdf              2
                                                                                            ..
http://sharkattackfile.net/spreadsheets/pdf_directory/1993.07.30-LeRoux.pdf                  1
http://sharkattackfile.net/spreadsheets/pdf_directory/1984.10.14.a-Westberg.pdf              1
http://sharkattackfile.net/spreadsheets/pdf_directory/2002.07.09.b-Verbanas.pdf              1
http://sharkattackfile.net/spreadsheets/pdf_directory/1858.01.14.R-Hodgdon.pdf               1
http://sharkattackfile.net/spreadsheets/pdf_directory/1849.06.08.b-Mansfield.pdf             1
Name: href formula, Length: 5091, dtype: int64

In [80]:
df['href formula']=df['href formula'].fillna('Unknown')
df['href formula']=df['href formula'].str.strip()
df['href formula']=df['href formula'].replace('"', '')
df['href formula']=df['href formula'].str.strip()
df['href formula']=df['href formula'].replace('#VALUE!', 'Unknown')
df['href formula']=df['href formula'].replace('', 'Unknown')
df['href formula']=df['href formula'].replace('Q93h', '')
lista_href = list(df['href formula'].unique())
lista_href.sort()
lista_href[0:50]

['Q93http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0100-CDDollar.pdf',
 'Unknown',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/.2014.04.12.R-inflatable',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/0005.00.00-AustralianAboriginal.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/12.26',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1543.00.00.R-LasCasas.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1580.01.10.R-Portugal-India.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1642.00.00-Corlear.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1700.00.00.a-Barbados.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1700.00.00.b-Antibes.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1700.00.00.c-Nice.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1721.06.00-Maddalena.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1738.04.06.R-Messina.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1748.00.00.R-LasPerlas.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1749.00.00-Watson.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1751.07.27-Massachusetts.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1753.10.27.R-Jamaica.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1758.00.00-Mediterranean.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1764.00.00-Spain.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1771.07.12.R-Damiscotte.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1776.00.00-Greenland.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1776.00.00.R-Slave.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1779.00.00-Hawaii.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1780.08.08-Feron.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1783.03.02-Martinique.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1784.12.12-Page.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1785.09.26.R-Brighton.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1787.07.05-Hicksled.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1791.00.00-aboriginal woman.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1792.09.12-Thames.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1797.05.28.R-Cloverdale.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1800.00.00-Corsair-boat.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1801.12.18.R-Pettigrew.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1802.04.13.R-India.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1803.03.00-Lefevre.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1803.05.17-Jones.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1807.01.12-Cockle-Bay.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1808.02.07.R-Hoogley.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1808.12.25.R-PortRoyal.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1810.09.15-Charleston.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1811.03.01-John-Walker.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1812.07.00-Mill-Bay.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1815.10.00-Tobago.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1816.09.03.R-Rhode-Island.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1817.02.22-Mannar.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1817.05.11-May.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1817.06.15-Anderson.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1817.06.24-Jemmy.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1822.04.15-Slaver.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1825.00.00.a-Nelson.pdf']

In [81]:
df['href formula']=df['href formula'].replace('Q93http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0100-CDDollar.pdf','http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0100-CDDollar.pdf')
lista_href = list(df['href formula'].unique())
lista_href.sort()
lista_href[0:50]

['Unknown',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/.2014.04.12.R-inflatable',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/0005.00.00-AustralianAboriginal.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/12.26',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1543.00.00.R-LasCasas.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1580.01.10.R-Portugal-India.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1642.00.00-Corlear.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1700.00.00.a-Barbados.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1700.00.00.b-Antibes.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1700.00.00.c-Nice.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1721.06.00-Maddalena.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1738.04.06.R-Messina.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1748.00.00.R-LasPerlas.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1749.00.00-Watson.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1751.07.27-Massachusetts.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1753.10.27.R-Jamaica.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1758.00.00-Mediterranean.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1764.00.00-Spain.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1771.07.12.R-Damiscotte.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1776.00.00-Greenland.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1776.00.00.R-Slave.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1779.00.00-Hawaii.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1780.08.08-Feron.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1783.03.02-Martinique.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1784.12.12-Page.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1785.09.26.R-Brighton.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1787.07.05-Hicksled.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1791.00.00-aboriginal woman.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1792.09.12-Thames.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1797.05.28.R-Cloverdale.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1800.00.00-Corsair-boat.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1801.12.18.R-Pettigrew.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1802.04.13.R-India.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1803.03.00-Lefevre.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1803.05.17-Jones.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1807.01.12-Cockle-Bay.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1808.02.07.R-Hoogley.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1808.12.25.R-PortRoyal.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1810.09.15-Charleston.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1811.03.01-John-Walker.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1812.07.00-Mill-Bay.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1815.10.00-Tobago.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1816.09.03.R-Rhode-Island.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1817.02.22-Mannar.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1817.05.11-May.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1817.06.15-Anderson.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1817.06.24-Jemmy.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1822.04.15-Slaver.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1825.00.00.a-Nelson.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1825.00.00.b-AmphibiousJack.pdf']

## HREF

In [82]:
df['href'].value_counts()[:-100] #chequea cuántos valores únicos hay

http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf            4
http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.02.b-Vandenberg.pdf     3
http://sharkattackfile.net/spreadsheets/pdf_directory/1921.11.27.a-b-Jack.pdf         2
http://sharkattackfile.net/spreadsheets/pdf_directory/1934.12.23.a-b-Inman.pdf        2
http://sharkattackfile.net/spreadsheets/pdf_directory/1916.12.08.a-b-German.pdf       2
                                                                                     ..
http://sharkattackfile.net/spreadsheets/pdf_directory/1907.10.14-Nolan.pdf            1
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.04.11-Oudin.pdf            1
http://sharkattackfile.net/spreadsheets/pdf_directory/1981.12.19-Boren_Collier.pdf    1
http://sharkattackfile.net/spreadsheets/pdf_directory/1980.05.15-Stedman.pdf          1
http://sharkattackfile.net/spreadsheets/pdf_directory/2011.08.16.a-Redmond.pdf        1
Name: href, Length: 5086, dtype: int64

In [83]:
df['href']=df['href'].fillna('Unknown')
df['href']=df['href'].str.strip()
df['href']=df['href'].replace('Q93http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0100-CDDollar.pdf','http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0100-CDDollar.pdf')

lista_href = list(df['href'].unique())
lista_href.sort()
lista_href[0:50]

['http://sharkattackfile.net/spreadsheets/pdf_directory/.2014.04.12.R-inflatable',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/0005.00.00-AustralianAboriginal.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1543.00.00.R-LasCasas.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1580.01.10.R-Portugal-India.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1642.00.00-Corlear.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1700.00.00.a-Barbados.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1700.00.00.b-Antibes.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1700.00.00.c-Nice.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1721.06.00-Maddalena.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1738.04.06.R-Messina.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1748.00.00.R-LasPerlas.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1749.00.00-Watson.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1751.07.27-Massachusetts.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1753.10.27.R-Jamaica.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1758.00.00-Mediterranean.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1764.00.00-Spain.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1771.07.12.R-Damiscotte.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1776.00.00-Greenland.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1776.00.00.R-Slave.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1779.00.00-Hawaii.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1780.08.08-Feron.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1783.03.02-Martinique.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1784.12.12-Page.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1785.09.26.R-Brighton.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1787.07.05-Hicksled.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1791.00.00-aboriginal woman.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1792.09.12-Thames.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1797.05.28.R-Cloverdale.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1800.00.00-Corsair-boat.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1801.12.18.R-Pettigrew.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1802.04.13.R-India.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1803.03.00-Lefevre.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1803.05.17-Jones.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1807.01.12-Cockle-Bay.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1808.02.07.R-Hoogley.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1808.12.25.R-PortRoyal.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1810.09.15-Charleston.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1811.03.01-John-Walker.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1812.07.00-Mill-Bay.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1815.10.00-Tobago.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1816.09.03.R-Rhode-Island.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1817.02.22-Mannar.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1817.05.11-May.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1817.06.15-Anderson.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1817.06.24-Jemmy.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1822.04.15-Slaver.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1825.00.00.a-Nelson.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1825.00.00.b-AmphibiousJack.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1826.05.20.R-Loring.pdf',
 'http://sharkattackfile.net/spreadsheets/pdf_directory/1826.08.28-Smith.pdf']

## Case Number 1

In [84]:
df['Case Number.1'].value_counts()[:-100] #chequea cuántos valores únicos hay

2012.09.02.b    2
1907.10.16.R    2
1990.05.10      2
1966.12.26      2
2013.10.05      2
               ..
1964.01.01.a    1
2005.04.07      1
1966.06.04      1
1864.07.25      1
1939.03.24      1
Name: Case Number.1, Length: 5087, dtype: int64

In [85]:

df['Case Number.1']=df['Case Number.1'].str.strip()

## Case Number 2

In [86]:
df['Case Number.2']=df['Case Number.2'].str.strip()

In [87]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23', 'nombres'],
      dtype='object')

## original order

In [88]:
df['original order'].value_counts() #chequea cuántos valores únicos hay

569.0     2
4603.0    1
1527.0    1
3110.0    1
2826.0    1
         ..
1708.0    1
1620.0    1
1482.0    1
1180.0    1
6272.0    1
Name: original order, Length: 5199, dtype: int64

## uNNAMED: 22

In [89]:
df['Unnamed: 22'].value_counts() #chequea cuántos valores únicos hay

stopped here    1
Name: Unnamed: 22, dtype: int64

## Unnamed: 23

In [90]:
df['Unnamed: 23'].value_counts() #chequea cuántos valores únicos hay

Teramo             1
change filename    1
Name: Unnamed: 23, dtype: int64

## Case Number

In [91]:
df['Case Number'].value_counts() #chequea cuántos valores únicos hay

2012.09.02.b      2
2014.08.02        2
1966.12.26        2
1915.07.06.a.R    2
1923.00.00.a      2
                 ..
1936.12.01        1
1944.05.31        1
2011.08.17.c.     1
2007.08.22        1
1934.04.01.a      1
Name: Case Number, Length: 5187, dtype: int64

## Date

In [92]:
df.Date.value_counts() #chequea cuántos valores únicos hay

1957           9
1958           7
1950           7
1956           7
No date        6
              ..
09-Jun-1965    1
15-Feb-1930    1
12-Oct-1952    1
30-Nov-1847    1
29-Nov-1920    1
Name: Date, Length: 4520, dtype: int64

In [93]:
df.Date=df.Date.str.strip()
df.Date=df.Date.str.replace('Reported','')
df.Date=df.Date.str.replace('January','Jan')
df.Date=df.Date.str.replace('February','Feb')
df.Date=df.Date.str.replace('March','Mar')
df.Date=df.Date.str.replace('April','Apr')
df.Date=df.Date.str.replace('May','May')
df.Date=df.Date.str.replace('June','Jun')
df.Date=df.Date.str.replace('July','Jul')
df.Date=df.Date.str.replace('August','Aug')
df.Date=df.Date.str.replace('September','Sep')
df.Date=df.Date.str.replace('October','Oct')
df.Date=df.Date.str.replace('November','Nov')
df.Date=df.Date.str.replace('December','Dec')
df.Date=df.Date.str.strip()
lista_date = list(df.Date.unique())
lista_date.sort(reverse=True)
lista_date

['to have taken place in 1919',
 'World War II',
 'Winter 1942',
 'Summer-2008',
 'Summer of 1981',
 'Summer of 1959',
 'Summer of 1926',
 'Summer of 1898',
 'Summer of 1883',
 'Summer 1980',
 'Summer 1974',
 'Summer 1965',
 'Summer 1950',
 'Summer 1948',
 'Summer 1942',
 'Summer 1901',
 'Some time between Apr & Nov-1944',
 'Sep-2017',
 'Sep-2015',
 'Sep-2014',
 'Sep-2008',
 'Sep-2003',
 'Sep-1998',
 'Sep-1992',
 'Sep-1986',
 'Sep-1975',
 'Sep-1974',
 'Sep-1973',
 'Sep-1970',
 'Sep-1959',
 'Sep-1956',
 'Sep-1940',
 'Sep-1928',
 'Sep-1921',
 'Sep-1917',
 'Sep-1906',
 'Sep-1904',
 'Sep-1864',
 'Sep or Oct-1853',
 'Said to be 1941-1945, more likely 1945',
 'Reprted 05-Jan-1882',
 'Reportd 15-Jul-1894',
 'Oct-2006',
 'Oct-1996',
 'Oct-1993',
 'Oct-1988',
 'Oct-1986',
 'Oct-1970',
 'Oct-1967',
 'Oct-1965',
 'Oct-1962',
 'Oct-1961',
 'Oct-1960',
 'Oct-1959',
 'Oct-1958',
 'Oct-1956',
 'Oct-1953',
 'Oct-1927',
 'Oct 1887',
 'Oct 1815',
 'Nov-2004',
 'Nov-2003',
 'Nov-2002',
 'Nov-1999',
 'Nov-1993',
 'Nov-1991',
 'Nov-1982',
 'Nov-1970',
 'Nov-1962',
 'Nov-1960',
 'Nov-1955',
 'Nov-1947',
 'Nov-1942',
 'Nov-1925',
 'Nov-1918',
 'Nov- or Dec-1873',
 'No date, Before May-1996',
 'No date, Before Mar-1995',
 'No date, Before Aug-1989',
 'No date, Before 8-May-1965',
 'No date, Before 3-Jan-1967',
 'No date, Before 1987',
 'No date, Before 1975',
 'No date, Before 1969',
 'No date, Before 1963',
 'No date, Before 1902',
 'No date, Before  1975',
 'No date, After Aug 1926 and before 1936',
 'No date',
 'Mid-Aug-1886',
 'Mid Oct-1901',
 'Mid Jul-1985 or mid Jul-1986',
 'May-Jun-1965',
 'May-28-1797',
 'May-2007',
 'May-2001',
 'May-1968',
 'May-1959',
 'May-1952',
 'May-1864',
 'May-17-1803',
 'May 2018',
 'May 1993',
 'May 1992',
 'May 1979',
 'May 1965',
 'May 1964',
 'May 1957',
 'May 1956',
 'May 1955',
 'May 1954',
 'May 1932',
 'May 1925',
 'May 1812',
 'Mar-2001',
 'Mar-2000',
 'Mar-1996',
 'Mar-1993',
 'Mar-1982',
 'Mar-1979',
 'Mar-1975',
 'Mar-1973',
 'Mar-1964',
 'Mar-1961',
 'Mar-1959',
 'Mar-1956',
 'Mar-1955',
 'Mar-1953',
 'Mar-1948',
 'Mar-1851',
 'Mar-1803',
 'Letter dated 10-Jan-1580',
 'Late May 1993',
 'Late Jul-2008',
 'Late Jul-2003',
 'Late Jul-1980',
 'Late Jul-1928',
 'Late Aug-1982',
 'Late Aug-1962',
 'Late Aug-1905',
 'Late Apr-1971',
 'Late 1970s',
 'Late 1960s',
 'Last incident of 1994 in Hong Kong',
 'Jun-2010',
 'Jun-1993',
 'Jun-1992',
 'Jun-1975',
 'Jun-1970',
 'Jun-1969',
 'Jun-1968',
 'Jun-1967',
 'Jun-1965',
 'Jun-1954',
 'Jun-1953',
 'Jun-1951',
 'Jun-1942',
 'Jun-1941',
 'Jun-1935',
 'Jun-1902',
 'Jun-1827',
 'Jun 1983',
 'Jun 1874',
 'Jun 1721',
 'Jul-2003',
 'Jul-2001',
 'Jul-2000',
 'Jul-1988',
 'Jul-1987',
 'Jul-1986',
 'Jul-1982',
 'Jul-1964',
 'Jul-1963',
 'Jul-1961',
 'Jul-1959',
 'Jul-1958',
 'Jul-1950',
 'Jul-1945',
 'Jul-1943',
 'Jul-1907',
 'Jul-1903',
 'Jul-1898',
 'Jul-1848',
 'Jul-1837',
 'Jul- to Sep-1959',
 'Jul 2006',
 'Jul 1991',
 'Jan-2009',
 'Jan-1998',
 'Jan-1991',
 'Jan-1985',
 'Jan-1977',
 'Jan-1970',
 'Jan-1969',
 'Jan-1963',
 'Jan-1959',
 'Jan-1942',
 'Jan-1930',
 'Jan-1928',
 'Jan-1926',
 'Jan-1913',
 'Jan-1889',
 'Feb-2007',
 'Feb-1995',
 'Feb-1994',
 'Feb-1981',
 'Feb-1977',
 'Feb-1968',
 'Feb-1964',
 'Feb-1962',
 'Feb-1957',
 'Feb-1953',
 'Feb-1947',
 'Feb-1928',
 'Feb-1927',
 'Feb-1923',
 'Feb-1888',
 'Fall 2008',
 'Fall 1993',
 'Early Sep-2000',
 'Early Nov-1966',
 'Early Jun-2000',
 'Early Jul-1995',
 'Early Jul-1980',
 'Early Feb-1974',
 'Early Aug-2006',
 'Early 1965',
 'Early 1900s',
 'Dec-2008',
 'Dec-2000',
 'Dec-1996',
 'Dec-1993',
 'Dec-1986',
 'Dec-1973',
 'Dec-1962',
 'Dec-1959',
 'Dec-1953',
 'Dec-1949',
 'Dec-1947',
 'Dec-1930',
 'Dec-1888',
 'Dec-1840',
 'Dec 2012',
 'Circa 500 A.D.',
 'Circa 1958',
 'Circa 1872',
 'Ca. mid-1870s',
 'Ca. 725 B.C.',
 'Ca. 5 A.D.',
 'Ca. 214 B.C.',
 'Ca. 1983',
 'Ca. 1970',
 'Ca. 1962',
 'Ca. 1960',
 'Ca. 1955',
 'Ca. 1950',
 'Ca. 1940',
 'Ca. 1929',
 'Ca. 1911',
 'Ca. 1903',
 'Ca. 1900',
 'Ca. 1899',
 'Ca. 1890',
 'Ca. 1881',
 'Ca. 1880',
 'Ca. 1847',
 'Ca. 1839',
 'Ca. 1543',
 'Ca . 1825',
 'Between May & Nov-1993',
 'Between 1918 & 1939',
 'Between 18 & 22-Dec 1944',
 'Between   1951-1963',
 'Beforer 1994',
 'Before Oct-2009',
 'Before Mar-1956',
 'Before Feb-1998',
 'Before 2016',
 'Before 2012',
 'Before 2011',
 'Before 2009',
 'Before 2006',
 'Before 2003',
 'Before 1996',
 'Before 1963',
 'Before 1962',
 'Before 1961',
 'Before 1960',
 'Before 1958',
 'Before 1957',
 'Before 1956',
 'Before 1952',
 'Before 1939',
 'Before 1936',
 'Before 1934',
 'Before 1930',
 'Before 1921',
 'Before 1916',
 'Before 1911',
 'Before 1909',
 'Before 1908',
 'Before 1906',
 'Before 1905',
 'Before 1903',
 'Before 1901',
 'Before 1900',
 'Before 1878',
 'Before 1876',
 'Before 1871',
 'Before 17-Jul-1916',
 'Before 08-Jun-1912',
 'Before  24 Apr-1959',
 'Before  1958',
 'Before  19-Jun-1959',
 'Aug-2006',
 'Aug-2004',
 'Aug-2000',
 'Aug-1993',
 'Aug-1986',
 'Aug-1969',
 'Aug-1967',
 'Aug-1966',
 'Aug-1964',
 'Aug-1962',
 'Aug-1960',
 'Aug-1957',
 'Aug-1956',
 'Aug-1955',
 'Aug-1943',
 'Aug-1905',
 'Aug-1886',
 'Aug-1871',
 'Aug-1864',
 'Apr-2013',
 'Apr-1998',
 'Apr-1989',
 'Apr-1986',
 'Apr-1980',
 'Apr-1978`',
 'Apr-1970',
 'Apr-1967',
 'Apr-1961',
 'Apr-1960',
 'Apr-1958',
 'Apr-1955',
 'Apr-1954',
 'Apr-1953',
 'Apr-1947',
 'Apr-1946',
 'Apr-1944',
 'Apr-1864',
 'Apr-1863',
 'Apr-1860',
 'Apr-13-1802',
 'A few years before 1938',
 '9-Mar-2018',
 '9-Jul-2014',
 '9-Aug-1890',
 '8-Sep-1966',
 '8-Aug-1942',
 '77  A.D.',
 '7-Dec-1952',
 '6-Dec-1951',
 '6-Aug-2005',
 '6-Apr-1971',
 '5-Mar-1986',
 '5-Jul-2014',
 '5-Jul-1975',
 '5-Jul-1970',
 '5-Feb-1970',
 '5-Apr-1971',
 '493 B.C.',
 '4-Feb-1940',
 '4-Apr-1970',
 '31-Oct-2017',
 '31-Oct-2014',
 '31-Oct-2013',
 '31-Oct-2006',
 '31-Oct-2004',
 '31-Oct-2003',
 '31-Oct-1964',
 '31-Oct-1932',
 '31-Oct-1924',
 '31-May-2016',
 '31-May-2012',
 '31-May-2009',
 '31-May-2006',
 '31-May-2002',
 '31-May-1997',
 '31-May-1995',
 '31-May-1994',
 '31-May-1983',
 '31-May-1944',
 '31-May-1929',
 '31-May-1917',
 '31-May-1914',
 '31-Mar-2018',
 '31-Mar-2016',
 '31-Mar-2012',
 '31-Mar-2007',
 '31-Mar-2004',
 '31-Mar-2000',
 '31-Mar-1998',
 '31-Mar-1988',
 '31-Mar-1960',
 '31-Mar-1940',
 '31-Mar-1910',
 '31-Jul-2017',
 '31-Jul-2015',
 '31-Jul-2013',
 '31-Jul-2012',
 '31-Jul-2009',
 '31-Jul-2004',
 '31-Jul-1966',
 '31-Jul-1958',
 '31-Jul-1953',
 '31-Jul-1924',
 '31-Jul-1900',
 '31-Jan-2011',
 '31-Jan-2010',
 '31-Jan-1994',
 '31-Jan-1980',
 '31-Jan-1959',
 '31-Jan-1889',
 '31-Dec-2017',
 '31-Dec-2012',
 '31-Dec-2011',
 '31-Dec-2003',
 '31-Dec-1999',
 '31-Dec-1986',
 '31-Dec-1977',
 '31-Dec-1972',
 '31-Dec-1966',
 '31-Dec-1957',
 '31-Dec-1955',
 '31-Dec-1950',
 '31-Dec-1934',
 '31-Dec-1908',
 '31-Dec-1891',
 '31-Aug-2014',
 '31-Aug-2013',
 '31-Aug-2012',
 '31-Aug-2011',
 '31-Aug-2001',
 '31-Aug-2000',
 '31-Aug-1995',
 '31-Aug-1977',
 '31-Aug-1931',
 '31-Aug-1930',
 '31-Aug-1848',
 '30-Sep-2007',
 '30-Sep-2002',
 '30-Sep-2001',
 '30-Sep-1995',
 '30-Sep-1993',
 '30-Sep-1984',
 '30-Sep-1982',
 '30-Sep-1962',
 '30-Sep-1959',
 '30-Sep-1942',
 '30-Sep-1855',
 '30-Sep-1846',
 '30-Oct-2016',
 '30-Oct-2015',
 '30-Oct-2012',
 '30-Oct-2010',
 '30-Oct-2009',
 '30-Oct-2002',
 '30-Oct-1999',
 '30-Oct-1993',
 '30-Oct-1990',
 '30-Oct-1966',
 '30-Nov-2017',
 '30-Nov-2013',
 '30-Nov-2012',
 '30-Nov-2010',
 '30-Nov-2003',
 '30-Nov-1999',
 '30-Nov-1986',
 '30-Nov-1984',
 '30-Nov-1981',
 '30-Nov-1969',
 '30-Nov-1967',
 '30-Nov-1963',
 '30-Nov-1930',
 '30-Nov-1912',
 '30-Nov-1872',
 '30-Nov-1847',
 '30-May-2017',
 '30-May-2011',
 '30-May-2010',
 '30-May-1998',
 '30-May-1964',
 '30-May-1959',
 '30-May-1937',
 '30-Mar-2016',
 '30-Mar-2000',
 '30-Mar-1987',
 '30-Mar-1983',
 '30-Mar-1971',
 '30-Mar-1963',
 '30-Mar-1961',
 '30-Mar-1952',
 '30-Mar-1936',
 '30-Mar-1935',
 '30-Mar-1878',
 '30-Jun-2015',
 '30-Jun-2013',
 '30-Jun-2011',
 '30-Jun-2007',
 '30-Jun-2003',
 '30-Jun-2000',
 '30-Jun-1995',
 '30-Jun-1993',
 '30-Jun-1971',
 '30-Jun-1940',
 '30-Jun-1916',
 '30-Jul-2013',
 '30-Jul-2012',
 '30-Jul-2009',
 '30-Jul-2008',
 '30-Jul-2004',
 '30-Jul-1993',
 '30-Jul-1991',
 '30-Jul-1975',
 '30-Jul-1964',
 '30-Jul-1954',
 '30-Jul-1945',
 '30-Jul-1901',
 '30-Jan-2015',
 '30-Jan-2002',
 '30-Jan-1963',
 '30-Jan-1960',
 '30-Jan-1954',
 '30-Jan-1901',
 '30-Jan-1893',
 '30-Dec-2017',
 '30-Dec-2012',
 '30-Dec-1994',
 '30-Dec-1967',
 '30-Dec-1962',
 '30-Dec-1957',
 '30-Dec-1953',
 '30-Dec-1936',
 '30-Dec-1919',
 '30-Aug-2009',
 '30-Aug-2008',
 '30-Aug-2000',
 '30-Aug-1998',
 '30-Aug-1997',
 '30-Aug-1962',
 '30-Aug-1960',
 '30-Aug-1955',
 '30-Aug-1932',
 '30-Aug-1912',
 '30-Aug-1891',
 '30-Aug-1879',
 '30-Apr-2018',
 '30-Apr-2002',
 '30-Apr-1960',
 '30-Apr-1958',
 '30-Apr-1830',
 '3-Jul-2014',
 '3-Jul-1879',
 '29-Sep-2015',
 '29-Sep-2013',
 '29-Sep-2006',
 '29-Sep-2003',
 '29-Sep-2002',
 '29-Sep-2000',
 '29-Sep-1999',
 '29-Sep-1973',
 '29-Sep-1963',
 '29-Sep-1951',
 '29-Sep-1922',
 '29-Sep-1905',
 '29-Oct-2016',
 '29-Oct-2014',
 '29-Oct-2011',
 '29-Oct-2009',
 '29-Oct-2007',
 '29-Oct-2005',
 '29-Oct-2000',
 '29-Oct-1992',
 '29-Oct-1989',
 '29-Oct-1968',
 '29-Oct-1926',
 '29-Nov2013',
 '29-Nov-2014',
 '29-Nov-2011',
 '29-Nov-2005',
 '29-Nov-1996',
 '29-Nov-1992',
 '29-Nov-1964',
 '29-Nov-1962',
 '29-Nov-1959',
 '29-Nov-1951',
 '29-Nov-1950',
 '29-Nov-1929',
 '29-Nov-1920',
 '29-Nov-1891',
 '29-May-2016',
 '29-May-2015',
 '29-May-2012',
 '29-May-2011',
 '29-May-2004',
 '29-May-2001',
 '29-May-1999',
 '29-May-1998',
 '29-May-1965',
 '29-May-1962',
 '29-May-1960',
 '29-May-1919',
 '29-Mar-2013',
 '29-Mar-2011',
 '29-Mar-2004',
 '29-Mar-1980',
 '29-Mar-1959',
 '29-Mar-1915',
 '29-Mar-1911',
 '29-Mar-1895',
 '29-Jun-2011',
 '29-Jun-1991',
 '29-Jun-1989',
 '29-Jun-1983',
 '29-Jun-1982',
 '29-Jun-1960',
 '29-Jun-1954',
 '29-Jun-1920',
 '29-Jul-2017',
 '29-Jul-2016',
 '29-Jul-2013',
 '29-Jul-2009',
 '29-Jul-2007',
 '29-Jul-2006',
 '29-Jul-1999',
 '29-Jul-1967',
 '29-Jul-1961',
 '29-Jul-1929',
 '29-Jul-1905',
 '29-Jan-2016',
 '29-Jan-2008',
 '29-Jan-1999',
 '29-Jan-1992',
 '29-Jan-1982',
 '29-Jan-1966',
 '29-Jan-1941',
 '29-Jan-1940',
 '29-Jan-1924',
 '29-Feb-2004',
 '29-Dec-2014',
 '29-Dec-2009',
 '29-Dec-2002',
 '29-Dec-1978',
 '29-Dec-1976',
 '29-Dec-1963',
 '29-Dec-1954',
 '29-Aug-2017',
 '29-Aug-2016',
 '29-Aug-2015',
 '29-Aug-2014',
 '29-Aug-2009',
 '29-Aug-2006',
 '29-Aug-2004',
 '29-Aug-2003',
 '29-Aug-2001',
 '29-Aug-1996',
 '29-Aug-1992',
 '29-Aug-1989',
 '29-Aug-1982',
 '29-Aug-1981',
 '29-Aug-1972',
 '29-Aug-1969',
 '29-Aug-1962',
 '29-Aug-1960',
 '29-Aug-1929',
 '29-Aug-1902',
 '29-Aug-1891',
 '29-Aug-1871',
 '29-Apr-2017',
 '29-Apr-2015',
 '29-Apr-1895',
 '29-Apr-1853',
 '28-Sept-1853',
 '28-Sep-2011',
 '28-Sep-2008',
 '28-Sep-2007',
 '28-Sep-2003',
 '28-Sep-1995',
 '28-Sep-1988',
 '28-Sep-1985',
 '28-Sep-1981',
 '28-Sep-1974',
 '28-Sep-1970',
 '28-Sep-1922',
 '28-Sep-1828',
 '28-Oct-2017',
 '28-Oct-2015',
 '28-Oct-2013',
 '28-Oct-2011',
 '28-Oct-2010',
 '28-Oct-2009',
 '28-Oct-1997',
 '28-Oct-1996',
 '28-Oct-1995',
 '28-Oct-1962',
 '28-Oct-1950',
 '28-Oct-1947',
 '28-Oct-1899',
 '28-Oct-1898',
 '28-Nov-2016',
 '28-Nov-2011',
 '28-Nov-2008',
 '28-Nov-2002',
 '28-Nov-1993',
 '28-Nov-1990',
 '28-Nov-1963',
 '28-Nov-1959',
 '28-Nov-1951',
 '28-Nov-1942',
 '28-Nov-1910',
 '28-Nov-1894',
 '28-May-2017',
 '28-May-2005',
 '28-May-2004',
 '28-May-1996',
 '28-May-1994',
 '28-May-1972',
 '28-May-1965',
 '28-Mar-2016',
 '28-Mar-2008',
 '28-Mar-2005',
 '28-Mar-2004',
 '28-Mar-1992',
 '28-Mar-1980',
 '28-Mar-1964',
 '28-Mar-1960',
 '28-Mar-1928',
 '28-Mar-1924',
 '28-Mar-1885',
 '28-Mar-1855',
 '28-Jun-2011',
 '28-Jun-2008',
 '28-Jun-1998',
 '28-Jun-1992',
 '28-Jun-1991',
 '28-Jun-1956',
 '28-Jun-1946',
 '28-Jun-1937',
 '28-Jun-1932',
 '28-Jul-2016',
 '28-Jul-2015',
 '28-Jul-2013',
 '28-Jul-2007',
 '28-Jul-2006',
 '28-Jul-2004',
 '28-Jul-1995',
 '28-Jul-1963',
 '28-Jul-1962',
 '28-Jul-1959',
 '28-Jul-1956',
 '28-Jul-1954',
 '28-Jul-1931',
 '28-Jul-1904',
 '28-Jul-1873',
 '28-Jan-2018',
 '28-Jan-2016',
 '28-Jan-2011',
 '28-Jan-2000',
 '28-Jan-1987',
 '28-Jan-1963',
 '28-Jan-1922',
 '28-Jan-1906',
 '28-Jan-1900',
 '28-Jan-1886',
 '28-Jan-1877',
 '28-Feb-2011',
 '28-Feb-1997',
 '28-Feb-1987',
 '28-Feb-1982',
 '28-Feb-1978',
 '28-Dec-2014',
 '28-Dec-2012',
 '28-Dec-1997',
 '28-Dec-1992',
 '28-Dec-1965',
 '28-Dec-1961',
 '28-Dec-1946',
 '28-Dec-1940',
 '28-Dec-1927',
 '28-Dec-1898',
 '28-Aug-2012',
 '28-Aug-2011',
 '28-Aug-2008',
 '28-Aug-2007',
 '28-Aug-2002',
 '28-Aug-1990',
 '28-Aug-1979',
 '28-Aug-1966',
 '28-Aug-1949',
 '28-Aug-1933',
 '28-Aug-1908',
 '28-Aug-1884',
 '28-Aug-1826',
 '28-Apr-2018',
 '28-Apr-2013',
 '28-Apr-2010',
 '28-Apr-2009',
 '28-Apr-2008',
 '28-Apr-2001',
 '28-Apr-1988',
 '28-Apr-1957',
 '28-Apr-1894',
 '28-Apr-1884',
 '27-Sep-2010',
 '27-Sep-2007',
 '27-Sep-2005',
 '27-Sep-2002',
 '27-Sep-1998',
 '27-Sep-1982',
 '27-Sep-1981',
 '27-Sep-1978',
 '27-Sep-1966',
 '27-Sep-1953',
 '27-Sep-1939',
 '27-Sep-1931',
 '27-Sep-1906',
 '27-Oct-2012',
 '27-Oct-2003',
 '27-Oct-1990',
 '27-Oct-1980',
 '27-Oct-1971',
 '27-Oct-1956',
 '27-Oct-1937',
 '27-Oct-1753',
 '27-Nov-2010',
 '27-Nov-2005',
 '27-Nov-2004',
 '27-Nov-2003',
 '27-Nov-1979',
 '27-Nov-1976',
 '27-Nov-1960',
 '27-Nov-1941',
 '27-Nov-1936',
 '27-Nov-1921',
 '27-Nov-1913',
 '27-Nov-1875',
 '27-May-2018',
 '27-May-2017',
 '27-May-2013',
 '27-May-2006',
 '27-May-2005',
 '27-May-1988',
 '27-May-1930',
 '27-Mar-2017',
 '27-Mar-2010',
 '27-Mar-2009',
 '27-Mar-2005',
 '27-Mar-2004',
 '27-Mar-1993',
 '27-Mar-1913',
 '27-Mar-1841',
 '27-Jun-2016',
 '27-Jun-2015',
 '27-Jun-2014',
 '27-Jun-2010',
 '27-Jun-2009',
 '27-Jun-2006',
 '27-Jun-2005',
 '27-Jun-1960',
 '27-Jun-1954',
 '27-Jun-1947',
 '27-Jun-1920',
 '27-Jul-2017',
 '27-Jul-2016',
 '27-Jul-2014',
 '27-Jul-2008',
 '27-Jul-2005',
 '27-Jul-2004',
 '27-Jul-1997',
 '27-Jul-1991',
 '27-Jul-1980',
 '27-Jul-1978',
 '27-Jul-1969',
 '27-Jul-1968',
 '27-Jul-1964',
 '27-Jul-1960',
 '27-Jul-1958',
 '27-Jul-1952',
 '27-Jul-1947',
 '27-Jul-1904',
 '27-Jul-1870',
 '27-Jul-1751',
 '27-Jan-2015',
 '27-Jan-2012',
 '27-Jan-2010',
 '27-Jan-2008',
 '27-Jan-1985',
 '27-Jan-1969',
 '27-Jan-1964',
 '27-Jan-1962',
 '27-Jan-1959',
 '27-Jan-1958',
 '27-Jan-1937',
 '27-Jan-1934',
 '27-Jan-1932',
 '27-Jan-1929',
 '27-Jan-1928',
 '27-Jan-1925',
 '27-Jan-1923',
 '27-Feb-2013',
 '27-Feb-2006',
 '27-Feb-2003',
 '27-Feb-1994',
 '27-Feb-1982',
 '27-Feb-1973',
 '27-Feb-1966',
 '27-Feb-1963',
 '27-Feb-1960',
 '27-Feb-1959',
 '27-Feb-1954',
 '27-Feb-1944',
 '27-Feb-1895',
 '27-Dec-2016',
 '27-Dec-2008',
 '27-Dec-1966',
 '27-Dec-1961',
 '27-Dec-1960',
 '27-Dec-1958',
 '27-Dec-1948',
 '27-Dec-1938',
 '27-Dec-1900',
 '27-Dec-1890',
 '27-Aug-2017',
 '27-Aug-2016',
 '27-Aug-2014',
 '27-Aug-2008',
 '27-Aug-2006',
 '27-Aug-2001',
 '27-Aug-2000',
 '27-Aug-1997',
 '27-Aug-1995',
 '27-Aug-1967',
 '27-Aug-1966',
 '27-Aug-1934',
 '27-Apr-2017',
 '27-Apr-2008',
 '27-Apr-1931',
 '27-Apr-1909',
 '27-Apr-1906',
 '26-Sep-2016',
 '26-Sep-2015',
 '26-Sep-2009',
 '26-Sep-1994',
 '26-Sep-1993',
 '26-Sep-1961',
 '26-Sep-1959',
 '26-Sep-1932',
 '26-Sep-1930',
 '26-Sep-1922',
 '26-Sep-1785',
 '26-Oct-2017',
 '26-Oct-2013',
 '26-Oct-1993',
 '26-Oct-1987',
 '26-Oct-1946',
 '26-Oct-1944',
 '26-Oct-1911',
 '26-Nov-2004',
 '26-Nov-1991',
 '26-Nov-1978',
 '26-Nov-1931',
 '26-Nov-1909',
 '26-Nov-1885',
 '26-May-2018',
 '26-May-2008',
 '26-May-2007',
 '26-May-1997',
 '26-May-1995',
 '26-May-1991',
 '26-May-1985',
 '26-May-1974',
 '26-May-1956',
 '26-May-1954',
 '26-May-1938',
 '26-May-1870',
 '26-Mar-2016',
 '26-Mar-2015',
 '26-Mar-2000',
 '26-Mar-1973',
 '26-Mar-1951',
 '26-Mar-1950',
 '26-Mar-1944',
 '26-Mar-1907',
 '26-Mar-1905',
 '26-Jun-2015',
 '26-Jun-2012',
 '26-Jun-2008',
 '26-Jun-2006',
 '26-Jun-2004',
 ...]

In [94]:
def date(x): #si la fecha no inicia con un número, regresa not certain
    if bool(re.search(r"^\d+", x.lower())) == False:
        x = "Not certain"
        return x
    else:
        return x
                      
df.Date = df.Date.apply(date) 
lista_date = list(df.Date.unique())
lista_date.sort(reverse=True)
lista_date

['Not certain',
 '9-Mar-2018',
 '9-Jul-2014',
 '9-Aug-1890',
 '8-Sep-1966',
 '8-Aug-1942',
 '77  A.D.',
 '7-Dec-1952',
 '6-Dec-1951',
 '6-Aug-2005',
 '6-Apr-1971',
 '5-Mar-1986',
 '5-Jul-2014',
 '5-Jul-1975',
 '5-Jul-1970',
 '5-Feb-1970',
 '5-Apr-1971',
 '493 B.C.',
 '4-Feb-1940',
 '4-Apr-1970',
 '31-Oct-2017',
 '31-Oct-2014',
 '31-Oct-2013',
 '31-Oct-2006',
 '31-Oct-2004',
 '31-Oct-2003',
 '31-Oct-1964',
 '31-Oct-1932',
 '31-Oct-1924',
 '31-May-2016',
 '31-May-2012',
 '31-May-2009',
 '31-May-2006',
 '31-May-2002',
 '31-May-1997',
 '31-May-1995',
 '31-May-1994',
 '31-May-1983',
 '31-May-1944',
 '31-May-1929',
 '31-May-1917',
 '31-May-1914',
 '31-Mar-2018',
 '31-Mar-2016',
 '31-Mar-2012',
 '31-Mar-2007',
 '31-Mar-2004',
 '31-Mar-2000',
 '31-Mar-1998',
 '31-Mar-1988',
 '31-Mar-1960',
 '31-Mar-1940',
 '31-Mar-1910',
 '31-Jul-2017',
 '31-Jul-2015',
 '31-Jul-2013',
 '31-Jul-2012',
 '31-Jul-2009',
 '31-Jul-2004',
 '31-Jul-1966',
 '31-Jul-1958',
 '31-Jul-1953',
 '31-Jul-1924',
 '31-Jul-1900',
 '31-Jan-2011',
 '31-Jan-2010',
 '31-Jan-1994',
 '31-Jan-1980',
 '31-Jan-1959',
 '31-Jan-1889',
 '31-Dec-2017',
 '31-Dec-2012',
 '31-Dec-2011',
 '31-Dec-2003',
 '31-Dec-1999',
 '31-Dec-1986',
 '31-Dec-1977',
 '31-Dec-1972',
 '31-Dec-1966',
 '31-Dec-1957',
 '31-Dec-1955',
 '31-Dec-1950',
 '31-Dec-1934',
 '31-Dec-1908',
 '31-Dec-1891',
 '31-Aug-2014',
 '31-Aug-2013',
 '31-Aug-2012',
 '31-Aug-2011',
 '31-Aug-2001',
 '31-Aug-2000',
 '31-Aug-1995',
 '31-Aug-1977',
 '31-Aug-1931',
 '31-Aug-1930',
 '31-Aug-1848',
 '30-Sep-2007',
 '30-Sep-2002',
 '30-Sep-2001',
 '30-Sep-1995',
 '30-Sep-1993',
 '30-Sep-1984',
 '30-Sep-1982',
 '30-Sep-1962',
 '30-Sep-1959',
 '30-Sep-1942',
 '30-Sep-1855',
 '30-Sep-1846',
 '30-Oct-2016',
 '30-Oct-2015',
 '30-Oct-2012',
 '30-Oct-2010',
 '30-Oct-2009',
 '30-Oct-2002',
 '30-Oct-1999',
 '30-Oct-1993',
 '30-Oct-1990',
 '30-Oct-1966',
 '30-Nov-2017',
 '30-Nov-2013',
 '30-Nov-2012',
 '30-Nov-2010',
 '30-Nov-2003',
 '30-Nov-1999',
 '30-Nov-1986',
 '30-Nov-1984',
 '30-Nov-1981',
 '30-Nov-1969',
 '30-Nov-1967',
 '30-Nov-1963',
 '30-Nov-1930',
 '30-Nov-1912',
 '30-Nov-1872',
 '30-Nov-1847',
 '30-May-2017',
 '30-May-2011',
 '30-May-2010',
 '30-May-1998',
 '30-May-1964',
 '30-May-1959',
 '30-May-1937',
 '30-Mar-2016',
 '30-Mar-2000',
 '30-Mar-1987',
 '30-Mar-1983',
 '30-Mar-1971',
 '30-Mar-1963',
 '30-Mar-1961',
 '30-Mar-1952',
 '30-Mar-1936',
 '30-Mar-1935',
 '30-Mar-1878',
 '30-Jun-2015',
 '30-Jun-2013',
 '30-Jun-2011',
 '30-Jun-2007',
 '30-Jun-2003',
 '30-Jun-2000',
 '30-Jun-1995',
 '30-Jun-1993',
 '30-Jun-1971',
 '30-Jun-1940',
 '30-Jun-1916',
 '30-Jul-2013',
 '30-Jul-2012',
 '30-Jul-2009',
 '30-Jul-2008',
 '30-Jul-2004',
 '30-Jul-1993',
 '30-Jul-1991',
 '30-Jul-1975',
 '30-Jul-1964',
 '30-Jul-1954',
 '30-Jul-1945',
 '30-Jul-1901',
 '30-Jan-2015',
 '30-Jan-2002',
 '30-Jan-1963',
 '30-Jan-1960',
 '30-Jan-1954',
 '30-Jan-1901',
 '30-Jan-1893',
 '30-Dec-2017',
 '30-Dec-2012',
 '30-Dec-1994',
 '30-Dec-1967',
 '30-Dec-1962',
 '30-Dec-1957',
 '30-Dec-1953',
 '30-Dec-1936',
 '30-Dec-1919',
 '30-Aug-2009',
 '30-Aug-2008',
 '30-Aug-2000',
 '30-Aug-1998',
 '30-Aug-1997',
 '30-Aug-1962',
 '30-Aug-1960',
 '30-Aug-1955',
 '30-Aug-1932',
 '30-Aug-1912',
 '30-Aug-1891',
 '30-Aug-1879',
 '30-Apr-2018',
 '30-Apr-2002',
 '30-Apr-1960',
 '30-Apr-1958',
 '30-Apr-1830',
 '3-Jul-2014',
 '3-Jul-1879',
 '29-Sep-2015',
 '29-Sep-2013',
 '29-Sep-2006',
 '29-Sep-2003',
 '29-Sep-2002',
 '29-Sep-2000',
 '29-Sep-1999',
 '29-Sep-1973',
 '29-Sep-1963',
 '29-Sep-1951',
 '29-Sep-1922',
 '29-Sep-1905',
 '29-Oct-2016',
 '29-Oct-2014',
 '29-Oct-2011',
 '29-Oct-2009',
 '29-Oct-2007',
 '29-Oct-2005',
 '29-Oct-2000',
 '29-Oct-1992',
 '29-Oct-1989',
 '29-Oct-1968',
 '29-Oct-1926',
 '29-Nov2013',
 '29-Nov-2014',
 '29-Nov-2011',
 '29-Nov-2005',
 '29-Nov-1996',
 '29-Nov-1992',
 '29-Nov-1964',
 '29-Nov-1962',
 '29-Nov-1959',
 '29-Nov-1951',
 '29-Nov-1950',
 '29-Nov-1929',
 '29-Nov-1920',
 '29-Nov-1891',
 '29-May-2016',
 '29-May-2015',
 '29-May-2012',
 '29-May-2011',
 '29-May-2004',
 '29-May-2001',
 '29-May-1999',
 '29-May-1998',
 '29-May-1965',
 '29-May-1962',
 '29-May-1960',
 '29-May-1919',
 '29-Mar-2013',
 '29-Mar-2011',
 '29-Mar-2004',
 '29-Mar-1980',
 '29-Mar-1959',
 '29-Mar-1915',
 '29-Mar-1911',
 '29-Mar-1895',
 '29-Jun-2011',
 '29-Jun-1991',
 '29-Jun-1989',
 '29-Jun-1983',
 '29-Jun-1982',
 '29-Jun-1960',
 '29-Jun-1954',
 '29-Jun-1920',
 '29-Jul-2017',
 '29-Jul-2016',
 '29-Jul-2013',
 '29-Jul-2009',
 '29-Jul-2007',
 '29-Jul-2006',
 '29-Jul-1999',
 '29-Jul-1967',
 '29-Jul-1961',
 '29-Jul-1929',
 '29-Jul-1905',
 '29-Jan-2016',
 '29-Jan-2008',
 '29-Jan-1999',
 '29-Jan-1992',
 '29-Jan-1982',
 '29-Jan-1966',
 '29-Jan-1941',
 '29-Jan-1940',
 '29-Jan-1924',
 '29-Feb-2004',
 '29-Dec-2014',
 '29-Dec-2009',
 '29-Dec-2002',
 '29-Dec-1978',
 '29-Dec-1976',
 '29-Dec-1963',
 '29-Dec-1954',
 '29-Aug-2017',
 '29-Aug-2016',
 '29-Aug-2015',
 '29-Aug-2014',
 '29-Aug-2009',
 '29-Aug-2006',
 '29-Aug-2004',
 '29-Aug-2003',
 '29-Aug-2001',
 '29-Aug-1996',
 '29-Aug-1992',
 '29-Aug-1989',
 '29-Aug-1982',
 '29-Aug-1981',
 '29-Aug-1972',
 '29-Aug-1969',
 '29-Aug-1962',
 '29-Aug-1960',
 '29-Aug-1929',
 '29-Aug-1902',
 '29-Aug-1891',
 '29-Aug-1871',
 '29-Apr-2017',
 '29-Apr-2015',
 '29-Apr-1895',
 '29-Apr-1853',
 '28-Sept-1853',
 '28-Sep-2011',
 '28-Sep-2008',
 '28-Sep-2007',
 '28-Sep-2003',
 '28-Sep-1995',
 '28-Sep-1988',
 '28-Sep-1985',
 '28-Sep-1981',
 '28-Sep-1974',
 '28-Sep-1970',
 '28-Sep-1922',
 '28-Sep-1828',
 '28-Oct-2017',
 '28-Oct-2015',
 '28-Oct-2013',
 '28-Oct-2011',
 '28-Oct-2010',
 '28-Oct-2009',
 '28-Oct-1997',
 '28-Oct-1996',
 '28-Oct-1995',
 '28-Oct-1962',
 '28-Oct-1950',
 '28-Oct-1947',
 '28-Oct-1899',
 '28-Oct-1898',
 '28-Nov-2016',
 '28-Nov-2011',
 '28-Nov-2008',
 '28-Nov-2002',
 '28-Nov-1993',
 '28-Nov-1990',
 '28-Nov-1963',
 '28-Nov-1959',
 '28-Nov-1951',
 '28-Nov-1942',
 '28-Nov-1910',
 '28-Nov-1894',
 '28-May-2017',
 '28-May-2005',
 '28-May-2004',
 '28-May-1996',
 '28-May-1994',
 '28-May-1972',
 '28-May-1965',
 '28-Mar-2016',
 '28-Mar-2008',
 '28-Mar-2005',
 '28-Mar-2004',
 '28-Mar-1992',
 '28-Mar-1980',
 '28-Mar-1964',
 '28-Mar-1960',
 '28-Mar-1928',
 '28-Mar-1924',
 '28-Mar-1885',
 '28-Mar-1855',
 '28-Jun-2011',
 '28-Jun-2008',
 '28-Jun-1998',
 '28-Jun-1992',
 '28-Jun-1991',
 '28-Jun-1956',
 '28-Jun-1946',
 '28-Jun-1937',
 '28-Jun-1932',
 '28-Jul-2016',
 '28-Jul-2015',
 '28-Jul-2013',
 '28-Jul-2007',
 '28-Jul-2006',
 '28-Jul-2004',
 '28-Jul-1995',
 '28-Jul-1963',
 '28-Jul-1962',
 '28-Jul-1959',
 '28-Jul-1956',
 '28-Jul-1954',
 '28-Jul-1931',
 '28-Jul-1904',
 '28-Jul-1873',
 '28-Jan-2018',
 '28-Jan-2016',
 '28-Jan-2011',
 '28-Jan-2000',
 '28-Jan-1987',
 '28-Jan-1963',
 '28-Jan-1922',
 '28-Jan-1906',
 '28-Jan-1900',
 '28-Jan-1886',
 '28-Jan-1877',
 '28-Feb-2011',
 '28-Feb-1997',
 '28-Feb-1987',
 '28-Feb-1982',
 '28-Feb-1978',
 '28-Dec-2014',
 '28-Dec-2012',
 '28-Dec-1997',
 '28-Dec-1992',
 '28-Dec-1965',
 '28-Dec-1961',
 '28-Dec-1946',
 '28-Dec-1940',
 '28-Dec-1927',
 '28-Dec-1898',
 '28-Aug-2012',
 '28-Aug-2011',
 '28-Aug-2008',
 '28-Aug-2007',
 '28-Aug-2002',
 '28-Aug-1990',
 '28-Aug-1979',
 '28-Aug-1966',
 '28-Aug-1949',
 '28-Aug-1933',
 '28-Aug-1908',
 '28-Aug-1884',
 '28-Aug-1826',
 '28-Apr-2018',
 '28-Apr-2013',
 '28-Apr-2010',
 '28-Apr-2009',
 '28-Apr-2008',
 '28-Apr-2001',
 '28-Apr-1988',
 '28-Apr-1957',
 '28-Apr-1894',
 '28-Apr-1884',
 '27-Sep-2010',
 '27-Sep-2007',
 '27-Sep-2005',
 '27-Sep-2002',
 '27-Sep-1998',
 '27-Sep-1982',
 '27-Sep-1981',
 '27-Sep-1978',
 '27-Sep-1966',
 '27-Sep-1953',
 '27-Sep-1939',
 '27-Sep-1931',
 '27-Sep-1906',
 '27-Oct-2012',
 '27-Oct-2003',
 '27-Oct-1990',
 '27-Oct-1980',
 '27-Oct-1971',
 '27-Oct-1956',
 '27-Oct-1937',
 '27-Oct-1753',
 '27-Nov-2010',
 '27-Nov-2005',
 '27-Nov-2004',
 '27-Nov-2003',
 '27-Nov-1979',
 '27-Nov-1976',
 '27-Nov-1960',
 '27-Nov-1941',
 '27-Nov-1936',
 '27-Nov-1921',
 '27-Nov-1913',
 '27-Nov-1875',
 '27-May-2018',
 '27-May-2017',
 '27-May-2013',
 '27-May-2006',
 '27-May-2005',
 '27-May-1988',
 '27-May-1930',
 '27-Mar-2017',
 '27-Mar-2010',
 '27-Mar-2009',
 '27-Mar-2005',
 '27-Mar-2004',
 '27-Mar-1993',
 '27-Mar-1913',
 '27-Mar-1841',
 '27-Jun-2016',
 '27-Jun-2015',
 '27-Jun-2014',
 '27-Jun-2010',
 '27-Jun-2009',
 '27-Jun-2006',
 '27-Jun-2005',
 '27-Jun-1960',
 '27-Jun-1954',
 '27-Jun-1947',
 '27-Jun-1920',
 '27-Jul-2017',
 '27-Jul-2016',
 '27-Jul-2014',
 '27-Jul-2008',
 '27-Jul-2005',
 '27-Jul-2004',
 '27-Jul-1997',
 '27-Jul-1991',
 '27-Jul-1980',
 '27-Jul-1978',
 '27-Jul-1969',
 '27-Jul-1968',
 '27-Jul-1964',
 '27-Jul-1960',
 '27-Jul-1958',
 '27-Jul-1952',
 '27-Jul-1947',
 '27-Jul-1904',
 '27-Jul-1870',
 '27-Jul-1751',
 '27-Jan-2015',
 '27-Jan-2012',
 '27-Jan-2010',
 '27-Jan-2008',
 '27-Jan-1985',
 '27-Jan-1969',
 '27-Jan-1964',
 '27-Jan-1962',
 '27-Jan-1959',
 '27-Jan-1958',
 '27-Jan-1937',
 '27-Jan-1934',
 '27-Jan-1932',
 '27-Jan-1929',
 '27-Jan-1928',
 '27-Jan-1925',
 '27-Jan-1923',
 '27-Feb-2013',
 '27-Feb-2006',
 '27-Feb-2003',
 '27-Feb-1994',
 '27-Feb-1982',
 '27-Feb-1973',
 '27-Feb-1966',
 '27-Feb-1963',
 '27-Feb-1960',
 '27-Feb-1959',
 '27-Feb-1954',
 '27-Feb-1944',
 '27-Feb-1895',
 '27-Dec-2016',
 '27-Dec-2008',
 '27-Dec-1966',
 '27-Dec-1961',
 '27-Dec-1960',
 '27-Dec-1958',
 '27-Dec-1948',
 '27-Dec-1938',
 '27-Dec-1900',
 '27-Dec-1890',
 '27-Aug-2017',
 '27-Aug-2016',
 '27-Aug-2014',
 '27-Aug-2008',
 '27-Aug-2006',
 '27-Aug-2001',
 '27-Aug-2000',
 '27-Aug-1997',
 '27-Aug-1995',
 '27-Aug-1967',
 '27-Aug-1966',
 '27-Aug-1934',
 '27-Apr-2017',
 '27-Apr-2008',
 '27-Apr-1931',
 '27-Apr-1909',
 '27-Apr-1906',
 '26-Sep-2016',
 '26-Sep-2015',
 '26-Sep-2009',
 '26-Sep-1994',
 '26-Sep-1993',
 '26-Sep-1961',
 '26-Sep-1959',
 '26-Sep-1932',
 '26-Sep-1930',
 '26-Sep-1922',
 '26-Sep-1785',
 '26-Oct-2017',
 '26-Oct-2013',
 '26-Oct-1993',
 '26-Oct-1987',
 '26-Oct-1946',
 '26-Oct-1944',
 '26-Oct-1911',
 '26-Nov-2004',
 '26-Nov-1991',
 '26-Nov-1978',
 '26-Nov-1931',
 '26-Nov-1909',
 '26-Nov-1885',
 '26-May-2018',
 '26-May-2008',
 '26-May-2007',
 '26-May-1997',
 '26-May-1995',
 '26-May-1991',
 '26-May-1985',
 '26-May-1974',
 '26-May-1956',
 '26-May-1954',
 '26-May-1938',
 '26-May-1870',
 '26-Mar-2016',
 '26-Mar-2015',
 '26-Mar-2000',
 '26-Mar-1973',
 '26-Mar-1951',
 '26-Mar-1950',
 '26-Mar-1944',
 '26-Mar-1907',
 '26-Mar-1905',
 '26-Jun-2015',
 '26-Jun-2012',
 '26-Jun-2008',
 '26-Jun-2006',
 '26-Jun-2004',
 '26-Jun-2003',
 '26-Jun-1991',
 '26-Jun-1982',
 '26-Jun-1980',
 '26-Jun-1977',
 '26-Jun-1972',
 '26-Jun-1959',
 '26-Jun-1958',
 '26-Jun-1936',
 '26-Jun-1932',
 '26-Jun-1909',
 '26-Jul-2016',
 '26-Jul-2015',
 '26-Jul-2008',
 '26-Jul-2003',
 '26-Jul-2002',
 '26-Jul-2001',
 '26-Jul-1999',
 '26-Jul-1998',
 '26-Jul-1983',
 '26-Jul-1980',
 '26-Jul-1975',
 '26-Jul-1974',
 '26-Jul-1971',
 '26-Jul-1965',
 '26-Jul-1956',
 '26-Jul-1953',
 '26-Jul-1916',
 '26-Jul-1885',
 '26-Jul-1830',
 '26-Jan-2014',
 '26-Jan-2013',
 '26-Jan-2011',
 '26-Jan-1989',
 '26-Jan-1960',
 '26-Jan-1943',
 '26-Jan-1926',
 '26-Jan-1912',
 '26-Jan-1910',
 '26-Jan-1886',
 '26-Jan-1867',
 '26-Feb-2012',
 '26-Feb-2005',
 '26-Feb-2004',
 '26-Feb-1996',
 '26-Feb-1977',
 '26-Feb-1968',
 '26-Feb-1956',
 '26-Feb-1939',
 '26-Feb-1933',
 '26-Feb-1883',
 '26-Feb-1872',
 '26-Feb-1852',
 '26-Dec-2015',
 '26-Dec-2010',
 '26-Dec-2009',
 '26-Dec-1999',
 '26-Dec-1972',
 '26-Dec-1968',
 '26-Dec-1966',
 '26-Dec-1963',
 '26-Dec-1959',
 '26-Dec-1957',
 '26-Dec-1956',
 '26-Dec-1948',
 '26-Dec-1942',
 '26-Dec-1929',
 '26-Dec-1913',
 '26-Dec-1860',
 '26-Aug-2017',
 '26-Aug-2013',
 '26-Aug-2012',
 '26-Aug-2011',
 '26-Aug-2007',
 '26-Aug-2001',
 '26-Aug-1999',
 '26-Aug-1998',
 '26-Aug-1995',
 '26-Aug-1991',
 '26-Aug-1979',
 '26-Aug-1976',
 '26-Aug-1967',
 '26-Aug-1965',
 '26-Aug-1964',
 '26-Aug-1955',
 '26-Aug-1935',
 '26-Aug-1934',
 '26-Aug-1933',
 '26-Apr-2015',
 '26-Apr-2011',
 '26-Apr-2008',
 '26-Apr-2007',
 '26-Apr-2004',
 '26-Apr-2003',
 '26-Apr-1998',
 '26-Apr-1977',
 '26-Apr-1929',
 '26-Apr-1922',
 '26-Apr-1886',
 '25-Sep-2017',
 '25-Sep-2013',
 '25-Sep-2012',
 '25-Sep-2000',
 '25-Sep-1982',
 '25-Sep-1971',
 '25-Sep-1941',
 '25-Sep-1861',
 '25-Oct-2015',
 '25-Oct-2010',
 '25-Oct-2005',
 '25-Oct-1990',
 '25-Oct-1962',
 '25-Oct-1960',
 '25-Oct-1944',
 '25-Oct-1939',
 '25-Oct-1933',
 '25-Oct-1927',
 '25-Oct-1911',
 '25-Oct-1890',
 '25-Nov-2006',
 '25-Nov-2005',
 '25-Nov-1995',
 '25-Nov-1992',
 '25-Nov-1976',
 '25-Nov-1973',
 '25-Nov-1971',
 '25-Nov-1963',
 '25-Nov-1950',
 '25-Nov-1942',
 '25-Nov-1941',
 '25-Nov-1924',
 '25-Nov-1880',
 '25-May-2015',
 '25-May-2011',
 '25-May-2009',
 '25-May-2005',
 '25-May-2003',
 '25-May-1998',
 '25-May-1987',
 '25-May-1975',
 '25-May-1969',
 '25-Mar-2008',
 '25-Mar-2005',
 '25-Mar-2002',
 '25-Mar-1988',
 '25-Mar-1981',
 '25-Mar-1969',
 '25-Mar-1968',
 '25-Mar-1962',
 '25-Mar-1935',
 '25-Mar-1892',
 '25-Jun-2018',
 '25-Jun-2016',
 '25-Jun-2015',
 '25-Jun-2014',
 '25-Jun-2013',
 '25-Jun-2010',
 '25-Jun-2007',
 '25-Jun-2005',
 '25-Jun-1996',
 '25-Jun-1982',
 '25-Jun-1968',
 '25-Jun-1951',
 '25-Jun-1950',
 '25-Jun-1910',
 '25-Jun-1894',
 '25-Jul-2015',
 '25-Jul-2011',
 '25-Jul-2010',
 '25-Jul-2008',
 '25-Jul-2006',
 '25-Jul-2004',
 '25-Jul-2001',
 '25-Jul-2000',
 '25-Jul-1998',
 '25-Jul-1985',
 '25-Jul-1983',
 '25-Jul-1959',
 '25-Jul-1949',
 '25-Jul-1936',
 '25-Jul-1896',
 '25-Jul-1881',
 '25-Jul-1880',
 '25-Jul-1864',
 '25-Jul-1862',
 '25-Jan-2016',
 '25-Jan-2014',
 '25-Jan-2013',
 '25-Jan-2009',
 '25-Jan-2007',
 '25-Jan-2006',
 '25-Jan-2004',
 '25-Jan-1998',
 '25-Jan-1997',
 '25-Jan-1980',
 '25-Jan-1966',
 '25-Jan-1961',
 '25-Jan-1959',
 '25-Jan-1948',
 '25-Jan-1924',
 '25-Jan-1902',
 '25-Feb-2017',
 '25-Feb-2012',
 '25-Feb-1890',
 '25-Feb-1883',
 '25-Dec-2015',
 '25-Dec-2013',
 '25-Dec-2012',
 '25-Dec-2011',
 '25-Dec-1997',
 '25-Dec-1983',
 '25-Dec-1973',
 '25-Dec-1972',
 '25-Dec-1968',
 '25-Dec-1964',
 '25-Dec-1963',
 '25-Dec-1930',
 '25-Dec-1888',
 '25-Dec-1808',
 '25-Aug-2016',
 '25-Aug-2014',
 '25-Aug-2013',
 '25-Aug-2009',
 '25-Aug-2007',
 '25-Aug-2001',
 '25-Aug-1995',
 '25-Aug-1992',
 '25-Aug-1973',
 '25-Aug-1967',
 '25-Aug-1956',
 '25-Aug-1931',
 '25-Apr-2018',
 '25-Apr-2016',
 '25-Apr-2015',
 '25-Apr-2009',
 '25-Apr-2008',
 '25-Apr-2005',
 '25-Apr-2003',
 '25-Apr-1996',
 '25-Apr-1980',
 '25-Apr-1961',
 '25-Apr-1924',
 '25-Apr-1916',
 '24-Sep-2017',
 '24-Sep-2015',
 '24-Sep-2012',
 '24-Sep-2011',
 '24-Sep-2010',
 '24-Sep-2005',
 '24-Sep-2001',
 '24-Sep-2000',
 '24-Sep-1999',
 '24-Sep-1961',
 '24-Sep-1960',
 '24-Oct-2016',
 '24-Oct-2013',
 '24-Oct-2009',
 '24-Oct-1998',
 '24-Oct-1997',
 '24-Oct-1988',
 '24-Oct-1985',
 '24-Oct-1970',
 '24-Oct-1960',
 '24-Oct-1957',
 '24-Oct-1944',
 '24-Oct-1937',
 '24-Oct-1878',
 '24-Nov-2017',
 '24-Nov-2009',
 '24-Nov-2005-',
 '24-Nov-1980',
 '24-Nov-1973',
 '24-Nov-1924',
 '24-Nov-1910',
 '24-May-2018',
 '24-May-2015',
 '24-May-2014',
 '24-May-2008',
 '24-May-2007',
 '24-May-2006',
 '24-May-1996',
 '24-May-1995',
 '24-May-1994',
 '24-May-1981',
 '24-May-1969',
 '24-May-1960',
 '24-May-1950',
 '24-May-1852',
 '24-May-1844',
 '24-May 1983',
 '24-May 1922',
 '24-Mar-2012',
 '24-Mar-2011',
 '24-Mar-2002',
 '24-Mar-2000',
 '24-Mar-1990',
 '24-Mar-1981',
 '24-Mar-1979',
 '24-Mar-1962',
 '24-Mar-1951',
 '24-Mar-1941',
 '24-Mar-1939',
 '24-Mar-1924',
 '24-Mar-1871',
 '24-Jun-2016',
 '24-Jun-2015',
 '24-Jun-2011',
 '24-Jun-2008',
 '24-Jun-2007',
 '24-Jun-2006',
 '24-Jun-2003',
 '24-Jun-1997',
 '24-Jun-1995',
 '24-Jun-1994',
 '24-Jun-1990',
 '24-Jun-1964',
 '24-Jun-1961',
 '24-Jun-1960',
 '24-Jun-1958',
 '24-Jun-1928',
 '24-Jun-1916',
 '24-Jun-1817',
 '24-Jul-2017',
 '24-Jul-2016',
 '24-Jul-2009',
 '24-Jul-2008',
 '24-Jul-2001',
 '24-Jul-1995',
 '24-Jul-1994',
 '24-Jul-1984',
 '24-Jul-1982',
 '24-Jul-1957',
 '24-Jul-1947',
 '24-Jul-1909',
 '24-Jan-2017',
 '24-Jan-2016',
 '24-Jan-2015',
 '24-Jan-2009',
 '24-Jan-2001',
 '24-Jan-1995',
 '24-Jan-1983',
 '24-Jan-1946',
 '24-Jan-1935',
 '24-Jan-1931',
 '24-Jan-1920',
 '24-Jan-1877',
 '24-Feb-2018',
 '24-Feb-2017',
 '24-Feb-2008',
 '24-Feb-1991',
 '24-Feb-1963',
 '24-Feb-1960',
 '24-Feb-1957',
 '24-Feb-1934',
 ...]

In [95]:
def date(x): #si la fecha no tiene formaro de dd-mmm-aa devuelve not certain
    if bool(re.search(r"^\d?\d-\w\w\w-\d\d\d?\d?$", x.lower())) == False:
        x = "Not certain"
        return x
    else:
        return x
                      
df.Date = df.Date.apply(date) 
lista_date = list(df.Date.unique())
lista_date.sort(reverse=True)
lista_date

['Not certain',
 '9-Mar-2018',
 '9-Jul-2014',
 '9-Aug-1890',
 '8-Sep-1966',
 '8-Aug-1942',
 '7-Dec-1952',
 '6-Dec-1951',
 '6-Aug-2005',
 '6-Apr-1971',
 '5-Mar-1986',
 '5-Jul-2014',
 '5-Jul-1975',
 '5-Jul-1970',
 '5-Feb-1970',
 '5-Apr-1971',
 '4-Feb-1940',
 '4-Apr-1970',
 '31-Oct-2017',
 '31-Oct-2014',
 '31-Oct-2013',
 '31-Oct-2006',
 '31-Oct-2004',
 '31-Oct-2003',
 '31-Oct-1964',
 '31-Oct-1932',
 '31-Oct-1924',
 '31-May-2016',
 '31-May-2012',
 '31-May-2009',
 '31-May-2006',
 '31-May-2002',
 '31-May-1997',
 '31-May-1995',
 '31-May-1994',
 '31-May-1983',
 '31-May-1944',
 '31-May-1929',
 '31-May-1917',
 '31-May-1914',
 '31-Mar-2018',
 '31-Mar-2016',
 '31-Mar-2012',
 '31-Mar-2007',
 '31-Mar-2004',
 '31-Mar-2000',
 '31-Mar-1998',
 '31-Mar-1988',
 '31-Mar-1960',
 '31-Mar-1940',
 '31-Mar-1910',
 '31-Jul-2017',
 '31-Jul-2015',
 '31-Jul-2013',
 '31-Jul-2012',
 '31-Jul-2009',
 '31-Jul-2004',
 '31-Jul-1966',
 '31-Jul-1958',
 '31-Jul-1953',
 '31-Jul-1924',
 '31-Jul-1900',
 '31-Jan-2011',
 '31-Jan-2010',
 '31-Jan-1994',
 '31-Jan-1980',
 '31-Jan-1959',
 '31-Jan-1889',
 '31-Dec-2017',
 '31-Dec-2012',
 '31-Dec-2011',
 '31-Dec-2003',
 '31-Dec-1999',
 '31-Dec-1986',
 '31-Dec-1977',
 '31-Dec-1972',
 '31-Dec-1966',
 '31-Dec-1957',
 '31-Dec-1955',
 '31-Dec-1950',
 '31-Dec-1934',
 '31-Dec-1908',
 '31-Dec-1891',
 '31-Aug-2014',
 '31-Aug-2013',
 '31-Aug-2012',
 '31-Aug-2011',
 '31-Aug-2001',
 '31-Aug-2000',
 '31-Aug-1995',
 '31-Aug-1977',
 '31-Aug-1931',
 '31-Aug-1930',
 '31-Aug-1848',
 '30-Sep-2007',
 '30-Sep-2002',
 '30-Sep-2001',
 '30-Sep-1995',
 '30-Sep-1993',
 '30-Sep-1984',
 '30-Sep-1982',
 '30-Sep-1962',
 '30-Sep-1959',
 '30-Sep-1942',
 '30-Sep-1855',
 '30-Sep-1846',
 '30-Oct-2016',
 '30-Oct-2015',
 '30-Oct-2012',
 '30-Oct-2010',
 '30-Oct-2009',
 '30-Oct-2002',
 '30-Oct-1999',
 '30-Oct-1993',
 '30-Oct-1990',
 '30-Oct-1966',
 '30-Nov-2017',
 '30-Nov-2013',
 '30-Nov-2012',
 '30-Nov-2010',
 '30-Nov-2003',
 '30-Nov-1999',
 '30-Nov-1986',
 '30-Nov-1984',
 '30-Nov-1981',
 '30-Nov-1969',
 '30-Nov-1967',
 '30-Nov-1963',
 '30-Nov-1930',
 '30-Nov-1912',
 '30-Nov-1872',
 '30-Nov-1847',
 '30-May-2017',
 '30-May-2011',
 '30-May-2010',
 '30-May-1998',
 '30-May-1964',
 '30-May-1959',
 '30-May-1937',
 '30-Mar-2016',
 '30-Mar-2000',
 '30-Mar-1987',
 '30-Mar-1983',
 '30-Mar-1971',
 '30-Mar-1963',
 '30-Mar-1961',
 '30-Mar-1952',
 '30-Mar-1936',
 '30-Mar-1935',
 '30-Mar-1878',
 '30-Jun-2015',
 '30-Jun-2013',
 '30-Jun-2011',
 '30-Jun-2007',
 '30-Jun-2003',
 '30-Jun-2000',
 '30-Jun-1995',
 '30-Jun-1993',
 '30-Jun-1971',
 '30-Jun-1940',
 '30-Jun-1916',
 '30-Jul-2013',
 '30-Jul-2012',
 '30-Jul-2009',
 '30-Jul-2008',
 '30-Jul-2004',
 '30-Jul-1993',
 '30-Jul-1991',
 '30-Jul-1975',
 '30-Jul-1964',
 '30-Jul-1954',
 '30-Jul-1945',
 '30-Jul-1901',
 '30-Jan-2015',
 '30-Jan-2002',
 '30-Jan-1963',
 '30-Jan-1960',
 '30-Jan-1954',
 '30-Jan-1901',
 '30-Jan-1893',
 '30-Dec-2017',
 '30-Dec-2012',
 '30-Dec-1994',
 '30-Dec-1967',
 '30-Dec-1962',
 '30-Dec-1957',
 '30-Dec-1953',
 '30-Dec-1936',
 '30-Dec-1919',
 '30-Aug-2009',
 '30-Aug-2008',
 '30-Aug-2000',
 '30-Aug-1998',
 '30-Aug-1997',
 '30-Aug-1962',
 '30-Aug-1960',
 '30-Aug-1955',
 '30-Aug-1932',
 '30-Aug-1912',
 '30-Aug-1891',
 '30-Aug-1879',
 '30-Apr-2018',
 '30-Apr-2002',
 '30-Apr-1960',
 '30-Apr-1958',
 '30-Apr-1830',
 '3-Jul-2014',
 '3-Jul-1879',
 '29-Sep-2015',
 '29-Sep-2013',
 '29-Sep-2006',
 '29-Sep-2003',
 '29-Sep-2002',
 '29-Sep-2000',
 '29-Sep-1999',
 '29-Sep-1973',
 '29-Sep-1963',
 '29-Sep-1951',
 '29-Sep-1922',
 '29-Sep-1905',
 '29-Oct-2016',
 '29-Oct-2014',
 '29-Oct-2011',
 '29-Oct-2009',
 '29-Oct-2007',
 '29-Oct-2005',
 '29-Oct-2000',
 '29-Oct-1992',
 '29-Oct-1989',
 '29-Oct-1968',
 '29-Oct-1926',
 '29-Nov-2014',
 '29-Nov-2011',
 '29-Nov-2005',
 '29-Nov-1996',
 '29-Nov-1992',
 '29-Nov-1964',
 '29-Nov-1962',
 '29-Nov-1959',
 '29-Nov-1951',
 '29-Nov-1950',
 '29-Nov-1929',
 '29-Nov-1920',
 '29-Nov-1891',
 '29-May-2016',
 '29-May-2015',
 '29-May-2012',
 '29-May-2011',
 '29-May-2004',
 '29-May-2001',
 '29-May-1999',
 '29-May-1998',
 '29-May-1965',
 '29-May-1962',
 '29-May-1960',
 '29-May-1919',
 '29-Mar-2013',
 '29-Mar-2011',
 '29-Mar-2004',
 '29-Mar-1980',
 '29-Mar-1959',
 '29-Mar-1915',
 '29-Mar-1911',
 '29-Mar-1895',
 '29-Jun-2011',
 '29-Jun-1991',
 '29-Jun-1989',
 '29-Jun-1983',
 '29-Jun-1982',
 '29-Jun-1960',
 '29-Jun-1954',
 '29-Jun-1920',
 '29-Jul-2017',
 '29-Jul-2016',
 '29-Jul-2013',
 '29-Jul-2009',
 '29-Jul-2007',
 '29-Jul-2006',
 '29-Jul-1999',
 '29-Jul-1967',
 '29-Jul-1961',
 '29-Jul-1929',
 '29-Jul-1905',
 '29-Jan-2016',
 '29-Jan-2008',
 '29-Jan-1999',
 '29-Jan-1992',
 '29-Jan-1982',
 '29-Jan-1966',
 '29-Jan-1941',
 '29-Jan-1940',
 '29-Jan-1924',
 '29-Feb-2004',
 '29-Dec-2014',
 '29-Dec-2009',
 '29-Dec-2002',
 '29-Dec-1978',
 '29-Dec-1976',
 '29-Dec-1963',
 '29-Dec-1954',
 '29-Aug-2017',
 '29-Aug-2016',
 '29-Aug-2015',
 '29-Aug-2014',
 '29-Aug-2009',
 '29-Aug-2006',
 '29-Aug-2004',
 '29-Aug-2003',
 '29-Aug-2001',
 '29-Aug-1996',
 '29-Aug-1992',
 '29-Aug-1989',
 '29-Aug-1982',
 '29-Aug-1981',
 '29-Aug-1972',
 '29-Aug-1969',
 '29-Aug-1962',
 '29-Aug-1960',
 '29-Aug-1929',
 '29-Aug-1902',
 '29-Aug-1891',
 '29-Aug-1871',
 '29-Apr-2017',
 '29-Apr-2015',
 '29-Apr-1895',
 '29-Apr-1853',
 '28-Sep-2011',
 '28-Sep-2008',
 '28-Sep-2007',
 '28-Sep-2003',
 '28-Sep-1995',
 '28-Sep-1988',
 '28-Sep-1985',
 '28-Sep-1981',
 '28-Sep-1974',
 '28-Sep-1970',
 '28-Sep-1922',
 '28-Sep-1828',
 '28-Oct-2017',
 '28-Oct-2015',
 '28-Oct-2013',
 '28-Oct-2011',
 '28-Oct-2010',
 '28-Oct-2009',
 '28-Oct-1997',
 '28-Oct-1996',
 '28-Oct-1995',
 '28-Oct-1962',
 '28-Oct-1950',
 '28-Oct-1947',
 '28-Oct-1899',
 '28-Oct-1898',
 '28-Nov-2016',
 '28-Nov-2011',
 '28-Nov-2008',
 '28-Nov-2002',
 '28-Nov-1993',
 '28-Nov-1990',
 '28-Nov-1963',
 '28-Nov-1959',
 '28-Nov-1951',
 '28-Nov-1942',
 '28-Nov-1910',
 '28-Nov-1894',
 '28-May-2017',
 '28-May-2005',
 '28-May-2004',
 '28-May-1996',
 '28-May-1994',
 '28-May-1972',
 '28-May-1965',
 '28-Mar-2016',
 '28-Mar-2008',
 '28-Mar-2005',
 '28-Mar-2004',
 '28-Mar-1992',
 '28-Mar-1980',
 '28-Mar-1964',
 '28-Mar-1960',
 '28-Mar-1928',
 '28-Mar-1924',
 '28-Mar-1885',
 '28-Mar-1855',
 '28-Jun-2011',
 '28-Jun-2008',
 '28-Jun-1998',
 '28-Jun-1992',
 '28-Jun-1991',
 '28-Jun-1956',
 '28-Jun-1946',
 '28-Jun-1937',
 '28-Jun-1932',
 '28-Jul-2016',
 '28-Jul-2015',
 '28-Jul-2013',
 '28-Jul-2007',
 '28-Jul-2006',
 '28-Jul-2004',
 '28-Jul-1995',
 '28-Jul-1963',
 '28-Jul-1962',
 '28-Jul-1959',
 '28-Jul-1956',
 '28-Jul-1954',
 '28-Jul-1931',
 '28-Jul-1904',
 '28-Jul-1873',
 '28-Jan-2018',
 '28-Jan-2016',
 '28-Jan-2011',
 '28-Jan-2000',
 '28-Jan-1987',
 '28-Jan-1963',
 '28-Jan-1922',
 '28-Jan-1906',
 '28-Jan-1900',
 '28-Jan-1886',
 '28-Jan-1877',
 '28-Feb-2011',
 '28-Feb-1997',
 '28-Feb-1987',
 '28-Feb-1982',
 '28-Feb-1978',
 '28-Dec-2014',
 '28-Dec-2012',
 '28-Dec-1997',
 '28-Dec-1992',
 '28-Dec-1965',
 '28-Dec-1961',
 '28-Dec-1946',
 '28-Dec-1940',
 '28-Dec-1927',
 '28-Dec-1898',
 '28-Aug-2012',
 '28-Aug-2011',
 '28-Aug-2008',
 '28-Aug-2007',
 '28-Aug-2002',
 '28-Aug-1990',
 '28-Aug-1979',
 '28-Aug-1966',
 '28-Aug-1949',
 '28-Aug-1933',
 '28-Aug-1908',
 '28-Aug-1884',
 '28-Aug-1826',
 '28-Apr-2018',
 '28-Apr-2013',
 '28-Apr-2010',
 '28-Apr-2009',
 '28-Apr-2008',
 '28-Apr-2001',
 '28-Apr-1988',
 '28-Apr-1957',
 '28-Apr-1894',
 '28-Apr-1884',
 '27-Sep-2010',
 '27-Sep-2007',
 '27-Sep-2005',
 '27-Sep-2002',
 '27-Sep-1998',
 '27-Sep-1982',
 '27-Sep-1981',
 '27-Sep-1978',
 '27-Sep-1966',
 '27-Sep-1953',
 '27-Sep-1939',
 '27-Sep-1931',
 '27-Sep-1906',
 '27-Oct-2012',
 '27-Oct-2003',
 '27-Oct-1990',
 '27-Oct-1980',
 '27-Oct-1971',
 '27-Oct-1956',
 '27-Oct-1937',
 '27-Oct-1753',
 '27-Nov-2010',
 '27-Nov-2005',
 '27-Nov-2004',
 '27-Nov-2003',
 '27-Nov-1979',
 '27-Nov-1976',
 '27-Nov-1960',
 '27-Nov-1941',
 '27-Nov-1936',
 '27-Nov-1921',
 '27-Nov-1913',
 '27-Nov-1875',
 '27-May-2018',
 '27-May-2017',
 '27-May-2013',
 '27-May-2006',
 '27-May-2005',
 '27-May-1988',
 '27-May-1930',
 '27-Mar-2017',
 '27-Mar-2010',
 '27-Mar-2009',
 '27-Mar-2005',
 '27-Mar-2004',
 '27-Mar-1993',
 '27-Mar-1913',
 '27-Mar-1841',
 '27-Jun-2016',
 '27-Jun-2015',
 '27-Jun-2014',
 '27-Jun-2010',
 '27-Jun-2009',
 '27-Jun-2006',
 '27-Jun-2005',
 '27-Jun-1960',
 '27-Jun-1954',
 '27-Jun-1947',
 '27-Jun-1920',
 '27-Jul-2017',
 '27-Jul-2016',
 '27-Jul-2014',
 '27-Jul-2008',
 '27-Jul-2005',
 '27-Jul-2004',
 '27-Jul-1997',
 '27-Jul-1991',
 '27-Jul-1980',
 '27-Jul-1978',
 '27-Jul-1969',
 '27-Jul-1968',
 '27-Jul-1964',
 '27-Jul-1960',
 '27-Jul-1958',
 '27-Jul-1952',
 '27-Jul-1947',
 '27-Jul-1904',
 '27-Jul-1870',
 '27-Jul-1751',
 '27-Jan-2015',
 '27-Jan-2012',
 '27-Jan-2010',
 '27-Jan-2008',
 '27-Jan-1985',
 '27-Jan-1969',
 '27-Jan-1964',
 '27-Jan-1962',
 '27-Jan-1959',
 '27-Jan-1958',
 '27-Jan-1937',
 '27-Jan-1934',
 '27-Jan-1932',
 '27-Jan-1929',
 '27-Jan-1928',
 '27-Jan-1925',
 '27-Jan-1923',
 '27-Feb-2013',
 '27-Feb-2006',
 '27-Feb-2003',
 '27-Feb-1994',
 '27-Feb-1982',
 '27-Feb-1973',
 '27-Feb-1966',
 '27-Feb-1963',
 '27-Feb-1960',
 '27-Feb-1959',
 '27-Feb-1954',
 '27-Feb-1944',
 '27-Feb-1895',
 '27-Dec-2016',
 '27-Dec-2008',
 '27-Dec-1966',
 '27-Dec-1961',
 '27-Dec-1960',
 '27-Dec-1958',
 '27-Dec-1948',
 '27-Dec-1938',
 '27-Dec-1900',
 '27-Dec-1890',
 '27-Aug-2017',
 '27-Aug-2016',
 '27-Aug-2014',
 '27-Aug-2008',
 '27-Aug-2006',
 '27-Aug-2001',
 '27-Aug-2000',
 '27-Aug-1997',
 '27-Aug-1995',
 '27-Aug-1967',
 '27-Aug-1966',
 '27-Aug-1934',
 '27-Apr-2017',
 '27-Apr-2008',
 '27-Apr-1931',
 '27-Apr-1909',
 '27-Apr-1906',
 '26-Sep-2016',
 '26-Sep-2015',
 '26-Sep-2009',
 '26-Sep-1994',
 '26-Sep-1993',
 '26-Sep-1961',
 '26-Sep-1959',
 '26-Sep-1932',
 '26-Sep-1930',
 '26-Sep-1922',
 '26-Sep-1785',
 '26-Oct-2017',
 '26-Oct-2013',
 '26-Oct-1993',
 '26-Oct-1987',
 '26-Oct-1946',
 '26-Oct-1944',
 '26-Oct-1911',
 '26-Nov-2004',
 '26-Nov-1991',
 '26-Nov-1978',
 '26-Nov-1931',
 '26-Nov-1909',
 '26-Nov-1885',
 '26-May-2018',
 '26-May-2008',
 '26-May-2007',
 '26-May-1997',
 '26-May-1995',
 '26-May-1991',
 '26-May-1985',
 '26-May-1974',
 '26-May-1956',
 '26-May-1954',
 '26-May-1938',
 '26-May-1870',
 '26-Mar-2016',
 '26-Mar-2015',
 '26-Mar-2000',
 '26-Mar-1973',
 '26-Mar-1951',
 '26-Mar-1950',
 '26-Mar-1944',
 '26-Mar-1907',
 '26-Mar-1905',
 '26-Jun-2015',
 '26-Jun-2012',
 '26-Jun-2008',
 '26-Jun-2006',
 '26-Jun-2004',
 '26-Jun-2003',
 '26-Jun-1991',
 '26-Jun-1982',
 '26-Jun-1980',
 '26-Jun-1977',
 '26-Jun-1972',
 '26-Jun-1959',
 '26-Jun-1958',
 '26-Jun-1936',
 '26-Jun-1932',
 '26-Jun-1909',
 '26-Jul-2016',
 '26-Jul-2015',
 '26-Jul-2008',
 '26-Jul-2003',
 '26-Jul-2002',
 '26-Jul-2001',
 '26-Jul-1999',
 '26-Jul-1998',
 '26-Jul-1983',
 '26-Jul-1980',
 '26-Jul-1975',
 '26-Jul-1974',
 '26-Jul-1971',
 '26-Jul-1965',
 '26-Jul-1956',
 '26-Jul-1953',
 '26-Jul-1916',
 '26-Jul-1885',
 '26-Jul-1830',
 '26-Jan-2014',
 '26-Jan-2013',
 '26-Jan-2011',
 '26-Jan-1989',
 '26-Jan-1960',
 '26-Jan-1943',
 '26-Jan-1926',
 '26-Jan-1912',
 '26-Jan-1910',
 '26-Jan-1886',
 '26-Jan-1867',
 '26-Feb-2012',
 '26-Feb-2005',
 '26-Feb-2004',
 '26-Feb-1996',
 '26-Feb-1977',
 '26-Feb-1968',
 '26-Feb-1956',
 '26-Feb-1939',
 '26-Feb-1933',
 '26-Feb-1883',
 '26-Feb-1872',
 '26-Feb-1852',
 '26-Dec-2015',
 '26-Dec-2010',
 '26-Dec-2009',
 '26-Dec-1999',
 '26-Dec-1972',
 '26-Dec-1968',
 '26-Dec-1966',
 '26-Dec-1963',
 '26-Dec-1959',
 '26-Dec-1957',
 '26-Dec-1956',
 '26-Dec-1948',
 '26-Dec-1942',
 '26-Dec-1929',
 '26-Dec-1913',
 '26-Dec-1860',
 '26-Aug-2017',
 '26-Aug-2013',
 '26-Aug-2012',
 '26-Aug-2011',
 '26-Aug-2007',
 '26-Aug-2001',
 '26-Aug-1999',
 '26-Aug-1998',
 '26-Aug-1995',
 '26-Aug-1991',
 '26-Aug-1979',
 '26-Aug-1976',
 '26-Aug-1967',
 '26-Aug-1965',
 '26-Aug-1964',
 '26-Aug-1955',
 '26-Aug-1935',
 '26-Aug-1934',
 '26-Aug-1933',
 '26-Apr-2015',
 '26-Apr-2011',
 '26-Apr-2008',
 '26-Apr-2007',
 '26-Apr-2004',
 '26-Apr-2003',
 '26-Apr-1998',
 '26-Apr-1977',
 '26-Apr-1929',
 '26-Apr-1922',
 '26-Apr-1886',
 '25-Sep-2017',
 '25-Sep-2013',
 '25-Sep-2012',
 '25-Sep-2000',
 '25-Sep-1982',
 '25-Sep-1971',
 '25-Sep-1941',
 '25-Sep-1861',
 '25-Oct-2015',
 '25-Oct-2010',
 '25-Oct-2005',
 '25-Oct-1990',
 '25-Oct-1962',
 '25-Oct-1960',
 '25-Oct-1944',
 '25-Oct-1939',
 '25-Oct-1933',
 '25-Oct-1927',
 '25-Oct-1911',
 '25-Oct-1890',
 '25-Nov-2006',
 '25-Nov-2005',
 '25-Nov-1995',
 '25-Nov-1992',
 '25-Nov-1976',
 '25-Nov-1973',
 '25-Nov-1971',
 '25-Nov-1963',
 '25-Nov-1950',
 '25-Nov-1942',
 '25-Nov-1941',
 '25-Nov-1924',
 '25-Nov-1880',
 '25-May-2015',
 '25-May-2011',
 '25-May-2009',
 '25-May-2005',
 '25-May-2003',
 '25-May-1998',
 '25-May-1987',
 '25-May-1975',
 '25-May-1969',
 '25-Mar-2008',
 '25-Mar-2005',
 '25-Mar-2002',
 '25-Mar-1988',
 '25-Mar-1981',
 '25-Mar-1969',
 '25-Mar-1968',
 '25-Mar-1962',
 '25-Mar-1935',
 '25-Mar-1892',
 '25-Jun-2018',
 '25-Jun-2016',
 '25-Jun-2015',
 '25-Jun-2014',
 '25-Jun-2013',
 '25-Jun-2010',
 '25-Jun-2007',
 '25-Jun-2005',
 '25-Jun-1996',
 '25-Jun-1982',
 '25-Jun-1968',
 '25-Jun-1951',
 '25-Jun-1950',
 '25-Jun-1910',
 '25-Jun-1894',
 '25-Jul-2015',
 '25-Jul-2011',
 '25-Jul-2010',
 '25-Jul-2008',
 '25-Jul-2006',
 '25-Jul-2004',
 '25-Jul-2001',
 '25-Jul-2000',
 '25-Jul-1998',
 '25-Jul-1985',
 '25-Jul-1983',
 '25-Jul-1959',
 '25-Jul-1949',
 '25-Jul-1936',
 '25-Jul-1896',
 '25-Jul-1881',
 '25-Jul-1880',
 '25-Jul-1864',
 '25-Jul-1862',
 '25-Jan-2016',
 '25-Jan-2014',
 '25-Jan-2013',
 '25-Jan-2009',
 '25-Jan-2007',
 '25-Jan-2006',
 '25-Jan-2004',
 '25-Jan-1998',
 '25-Jan-1997',
 '25-Jan-1980',
 '25-Jan-1966',
 '25-Jan-1961',
 '25-Jan-1959',
 '25-Jan-1948',
 '25-Jan-1924',
 '25-Jan-1902',
 '25-Feb-2017',
 '25-Feb-2012',
 '25-Feb-1890',
 '25-Feb-1883',
 '25-Dec-2015',
 '25-Dec-2013',
 '25-Dec-2012',
 '25-Dec-2011',
 '25-Dec-1997',
 '25-Dec-1983',
 '25-Dec-1973',
 '25-Dec-1972',
 '25-Dec-1968',
 '25-Dec-1964',
 '25-Dec-1963',
 '25-Dec-1930',
 '25-Dec-1888',
 '25-Dec-1808',
 '25-Aug-2016',
 '25-Aug-2014',
 '25-Aug-2013',
 '25-Aug-2009',
 '25-Aug-2007',
 '25-Aug-2001',
 '25-Aug-1995',
 '25-Aug-1992',
 '25-Aug-1973',
 '25-Aug-1967',
 '25-Aug-1956',
 '25-Aug-1931',
 '25-Apr-2018',
 '25-Apr-2016',
 '25-Apr-2015',
 '25-Apr-2009',
 '25-Apr-2008',
 '25-Apr-2005',
 '25-Apr-2003',
 '25-Apr-1996',
 '25-Apr-1980',
 '25-Apr-1961',
 '25-Apr-1924',
 '25-Apr-1916',
 '24-Sep-2017',
 '24-Sep-2015',
 '24-Sep-2012',
 '24-Sep-2011',
 '24-Sep-2010',
 '24-Sep-2005',
 '24-Sep-2001',
 '24-Sep-2000',
 '24-Sep-1999',
 '24-Sep-1961',
 '24-Sep-1960',
 '24-Oct-2016',
 '24-Oct-2013',
 '24-Oct-2009',
 '24-Oct-1998',
 '24-Oct-1997',
 '24-Oct-1988',
 '24-Oct-1985',
 '24-Oct-1970',
 '24-Oct-1960',
 '24-Oct-1957',
 '24-Oct-1944',
 '24-Oct-1937',
 '24-Oct-1878',
 '24-Nov-2017',
 '24-Nov-2009',
 '24-Nov-1980',
 '24-Nov-1973',
 '24-Nov-1924',
 '24-Nov-1910',
 '24-May-2018',
 '24-May-2015',
 '24-May-2014',
 '24-May-2008',
 '24-May-2007',
 '24-May-2006',
 '24-May-1996',
 '24-May-1995',
 '24-May-1994',
 '24-May-1981',
 '24-May-1969',
 '24-May-1960',
 '24-May-1950',
 '24-May-1852',
 '24-May-1844',
 '24-Mar-2012',
 '24-Mar-2011',
 '24-Mar-2002',
 '24-Mar-2000',
 '24-Mar-1990',
 '24-Mar-1981',
 '24-Mar-1979',
 '24-Mar-1962',
 '24-Mar-1951',
 '24-Mar-1941',
 '24-Mar-1939',
 '24-Mar-1924',
 '24-Mar-1871',
 '24-Jun-2016',
 '24-Jun-2015',
 '24-Jun-2011',
 '24-Jun-2008',
 '24-Jun-2007',
 '24-Jun-2006',
 '24-Jun-2003',
 '24-Jun-1997',
 '24-Jun-1995',
 '24-Jun-1994',
 '24-Jun-1990',
 '24-Jun-1964',
 '24-Jun-1961',
 '24-Jun-1960',
 '24-Jun-1958',
 '24-Jun-1928',
 '24-Jun-1916',
 '24-Jun-1817',
 '24-Jul-2017',
 '24-Jul-2016',
 '24-Jul-2009',
 '24-Jul-2008',
 '24-Jul-2001',
 '24-Jul-1995',
 '24-Jul-1994',
 '24-Jul-1984',
 '24-Jul-1982',
 '24-Jul-1957',
 '24-Jul-1947',
 '24-Jul-1909',
 '24-Jan-2017',
 '24-Jan-2016',
 '24-Jan-2015',
 '24-Jan-2009',
 '24-Jan-2001',
 '24-Jan-1995',
 '24-Jan-1983',
 '24-Jan-1946',
 '24-Jan-1935',
 '24-Jan-1931',
 '24-Jan-1920',
 '24-Jan-1877',
 '24-Feb-2018',
 '24-Feb-2017',
 '24-Feb-2008',
 '24-Feb-1991',
 '24-Feb-1963',
 '24-Feb-1960',
 '24-Feb-1957',
 '24-Feb-1934',
 '24-Dec-2016',
 '24-Dec-2005',
 '24-Dec-2002',
 '24-Dec-2000',
 '24-Dec-1998',
 '24-Dec-1983',
 '24-Dec-1972',
 ...]

## Year

In [96]:
df.Year.value_counts() #chequea cuántos valores únicos hay

2015.0    127
2017.0    120
2014.0    116
2016.0    115
2011.0    115
         ...
1642.0      1
77.0        1
1543.0      1
1802.0      1
1866.0      1
Name: Year, Length: 229, dtype: int64

In [97]:
df.Year = df.Year.astype(str) 
df.Year=df.Year.str.strip()
df.Year=df.Year.str.replace('Reported','')
df.Year=df.Year.str.replace('January','Jan')
df.Year=df.Year.str.replace('February','Feb')
df.Year=df.Year.str.replace('March','Mar')
df.Year=df.Year.str.replace('April','Apr')
df.Year=df.Year.str.replace('May','May')
df.Year=df.Year.str.replace('June','Jun')
df.Year=df.Year.str.replace('July','Jul')
df.Year=df.Year.str.replace('August','Aug')
df.Year=df.Year.str.replace('September','Sep')
df.Year=df.Year.str.replace('October','Oct')
df.Year=df.Year.str.replace('November','Nov')
df.Year=df.Year.str.replace('December','Dec')
df.Year=df.Year.str.strip()

def year(x): #si la fecha tiene formaro de dd-mmm-aa devuelve únicamente el año
    if re.search(r"^\d?\d-\w\w\w-(\d\d\d?\d?)$", x.lower()):
        ye = re.search(r"^\d?\d-\w\w\w-(\d\d\d?\d?)$", x.lower())
        x = ye.group(1)
        return x
    else:
        return x
                      
df.Year = df.Year.apply(year)

In [98]:
lista_year = list(df.Year.unique())
lista_year.sort(reverse = True)
lista_year

['77.0',
 '500.0',
 '5.0',
 '2018.0',
 '2017.0',
 '2016.0',
 '2015.0',
 '2014.0',
 '2013.0',
 '2012.0',
 '2011.0',
 '2010.0',
 '2009.0',
 '2008.0',
 '2007.0',
 '2006.0',
 '2005.0',
 '2004.0',
 '2003.0',
 '2002.0',
 '2001.0',
 '2000.0',
 '1999.0',
 '1998.0',
 '1997.0',
 '1996.0',
 '1995.0',
 '1994.0',
 '1993.0',
 '1992.0',
 '1991.0',
 '1990.0',
 '1989.0',
 '1988.0',
 '1987.0',
 '1986.0',
 '1985.0',
 '1984.0',
 '1983.0',
 '1982.0',
 '1981.0',
 '1980.0',
 '1979.0',
 '1978.0',
 '1977.0',
 '1976.0',
 '1975.0',
 '1974.0',
 '1973.0',
 '1972.0',
 '1971.0',
 '1970.0',
 '1969.0',
 '1968.0',
 '1967.0',
 '1966.0',
 '1965.0',
 '1964.0',
 '1963.0',
 '1962.0',
 '1961.0',
 '1960.0',
 '1959.0',
 '1958.0',
 '1957.0',
 '1956.0',
 '1955.0',
 '1954.0',
 '1953.0',
 '1952.0',
 '1951.0',
 '1950.0',
 '1949.0',
 '1948.0',
 '1947.0',
 '1946.0',
 '1945.0',
 '1944.0',
 '1943.0',
 '1942.0',
 '1941.0',
 '1940.0',
 '1939.0',
 '1938.0',
 '1937.0',
 '1936.0',
 '1935.0',
 '1934.0',
 '1933.0',
 '1932.0',
 '1931.0',
 '1930.0',
 '1929.0',
 '1928.0',
 '1927.0',
 '1926.0',
 '1925.0',
 '1924.0',
 '1923.0',
 '1922.0',
 '1921.0',
 '1920.0',
 '1919.0',
 '1918.0',
 '1917.0',
 '1916.0',
 '1915.0',
 '1914.0',
 '1913.0',
 '1912.0',
 '1911.0',
 '1910.0',
 '1909.0',
 '1908.0',
 '1907.0',
 '1906.0',
 '1905.0',
 '1904.0',
 '1903.0',
 '1902.0',
 '1901.0',
 '1900.0',
 '1899.0',
 '1898.0',
 '1897.0',
 '1896.0',
 '1895.0',
 '1894.0',
 '1893.0',
 '1892.0',
 '1891.0',
 '1890.0',
 '1889.0',
 '1888.0',
 '1887.0',
 '1886.0',
 '1885.0',
 '1884.0',
 '1883.0',
 '1882.0',
 '1881.0',
 '1880.0',
 '1879.0',
 '1878.0',
 '1877.0',
 '1876.0',
 '1875.0',
 '1874.0',
 '1873.0',
 '1872.0',
 '1871.0',
 '1870.0',
 '1869.0',
 '1868.0',
 '1867.0',
 '1866.0',
 '1865.0',
 '1864.0',
 '1863.0',
 '1862.0',
 '1861.0',
 '1860.0',
 '1859.0',
 '1858.0',
 '1857.0',
 '1856.0',
 '1855.0',
 '1853.0',
 '1852.0',
 '1851.0',
 '1850.0',
 '1849.0',
 '1848.0',
 '1847.0',
 '1846.0',
 '1845.0',
 '1844.0',
 '1842.0',
 '1841.0',
 '1840.0',
 '1839.0',
 '1837.0',
 '1835.0',
 '1834.0',
 '1832.0',
 '1831.0',
 '1830.0',
 '1829.0',
 '1828.0',
 '1827.0',
 '1826.0',
 '1825.0',
 '1822.0',
 '1817.0',
 '1816.0',
 '1815.0',
 '1812.0',
 '1811.0',
 '1810.0',
 '1808.0',
 '1807.0',
 '1803.0',
 '1802.0',
 '1801.0',
 '1800.0',
 '1797.0',
 '1792.0',
 '1791.0',
 '1787.0',
 '1785.0',
 '1784.0',
 '1783.0',
 '1780.0',
 '1779.0',
 '1776.0',
 '1771.0',
 '1764.0',
 '1758.0',
 '1753.0',
 '1751.0',
 '1749.0',
 '1748.0',
 '1738.0',
 '1721.0',
 '1700.0',
 '1642.0',
 '1580.0',
 '1543.0',
 '0.0']

In [99]:
def year2(x): #si el año tiene un dígito, devuelve invalido
    if re.search(r"^\d\..+$", x.lower()):
        x = "Invalid"
        return x
    else:
        return x
    
df.Year = df.Year.apply(year2)

In [100]:
lista_year = list(df.Year.unique())
lista_year.sort()
lista_year

['1543.0',
 '1580.0',
 '1642.0',
 '1700.0',
 '1721.0',
 '1738.0',
 '1748.0',
 '1749.0',
 '1751.0',
 '1753.0',
 '1758.0',
 '1764.0',
 '1771.0',
 '1776.0',
 '1779.0',
 '1780.0',
 '1783.0',
 '1784.0',
 '1785.0',
 '1787.0',
 '1791.0',
 '1792.0',
 '1797.0',
 '1800.0',
 '1801.0',
 '1802.0',
 '1803.0',
 '1807.0',
 '1808.0',
 '1810.0',
 '1811.0',
 '1812.0',
 '1815.0',
 '1816.0',
 '1817.0',
 '1822.0',
 '1825.0',
 '1826.0',
 '1827.0',
 '1828.0',
 '1829.0',
 '1830.0',
 '1831.0',
 '1832.0',
 '1834.0',
 '1835.0',
 '1837.0',
 '1839.0',
 '1840.0',
 '1841.0',
 '1842.0',
 '1844.0',
 '1845.0',
 '1846.0',
 '1847.0',
 '1848.0',
 '1849.0',
 '1850.0',
 '1851.0',
 '1852.0',
 '1853.0',
 '1855.0',
 '1856.0',
 '1857.0',
 '1858.0',
 '1859.0',
 '1860.0',
 '1861.0',
 '1862.0',
 '1863.0',
 '1864.0',
 '1865.0',
 '1866.0',
 '1867.0',
 '1868.0',
 '1869.0',
 '1870.0',
 '1871.0',
 '1872.0',
 '1873.0',
 '1874.0',
 '1875.0',
 '1876.0',
 '1877.0',
 '1878.0',
 '1879.0',
 '1880.0',
 '1881.0',
 '1882.0',
 '1883.0',
 '1884.0',
 '1885.0',
 '1886.0',
 '1887.0',
 '1888.0',
 '1889.0',
 '1890.0',
 '1891.0',
 '1892.0',
 '1893.0',
 '1894.0',
 '1895.0',
 '1896.0',
 '1897.0',
 '1898.0',
 '1899.0',
 '1900.0',
 '1901.0',
 '1902.0',
 '1903.0',
 '1904.0',
 '1905.0',
 '1906.0',
 '1907.0',
 '1908.0',
 '1909.0',
 '1910.0',
 '1911.0',
 '1912.0',
 '1913.0',
 '1914.0',
 '1915.0',
 '1916.0',
 '1917.0',
 '1918.0',
 '1919.0',
 '1920.0',
 '1921.0',
 '1922.0',
 '1923.0',
 '1924.0',
 '1925.0',
 '1926.0',
 '1927.0',
 '1928.0',
 '1929.0',
 '1930.0',
 '1931.0',
 '1932.0',
 '1933.0',
 '1934.0',
 '1935.0',
 '1936.0',
 '1937.0',
 '1938.0',
 '1939.0',
 '1940.0',
 '1941.0',
 '1942.0',
 '1943.0',
 '1944.0',
 '1945.0',
 '1946.0',
 '1947.0',
 '1948.0',
 '1949.0',
 '1950.0',
 '1951.0',
 '1952.0',
 '1953.0',
 '1954.0',
 '1955.0',
 '1956.0',
 '1957.0',
 '1958.0',
 '1959.0',
 '1960.0',
 '1961.0',
 '1962.0',
 '1963.0',
 '1964.0',
 '1965.0',
 '1966.0',
 '1967.0',
 '1968.0',
 '1969.0',
 '1970.0',
 '1971.0',
 '1972.0',
 '1973.0',
 '1974.0',
 '1975.0',
 '1976.0',
 '1977.0',
 '1978.0',
 '1979.0',
 '1980.0',
 '1981.0',
 '1982.0',
 '1983.0',
 '1984.0',
 '1985.0',
 '1986.0',
 '1987.0',
 '1988.0',
 '1989.0',
 '1990.0',
 '1991.0',
 '1992.0',
 '1993.0',
 '1994.0',
 '1995.0',
 '1996.0',
 '1997.0',
 '1998.0',
 '1999.0',
 '2000.0',
 '2001.0',
 '2002.0',
 '2003.0',
 '2004.0',
 '2005.0',
 '2006.0',
 '2007.0',
 '2008.0',
 '2009.0',
 '2010.0',
 '2011.0',
 '2012.0',
 '2013.0',
 '2014.0',
 '2015.0',
 '2016.0',
 '2017.0',
 '2018.0',
 '500.0',
 '77.0',
 'Invalid']

In [101]:
df.Year=df.Year.replace('500.0','Invalid')
df.Year=df.Year.replace('77.0','Invalid')
lista_year = list(df.Year.unique())
lista_year.sort()
lista_year

['1543.0',
 '1580.0',
 '1642.0',
 '1700.0',
 '1721.0',
 '1738.0',
 '1748.0',
 '1749.0',
 '1751.0',
 '1753.0',
 '1758.0',
 '1764.0',
 '1771.0',
 '1776.0',
 '1779.0',
 '1780.0',
 '1783.0',
 '1784.0',
 '1785.0',
 '1787.0',
 '1791.0',
 '1792.0',
 '1797.0',
 '1800.0',
 '1801.0',
 '1802.0',
 '1803.0',
 '1807.0',
 '1808.0',
 '1810.0',
 '1811.0',
 '1812.0',
 '1815.0',
 '1816.0',
 '1817.0',
 '1822.0',
 '1825.0',
 '1826.0',
 '1827.0',
 '1828.0',
 '1829.0',
 '1830.0',
 '1831.0',
 '1832.0',
 '1834.0',
 '1835.0',
 '1837.0',
 '1839.0',
 '1840.0',
 '1841.0',
 '1842.0',
 '1844.0',
 '1845.0',
 '1846.0',
 '1847.0',
 '1848.0',
 '1849.0',
 '1850.0',
 '1851.0',
 '1852.0',
 '1853.0',
 '1855.0',
 '1856.0',
 '1857.0',
 '1858.0',
 '1859.0',
 '1860.0',
 '1861.0',
 '1862.0',
 '1863.0',
 '1864.0',
 '1865.0',
 '1866.0',
 '1867.0',
 '1868.0',
 '1869.0',
 '1870.0',
 '1871.0',
 '1872.0',
 '1873.0',
 '1874.0',
 '1875.0',
 '1876.0',
 '1877.0',
 '1878.0',
 '1879.0',
 '1880.0',
 '1881.0',
 '1882.0',
 '1883.0',
 '1884.0',
 '1885.0',
 '1886.0',
 '1887.0',
 '1888.0',
 '1889.0',
 '1890.0',
 '1891.0',
 '1892.0',
 '1893.0',
 '1894.0',
 '1895.0',
 '1896.0',
 '1897.0',
 '1898.0',
 '1899.0',
 '1900.0',
 '1901.0',
 '1902.0',
 '1903.0',
 '1904.0',
 '1905.0',
 '1906.0',
 '1907.0',
 '1908.0',
 '1909.0',
 '1910.0',
 '1911.0',
 '1912.0',
 '1913.0',
 '1914.0',
 '1915.0',
 '1916.0',
 '1917.0',
 '1918.0',
 '1919.0',
 '1920.0',
 '1921.0',
 '1922.0',
 '1923.0',
 '1924.0',
 '1925.0',
 '1926.0',
 '1927.0',
 '1928.0',
 '1929.0',
 '1930.0',
 '1931.0',
 '1932.0',
 '1933.0',
 '1934.0',
 '1935.0',
 '1936.0',
 '1937.0',
 '1938.0',
 '1939.0',
 '1940.0',
 '1941.0',
 '1942.0',
 '1943.0',
 '1944.0',
 '1945.0',
 '1946.0',
 '1947.0',
 '1948.0',
 '1949.0',
 '1950.0',
 '1951.0',
 '1952.0',
 '1953.0',
 '1954.0',
 '1955.0',
 '1956.0',
 '1957.0',
 '1958.0',
 '1959.0',
 '1960.0',
 '1961.0',
 '1962.0',
 '1963.0',
 '1964.0',
 '1965.0',
 '1966.0',
 '1967.0',
 '1968.0',
 '1969.0',
 '1970.0',
 '1971.0',
 '1972.0',
 '1973.0',
 '1974.0',
 '1975.0',
 '1976.0',
 '1977.0',
 '1978.0',
 '1979.0',
 '1980.0',
 '1981.0',
 '1982.0',
 '1983.0',
 '1984.0',
 '1985.0',
 '1986.0',
 '1987.0',
 '1988.0',
 '1989.0',
 '1990.0',
 '1991.0',
 '1992.0',
 '1993.0',
 '1994.0',
 '1995.0',
 '1996.0',
 '1997.0',
 '1998.0',
 '1999.0',
 '2000.0',
 '2001.0',
 '2002.0',
 '2003.0',
 '2004.0',
 '2005.0',
 '2006.0',
 '2007.0',
 '2008.0',
 '2009.0',
 '2010.0',
 '2011.0',
 '2012.0',
 '2013.0',
 '2014.0',
 '2015.0',
 '2016.0',
 '2017.0',
 '2018.0',
 'Invalid']

In [102]:
df=df.drop(df[df.Year=='Invalid'].index, axis=0)  # elimina la fila invalido

In [103]:
df.Year.value_counts() #chequea cuántos valores únicos hay

2015.0    127
2017.0    120
2014.0    116
2011.0    115
2016.0    115
         ...
1800.0      1
1748.0      1
1792.0      1
1580.0      1
1812.0      1
Name: Year, Length: 225, dtype: int64

In [104]:
df.shape

(5092, 25)

## Country

In [105]:
df.Country.value_counts() #chequea cuántos valores únicos hay

USA                             1913
AUSTRALIA                       1072
SOUTH AFRICA                     443
PAPUA NEW GUINEA                 119
NEW ZEALAND                      105
                                ...
SUDAN?                             1
NETHERLANDS ANTILLES               1
GRAND CAYMAN                       1
EQUATORIAL GUINEA / CAMEROON       1
MID-PACIFC OCEAN                   1
Name: Country, Length: 180, dtype: int64

In [106]:
df.Country = df.Country.fillna("Unknown")
df.Country=df.Country.str.strip()
lista_country = list(df.Country.unique())
lista_country.sort()
lista_country

['ADMIRALTY ISLANDS',
 'AFRICA',
 'ALGERIA',
 'AMERICAN SAMOA',
 'ANDAMAN / NICOBAR ISLANDAS',
 'ANGOLA',
 'ARGENTINA',
 'ARUBA',
 'ATLANTIC OCEAN',
 'AUSTRALIA',
 'AZORES',
 'BAHAMAS',
 'BANGLADESH',
 'BARBADOS',
 'BELIZE',
 'BERMUDA',
 'BRAZIL',
 'BRITISH ISLES',
 'BRITISH NEW GUINEA',
 'BRITISH WEST INDIES',
 'BURMA',
 'Between PORTUGAL & INDIA',
 'CANADA',
 'CAPE VERDE',
 'CARIBBEAN SEA',
 'CENTRAL PACIFIC',
 'CEYLON',
 'CHILE',
 'CHINA',
 'COLUMBIA',
 'COSTA RICA',
 'CROATIA',
 'CUBA',
 'CYPRUS',
 'Coast of AFRICA',
 'DIEGO GARCIA',
 'DOMINICAN REPUBLIC',
 'ECUADOR',
 'EGYPT',
 'EGYPT / ISRAEL',
 'EL SALVADOR',
 'ENGLAND',
 'EQUATORIAL GUINEA / CAMEROON',
 'FALKLAND ISLANDS',
 'FEDERATED STATES OF MICRONESIA',
 'FIJI',
 'FRANCE',
 'FRENCH POLYNESIA',
 'Fiji',
 'GABON',
 'GEORGIA',
 'GRAND CAYMAN',
 'GREECE',
 'GREENLAND',
 'GRENADA',
 'GUAM',
 'GUINEA',
 'GUYANA',
 'HAITI',
 'HONDURAS',
 'HONG KONG',
 'ICELAND',
 'INDIA',
 'INDIAN OCEAN',
 'INDIAN OCEAN?',
 'INDONESIA',
 'IRAN',
 'IRAN / IRAQ',
 'IRAQ',
 'IRELAND',
 'ISRAEL',
 'ITALY',
 'JAMAICA',
 'JAPAN',
 'JAVA',
 'JOHNSTON ISLAND',
 'KENYA',
 'KIRIBATI',
 'LEBANON',
 'LIBERIA',
 'LIBYA',
 'MADAGASCAR',
 'MALAYSIA',
 'MALDIVE ISLANDS',
 'MALDIVES',
 'MALTA',
 'MARSHALL ISLANDS',
 'MARTINIQUE',
 'MAURITIUS',
 'MEDITERRANEAN SEA',
 'MEXICO',
 'MICRONESIA',
 'MID ATLANTIC OCEAN',
 'MID-PACIFC OCEAN',
 'MONACO',
 'MONTENEGRO',
 'MOZAMBIQUE',
 'NAMIBIA',
 'NETHERLANDS ANTILLES',
 'NEW BRITAIN',
 'NEW CALEDONIA',
 'NEW GUINEA',
 'NEW ZEALAND',
 'NICARAGUA',
 'NIGERIA',
 'NORTH ATLANTIC OCEAN',
 'NORTH PACIFIC OCEAN',
 'NORTH SEA',
 'NORTHERN ARABIAN SEA',
 'NORTHERN MARIANA ISLANDS',
 'NORWAY',
 'OKINAWA',
 'PACIFIC OCEAN',
 'PALAU',
 'PALESTINIAN TERRITORIES',
 'PANAMA',
 'PAPUA NEW GUINEA',
 'PARAGUAY',
 'PERSIAN GULF',
 'PERU',
 'PHILIPPINES',
 'PORTUGAL',
 'PUERTO RICO',
 'RED SEA',
 'RED SEA / INDIAN OCEAN',
 'REUNION',
 'REUNION ISLAND',
 'RUSSIA',
 'SAMOA',
 'SAN DOMINGO',
 'SCOTLAND',
 'SENEGAL',
 'SEYCHELLES',
 'SIERRA LEONE',
 'SINGAPORE',
 'SLOVENIA',
 'SOLOMON ISLANDS',
 'SOMALIA',
 'SOUTH AFRICA',
 'SOUTH ATLANTIC OCEAN',
 'SOUTH CHINA SEA',
 'SOUTH KOREA',
 'SOUTH PACIFIC OCEAN',
 'SOUTHWEST PACIFIC OCEAN',
 'SPAIN',
 'SRI LANKA',
 'ST HELENA, British overseas territory',
 'ST. MAARTIN',
 'ST. MARTIN',
 'SUDAN',
 'SUDAN?',
 'TAIWAN',
 'TANZANIA',
 'TASMAN SEA',
 'THAILAND',
 'TOBAGO',
 'TONGA',
 'TRINIDAD & TOBAGO',
 'TUNISIA',
 'TURKEY',
 'TURKS & CAICOS',
 'TUVALU',
 'UNITED ARAB EMIRATES',
 'UNITED ARAB EMIRATES (UAE)',
 'UNITED KINGDOM',
 'URUGUAY',
 'USA',
 'Unknown',
 'VANUATU',
 'VENEZUELA',
 'VIETNAM',
 'WEST INDIES',
 'WESTERN SAMOA',
 'YEMEN']

In [107]:
df.Country=df.Country.replace('IRAN / IRAQ','IRAN')
df.Country=df.Country.replace('SUDAN?','SUDAN')
df.Country=df.Country.replace('UNITED ARAB EMIRATES (UAE)','UNITED ARAB EMIRATES')
df.Country=df.Country.replace('INDIAN OCEAN?','INDIA')
df.Country=df.Country.replace('INDIAN OCEAN','INDIA')

In [108]:
lista_country = list(df.Country.unique())
lista_country.sort()
lista_country

['ADMIRALTY ISLANDS',
 'AFRICA',
 'ALGERIA',
 'AMERICAN SAMOA',
 'ANDAMAN / NICOBAR ISLANDAS',
 'ANGOLA',
 'ARGENTINA',
 'ARUBA',
 'ATLANTIC OCEAN',
 'AUSTRALIA',
 'AZORES',
 'BAHAMAS',
 'BANGLADESH',
 'BARBADOS',
 'BELIZE',
 'BERMUDA',
 'BRAZIL',
 'BRITISH ISLES',
 'BRITISH NEW GUINEA',
 'BRITISH WEST INDIES',
 'BURMA',
 'Between PORTUGAL & INDIA',
 'CANADA',
 'CAPE VERDE',
 'CARIBBEAN SEA',
 'CENTRAL PACIFIC',
 'CEYLON',
 'CHILE',
 'CHINA',
 'COLUMBIA',
 'COSTA RICA',
 'CROATIA',
 'CUBA',
 'CYPRUS',
 'Coast of AFRICA',
 'DIEGO GARCIA',
 'DOMINICAN REPUBLIC',
 'ECUADOR',
 'EGYPT',
 'EGYPT / ISRAEL',
 'EL SALVADOR',
 'ENGLAND',
 'EQUATORIAL GUINEA / CAMEROON',
 'FALKLAND ISLANDS',
 'FEDERATED STATES OF MICRONESIA',
 'FIJI',
 'FRANCE',
 'FRENCH POLYNESIA',
 'Fiji',
 'GABON',
 'GEORGIA',
 'GRAND CAYMAN',
 'GREECE',
 'GREENLAND',
 'GRENADA',
 'GUAM',
 'GUINEA',
 'GUYANA',
 'HAITI',
 'HONDURAS',
 'HONG KONG',
 'ICELAND',
 'INDIA',
 'INDONESIA',
 'IRAN',
 'IRAQ',
 'IRELAND',
 'ISRAEL',
 'ITALY',
 'JAMAICA',
 'JAPAN',
 'JAVA',
 'JOHNSTON ISLAND',
 'KENYA',
 'KIRIBATI',
 'LEBANON',
 'LIBERIA',
 'LIBYA',
 'MADAGASCAR',
 'MALAYSIA',
 'MALDIVE ISLANDS',
 'MALDIVES',
 'MALTA',
 'MARSHALL ISLANDS',
 'MARTINIQUE',
 'MAURITIUS',
 'MEDITERRANEAN SEA',
 'MEXICO',
 'MICRONESIA',
 'MID ATLANTIC OCEAN',
 'MID-PACIFC OCEAN',
 'MONACO',
 'MONTENEGRO',
 'MOZAMBIQUE',
 'NAMIBIA',
 'NETHERLANDS ANTILLES',
 'NEW BRITAIN',
 'NEW CALEDONIA',
 'NEW GUINEA',
 'NEW ZEALAND',
 'NICARAGUA',
 'NIGERIA',
 'NORTH ATLANTIC OCEAN',
 'NORTH PACIFIC OCEAN',
 'NORTH SEA',
 'NORTHERN ARABIAN SEA',
 'NORTHERN MARIANA ISLANDS',
 'NORWAY',
 'OKINAWA',
 'PACIFIC OCEAN',
 'PALAU',
 'PALESTINIAN TERRITORIES',
 'PANAMA',
 'PAPUA NEW GUINEA',
 'PARAGUAY',
 'PERSIAN GULF',
 'PERU',
 'PHILIPPINES',
 'PORTUGAL',
 'PUERTO RICO',
 'RED SEA',
 'RED SEA / INDIAN OCEAN',
 'REUNION',
 'REUNION ISLAND',
 'RUSSIA',
 'SAMOA',
 'SAN DOMINGO',
 'SCOTLAND',
 'SENEGAL',
 'SEYCHELLES',
 'SIERRA LEONE',
 'SINGAPORE',
 'SLOVENIA',
 'SOLOMON ISLANDS',
 'SOMALIA',
 'SOUTH AFRICA',
 'SOUTH ATLANTIC OCEAN',
 'SOUTH CHINA SEA',
 'SOUTH KOREA',
 'SOUTH PACIFIC OCEAN',
 'SOUTHWEST PACIFIC OCEAN',
 'SPAIN',
 'SRI LANKA',
 'ST HELENA, British overseas territory',
 'ST. MAARTIN',
 'ST. MARTIN',
 'SUDAN',
 'TAIWAN',
 'TANZANIA',
 'TASMAN SEA',
 'THAILAND',
 'TOBAGO',
 'TONGA',
 'TRINIDAD & TOBAGO',
 'TUNISIA',
 'TURKEY',
 'TURKS & CAICOS',
 'TUVALU',
 'UNITED ARAB EMIRATES',
 'UNITED KINGDOM',
 'URUGUAY',
 'USA',
 'Unknown',
 'VANUATU',
 'VENEZUELA',
 'VIETNAM',
 'WEST INDIES',
 'WESTERN SAMOA',
 'YEMEN']

## Area

In [109]:
df.Area.value_counts() #chequea cuántos valores únicos hay

Florida            926
New South Wales    396
Queensland         265
Hawaii             246
California         240
                  ...
Savona               1
Namonuito Atoll      1
Nova Scotia          1
Phuket               1
Galica               1
Name: Area, Length: 682, dtype: int64

In [110]:
df.Area = df.Area.fillna("Unknown")
df.Area=df.Area.str.strip()
df.Area = df.Area.str.replace('"','')
df.Area = df.Area.str.replace('(','')
lista_area = list(df.Area.unique())
lista_area.sort()
lista_area

['04.05N-13.23W',
 '1,000 miles east of Hawaii',
 '1000 miles west of Hawaii',
 '10ºS, 142ºE',
 '12 miles off the north coast',
 '150 miles offshore',
 '165  miles from Bermuda',
 '180 miles southeast of Okinawa',
 '18S / 50E',
 '19S, 178?E',
 '2 to 3 miles off Taboguilla Island, Pacific Ocean',
 '200 nm southeast of Manila',
 '22ºN, 88ºE',
 '25 km off the coast of Iran & 483km from mouth of Persian Gulf',
 "250 miles southwest of O'ahu, Hawaii",
 '30 nm from Singapore',
 '300 miles east of Luzon',
 '300 miles east of Mauritius',
 '300 miles east of St. Thomas Virgin Islands)',
 '330 to 350 miles east of Wake Island',
 "35º39 : 165º8'",
 '40 miles south of Naples',
 '400 miles southeast of Sri Lanka',
 '5aint-Denis',
 '60 miles north of San Domingo in the West Indies',
 '740 miles SE of Tarawa Atoll',
 '9.35N 79.35W',
 'Abaco Islands',
 'Abau Sub District, Central Province',
 'Abau Subdistrict,Central Province',
 'Adana Province',
 'Aden',
 'Admiralty Islands, Manus Province',
 'Adriatic Sea',
 'Aichi Prefecture',
 'Alabama',
 'Alagoas',
 'Alaska',
 'Alicante',
 'Alicante Province',
 'Alifu Alifu Atoll',
 'Alinglaplap Atoll',
 'Alpes Maritime',
 'Altagracia Province',
 'Anatolia',
 'Ancona Province',
 'Andalucia',
 'Andaman Islands',
 'Andros Islands',
 'Antalya Province',
 'Antarctic Ocean',
 'Antibes',
 'Antofagasta Province',
 'Antsiranana Province',
 'Anzoategui',
 'Apolima Strait',
 'Argyll',
 'Argyllshire',
 'Ascension Island',
 'Atsumi peninsula',
 'Attica',
 'Aulong Island',
 'Bahia',
 'Baie de Sainte-Marie',
 'Baja California',
 'Baja California Sur',
 'Balearics',
 'Bali',
 'Banaadir Region',
 'Bandar Ma\x92shur sea inlet',
 'Barlavento Islands',
 'Basrah',
 'Basrah City',
 'Batangas province',
 'Bay of Biscay',
 'Bay of Campeche',
 'Bay of Maputo',
 'Bay of Maputu',
 'Bay of Monaco',
 'Bayelsa State',
 'Beaufonds',
 'Berry Islands',
 'Between Australia & USA',
 'Between Beira & Maputo',
 'Between Comores & Madagascar',
 'Between DR and Puerto Rico',
 'Between England & South Africa',
 'Between Hastings & Fairlight, Sussex',
 'Between Hawaii & Wake Island',
 'Between Hawaii and U.S.A.',
 'Between Kwajalein Atoll & Johnston Island',
 'Between Noumea & Sydney',
 'Between Perth & Colombo',
 'Between Timor & Darwin, Australia',
 'Bimini',
 'Bimini Islands',
 'Binh Dinh Province',
 'Bird Island',
 'Black River',
 'Bocas',
 'Bocas del Toro',
 'Boi Island, Victoria',
 'Bois-Blanc',
 'Bonin Islands',
 'Bora Bora',
 'Bougainville North Solomons)',
 'Buenos Aires Province',
 'Bwagaoia',
 'CUBA',
 'Cabo San Lucas',
 'Caicos Bank',
 'Calabria',
 'California',
 'Calvados Archipelago',
 'Camaguey Province',
 'Camiguin Island',
 'Canal Zone',
 'Canary Islands',
 'Cap Vert Peninsula',
 'Cap-Vert Peninsula',
 'Cape Haitien',
 'Carabobo',
 'Cargados Carajos Shoals St. Brandon)',
 'Caribbean Coast',
 'Caribbean Sea',
 'Caroline Islands',
 'Casamance',
 'Cat Cay',
 'Catalonia',
 'Cay Sal Bank',
 'Central Philippines',
 'Central Province',
 'Central Tuamotu',
 'Chatham Islands',
 'Chatham Islands, east of New  Zealand',
 'Cheshire',
 'Chungnam',
 'Cienfuegos Province',
 'Cikobia Island north of Vanua Levu)',
 'Clarendon',
 'Clearwater Bay',
 'Coast Province',
 'Cocos Island',
 'Colima',
 'Colon',
 'Colon Province',
 'Colón Province',
 'Conakry Region',
 'Congreve Channel',
 'Connecticut',
 'Conservatória District',
 'Cook Islands',
 'Cook Strait',
 'Cook islans',
 'Coquimbo',
 'Corfu',
 'Corfu Island',
 'Cornwall',
 'Corregidor Island',
 'Cortés',
 'Costa Blanca',
 'Curacao',
 'Cyclades archipelago',
 'Cádiz',
 "Côte d'Azur",
 'Dar-es-Salaam',
 'Delaware',
 'Delta',
 'Demerara County',
 'Devon',
 'Dorset',
 'Dubai',
 'Duke of York Islands',
 'East Java',
 'East New Britain',
 'East New Britain Province',
 'East Sepik',
 'East Wall',
 'East Yorkshire',
 'East coast',
 'East of the Gulf of Aqaba',
 'Eastern  Province',
 'Eastern Cape  Province',
 'Eastern Cape Province',
 'Eastern Caroline Islands',
 'Eastern Catalona',
 'Eastern Province',
 'Edinburgh',
 'Ehime Prefecture',
 'Eleuthera',
 'English Channel',
 'Eniwetok Atoll',
 'Enroute from Suez to Aden Yemen)',
 'Eronogo Region',
 'Essequibo',
 'Estuaire Province',
 'Exuma Islands',
 'Fernando Po Island',
 'Fernando de Noronha',
 'Fife',
 'Fishing Grounds',
 'Florida',
 'Florida Straits',
 'Foveaux Strait',
 'French Southern Territories',
 'Fujairah Emirate',
 'Galapagos Islands',
 'Galica',
 'Galicia',
 'Ganges-Brahmaputra delta',
 'Gaza',
 'Genoa  Province',
 'Georges Bank',
 'Georgia',
 'Gibraltar',
 'Gilbert Islands',
 'Golfo di Genova in the Ligurian Sea',
 'Gran Canaria',
 'Granada',
 'Grand Bahama Island',
 'Grand Baie',
 'Grand Canary Island',
 'Grand Terre',
 'Grand Turk Island',
 "Grand'Anse",
 'Great Exuma',
 'Great Exuma Island',
 'Guadalcanal Province',
 'Guam',
 'Guanacaste',
 'Guantanamo Province',
 'Guerrero',
 'Guerro',
 'Guerrrero',
 'Gulf Province',
 'Gulf of Lyons',
 'Gulf of Panama',
 'Gulf of Suez',
 'Guyamas',
 "Ha'api",
 'Halifax',
 'Hamilton',
 'Havana Province',
 'Hawaii',
 'Head of the Gulf',
 'Ho Ha Wan Marine Park',
 'Holquin Province',
 'Hong Kong',
 'Honiara',
 'Hoogly River',
 'Hua Hin',
 'Ibiza Island',
 'Illeginni Atoll',
 'Imperia Province',
 'In Convoy OB 274',
 'In the English Channel',
 'In transit between Tinian and Leyte',
 'Inhambane Province',
 'Inhambe Province',
 'Inner Hebrides',
 'Isla Provedencia',
 'Island of St. Thomas',
 'Isle of Man',
 'Isle of Wight',
 'Isles del Rosario',
 'Istria',
 'Istria County',
 'Izo Islands',
 'Jakarta Harbour',
 'Java',
 'Jeju Province',
 'Johnston Atoll',
 'Johor',
 'Kadavu',
 'Kagawa Prefecture',
 'Kagoshima Prefecture',
 'Karun River',
 'Kedah',
 'Kent',
 'Khuzestan Province',
 'Kikori River mouth',
 'Kingston Parish',
 'Kochi Prefecture',
 'Kowloon Peninsula',
 'Kumamoto Prefecture',
 'Kuril Islands in the Pacific',
 'KwaZulu-Natal',
 'KwaZulu-Natal between Port Edward and Port St Johns',
 'Kwajalein',
 'Kwajalein Atoll',
 "L' Etang Salé-les-Bains",
 "L'Etang-Sale",
 "L'Etang-Salé",
 'La Libertad',
 'La Saline-les-Bains',
 'Lagos',
 'Lake Nicaragua fresh water)',
 'Lamu Archipelago',
 'Las Perlas archipelago',
 'Lau Group',
 'Lau Province',
 'Laucala Island',
 'Le Port',
 'Leyte',
 'Leyte Island',
 'Liguaria',
 'Liguria',
 'Ligurian Sea',
 'Limpopo River',
 'Limón Province',
 'Line Islands',
 'Lomaiviti  Island Group',
 'Lomaiviti Province',
 'Lomaloma, Lau',
 'Los Vilos',
 'Louisiade Archipelago',
 'Louisiana',
 'Lower San Juan River',
 'Loyalty Islands',
 'Lucy',
 'Luzon',
 'Luzon Island',
 'Madang',
 'Madang Province',
 'Madang WO)',
 'Madeira',
 'Madeira Islands',
 'Magarita or Cubagua Islands',
 'Magdalena Department',
 'Maharashtra',
 'Maine',
 'Majorca',
 'Makira-Ulawa Province',
 'Makora-Ulawa Province',
 'Malaga',
 'Malampa Province',
 'Maldonado coast',
 'Maluku Province',
 'Manfredonia',
 'Manila',
 'Manila Bay',
 'Manus Island',
 'Maputo Province',
 'Maranhão',
 'Marovo Lagoon',
 'Marquesas',
 'Maryland',
 'Masbate',
 'Massachusetts',
 'Matanzas Province north coast)',
 'Mediterranean Sea',
 'Mercury Islands',
 'Mersin Province',
 'Mexico / Caribbean Sea',
 'Middle Caicos',
 'Milne Bay Province',
 'Mindoro',
 'Mindoro Occidental',
 'Minerva Reef',
 'Mirs Bay',
 'Misamis Oriental',
 'Mississippi',
 'Missouri',
 'Miyako',
 'Miyako Island',
 'Moluccas',
 'Mombasa',
 'Montserrado',
 'Moorea',
 'Moray',
 'Morobe Province',
 'Mount Lebanon',
 'Muala',
 'Mugla Province',
 'Munxar Reef',
 'Namonuito Atoll',
 'Naples Province',
 'Near Bougainville North Solomons)',
 'Near Dakar, Cap Vert Peninsula',
 'Near Puntarenas',
 'Near the Andaman & Nicobar Islands',
 'Near the Fiji Islands',
 'New Britain',
 'New Britain, Bismarck Archipelago',
 'New Brunswick',
 'New Georgia',
 'New Ireland',
 'New Ireland Province',
 'New Ireland Province, Bismarck Archipelago',
 'New Ireland, Bismarck Archipelago',
 'New Jersey',
 'New Mexico',
 'New Providence',
 'New Providence District',
 'New Providence Island',
 'New South Wales',
 'New Territories',
 'New York',
 'Nicoya Peninsula',
 'Niua',
 'Norfolk',
 'North & South Carolina',
 'North Carolina',
 'North Devon',
 'North Island',
 'North Pacific coast',
 'North Province',
 'North Region',
 'North Sumatra',
 'North of Pernambuco, Brazil',
 'Northern Bahamas',
 'Northern District',
 'Northern Java',
 'Northern Oro) Province',
 'Northern Taiwan',
 'Northern Territory',
 'Northwest of Papua New Guinea',
 'Northwest of Viti Levu',
 'Nova Scotia',
 'Nueva Esparta',
 "Nuku'alofa",
 'Oaxaca',
 'Off Cape Haitien',
 'Off Green Island',
 'Off Ireland',
 'Off Libya',
 'Off Samar Island in the Gulf of Leyte',
 'Off South American coast',
 'Off Vanua Levu',
 'Off coast of Ecuador',
 'Off coast of West Africa',
 'Off the Coromandel Peninsula, North Island',
 'Off the coast of South America',
 'Off the coast of West Africa',
 'Okayama Prefecture',
 'Okinawa Prefecture',
 'On the Kowloon penisula, south of Sai Kung',
 'Open sea',
 'Oregon',
 'Orissa',
 'Oslo Fjord',
 'Out Islands',
 'Pacific Ocean',
 'Pacific coast',
 'Pagasitikos Gulf',
 'Paget',
 'Palawan',
 'Palmyra Atoll',
 'Pamplemousses',
 'Panama Bay Pacific Ocean)',
 'Panama City',
 'Pearl Islands',
 'Pennsylvania',
 'Pernambuco',
 'Peter the Great Bay, Khasan, Primorsky Krai Far East)',
 'Phang nga Province',
 'Phoenix Islands',
 'Phuket',
 'Pinas Bay',
 'Port Louis Province',
 'Port Shelter',
 'Porto Seguro',
 'Praslin',
 'Primorje-Gorski Kotar County',
 'Primorsky Krai',
 'Provence',
 'Puerto Rico',
 'Puntarenas Province',
 'Queensland',
 'Quezon',
 'Quintana Roo',
 'Ralik Archipelago',
 'Ralik Chain',
 'Rangiroa',
 'Rangoon',
 'Red Sea',
 'Red Sea Protectorate',
 'Reggio Calabria Province',
 'Rhode Island',
 'Rigo subdistrict',
 'Rio Grande Do Sul',
 'Rio Grande de Norte',
 'Rio San Juan',
 'Rio de Janeiro',
 'Rivers State',
 'Rocha',
 'Rodrigues',
 'Rombion Province',
 'Romblon Province',
 'Roncador Bank',
 'Ryukyu',
 'Sago Prefecture',
 'Saint Gilles',
 'Saint Leu',
 'Saint-Andre',
 'Saint-Benoit',
 'Saint-Benoît',
 'Saint-Denis',
 'Saint-Gilles',
 'Saint-Gilles-les-Bains',
 'Saint-Joseph',
 'Saint-Leu',
 'Saint-Louis',
 'Saint-Paul',
 'Saint-Philippe',
 'Saint-Pierre',
 'Sainte-Marie',
 'Sainte-Suzanne',
 'Saipan',
 'Salerno',
 'Salerno Province',
 'Samaná Province',
 'San Andrés archipelago',
 'San Blas',
 'San Blas Islands',
 'San Blas coast',
 'San Carlos',
 'Sandaun Province',
 'Sanma Province',
 'Santa Cruz Island',
 'Santa Elena',
 'Santa Isabel Province',
 'Santiago de Cuba Province',
 'Sardinia',
 'Savona',
 'Sepang',
 'Sfax',
 'Shanghai',
 'Sharjah,',
 'Shat-Al-Arab River',
 'Shatt-al-Arab River',
 'Shatt-el-Arab River',
 'Shefa Province',
 'Shizuoka Prefecture',
 'Sicily',
 'Simpson Bay',
 'Sinai Peninsula',
 'Sinaloa',
 'Singapore Harbor',
 'Society Islands',
 'Socotra Islands',
 'South Atlantic Ocean',
 'South Australia',
 'South Carolina',
 "South Ch'ungch'ong Province",
 'South China Sea 200 miles from Hong Kong',
 'South Chungcheong Province',
 'South Coast, East New Britain',
 'South Devon',
 'South Island',
 'South Island, near Karitane north of Dunedin',
 'South Island?',
 'South Pacific Ocean',
 'South Province',
 'South Sinai Peninsula',
 'South Sinai, Gulf of Aqaba',
 'South of the Equator',
 'Southern Cyprus',
 'Southern District',
 'Southern Japan',
 'Southern Province',
 'Southern Thailand',
 'Southland',
 'Southwestern Pacific)',
 'Split-Dalmatia Count,',
 'Split-Dalmatia County',
 'St Helena',
 'St Michael Parish',
 'St. Andrew Parish',
 'St. Anne',
 'St. Catherine',
 'St. Georges',
 'St. Johns Reef',
 "St. Mary's Parish",
 'St. Thomas Bay',
 'Strait of Malacca',
 'Strait of Messina',
 'Sucre',
 'Suez',
 'Sumatra',
 'Surigao del Norte',
 'Sussex',
 'Tabasco',
 'Taipei Hsien',
 'Taitung',
 'Tamaulipas',
 'Tamil Nadu',
 'Taranto',
 'Taranto province',
 'Tasmania',
 'Tavenui',
 'Taveuni',
 'Tel Aviv',
 'Telyakovsky Bay, Khasan,  Primorsky Krai Far East)',
 'Teramo',
 'Territory of Cocos Keeling) Islands',
 'Texas',
 'Thessaly',
 'Tokyo Prefecture',
 'Tongapatu Group',
 'Tongatapu',
 'Torres Strait',
 'Transvaal',
 'Trelawney Province',
 'Trinidad',
 'Trois-Bassins',
 'Tuamotos',
 'Tuamotus',
 'Tuscany',
 'Tutuila Island',
 'Tyrrenian Sea',
 'Tyrrhenian Sea',
 'US Virgin Islands',
 'United Arab Emirates',
 'Unknown',
 'Unknown, treated at Wick, SCOTLAND',
 'Upolu Island',
 'Valencia',
 'Valpariso Province',
 'Vancouver',
 'Vanua Levu',
 "Vava'u",
 'Vava\x92u',
 'Vera Cruz',
 'Veracruz',
 'Victoria',
 'Virginia',
 'Viscayan Sea',
 'Vita Levu',
 'Viti Levu',
 'Viti Levu Island',
 'Viti Levu group',
 'Vitu Levu',
 'Wakaya Island',
 'Wakayama Prefecture',
 'Wake Island',
 'Wake Island EnenKio)',
 'Walkers Cay',
 'Wallis and Futuna',
 'Washington',
 'West Africa',
 'West Bengal',
 'West End',
 'West New Britain Province',
 'West coast',
 'Westerm Australia',
 'Western Area',
 'Western Australia',
 'Western Banks',
 'Western Cape Province',
 'Western Caroline Islands',
 'Western Caroline Islands North Pacific Ocean)',
 'Western District',
 'Western Luzon Island',
 'Western Province',
 'Westmoreland Parish',
 'Woodlark Islands',
 'Worcestershire',
 'Yasawa Islands',
 'Ysabel Island',
 'Zadar County',
 'Zambesi River',
 'Zamboanga del Sur Province',
 'd\x92Étang-Salé']

## Location

In [111]:
df.Location.value_counts() #chequea cuántos valores únicos hay

New Smyrna Beach, Volusia County    159
Daytona Beach, Volusia County        30
Ponce Inlet, Volusia County          20
Melbourne Beach, Brevard County      17
Myrtle Beach, Horry County           16
                                   ...
Off West End                          1
Hanalei Bay                           1
Cape Howe                             1
St. Petersburg, Pinnellas County      1
50 miles NE of Honolulu               1
Name: Location, Length: 3421, dtype: int64

In [112]:
df.Location = df.Location.fillna("Unknown")
df.Location=df.Location.str.strip()
df.Location = df.Location.str.replace('"','')
df.Location = df.Location.str.replace('(','')
lista_loc = list(df.Location.unique())
lista_loc.sort()
lista_loc

["1 km off Black's Beach",
 '1 km off the mouth of Marsa Bereika, north of Ras Mohammed',
 '1 mile off Miami Beach',
 '1.4 miles south of Ponce de Leon Jetty, New Smyrna Beach, Volusia County',
 '1.5 miles off Surfside',
 '1.5 miles south of  San Felice Circeo',
 '1/4 to 1/2 m north of the jetty at Bunkers, Eureka, Humboldt County',
 '10 miles off Cape Canaveral',
 '10 miles off Cape Maisi',
 '10 miles off Nambucca Heads  onboard trawler',
 '10 miles off Redondo Beach, Los Angeles County',
 '10 miles offshore from Sea Isle City, Cape May County',
 '10 miles west of Walker\x92s Cay',
 '100 miles off Ft. Myers Beach',
 "100 miles off Ocean City, Maryland, in 7000' of water",
 '100 miles southeast of Manila',
 '11 miles off Dog Island in the Gulf of Mexico, Franklin County',
 '12 miles northeast of Mayport,  Duval County',
 "12' tank at Steinhart Aquarium, San Francisco",
 '125 nm north of Aruba',
 '15 km north of Lancelin, north of Perth',
 '15 miles north of Sebastian Inlet, Brevard County',
 '15 miles south of Jones Inlet',
 '15 miles up the Cataract River',
 '150 miles from Crystal River',
 '150 miles off Cape Henry',
 '16 miles north of Fort Pierce Inlet, Indian River County',
 '16 miles off Hilton Head',
 '18 miles southwest of Bermuda',
 '190 km to 240 km from the sea',
 '2 kilometres off Sagay',
 '2 miles east of Dania Beach, Broward County',
 '2 miles off Jupiter, Palm Beach County',
 '2 miles off Keahole Airport',
 '2 miles off Pompano Beach, Broward County',
 "2-3 km north of Sunday's River mouth",
 '20 k off The Spit, off the Gold Coast',
 '20 miles from shore',
 '20 miles off Sydney',
 '200 km east of Coolangatta',
 '200 miles Leyte',
 '200 miles east of Savannah',
 '200 miles from MacKay',
 '200 miles off Hampton Roads, Virginia, USA',
 '200 miles offshore',
 '204s, San Clemente, Orange County',
 '225 miles east of Hong Kong',
 "22º08'S  : 178º06'W",
 '24 km off Santa Catalina Island in the Channel Islands',
 '275 miles northeast of Miami',
 '27th Avenue, New Smyrna Beach, Volusia County',
 '3 miles east of Jacksonville Beach, Duval County',
 '3 miles off Jupiter, Palm Beach County',
 '3 miles south of Sebastian Inlet State Park, Indian River County',
 '3 to 4 miles west of Indian Pass, Gulf County',
 '3.2 km inland',
 '30 miles from Port Moresby',
 '30 miles south of Lynn',
 '30 miles south of San Clemente Island',
 '30 nautical miles offshore',
 '300 miles East of Easter Island',
 '300 miles east of Easter Island',
 '300 yards west of mouth of the Chagres River',
 '33 nautical miles off Othonoi Island',
 '34th Avenue North, Myrtle Beach, Horry County',
 '35 miles off Fujairah',
 '350 miles from Faial Island',
 '360 miles north of Ascension Island',
 "36º17'N,  126º31'E",
 '4 miles from Tuwala, near Mulatuppu',
 '40 miles from Tahane Island',
 '40 miles off Cocodrie',
 '40 miles off Islamorada, near Cay Sal',
 '40 miles off Thursday Island',
 '40 miles south of Nantucket',
 '460 miles off Iwakuni',
 '5 miles off the coast',
 '5 miles south of Redondo Beach',
 '5 miles south of Sussex Inlet at mouth of Berara Lake',
 '50 km east of Townsville',
 '50 km off St. Lucia',
 '50 miles NE of Honolulu',
 '50 miles off Bahamas',
 '50 miles off Kaohsiung',
 '50 miles off Port La Libertad',
 '50 miles offshore',
 '500 km off the coast of Pernambuco',
 '500 nautical miles southwest of Johnston Island',
 '500 yards from Fowey Rock Light, 9 miles east of Key Biscayne, Miami',
 '55 miles south of Adelaide',
 '6 miles from shore',
 '6 miles south of Boca Chica Key, Monroe County',
 '60 miles off Trinidad de Cuba',
 '60 miles offshore',
 '60 miles southeast of Beaufort',
 '600 miles northwest of Honolulu',
 '68 miles east of Wallis Island',
 '7 miles offshore on east coast of Australia',
 '70 miles from Suva',
 '70 miles off Tarpon Springs',
 '750 miles off the African coast',
 '8 miles off Mobile',
 '8 miles off Newport Beach, Orange County',
 '8 miles off St. Marks, Wakulla County',
 '8 miles south of Elliot Key, Miami-Dade County',
 '8.5 miles south of Ano Nuevo State Reserve, Davenport County',
 '82 miles from Fastnet',
 '9 miles north of Turtle Beach, Siesta Key, Sarasota County',
 "90 miles east of Hilo, Hawai'i",
 '90 miles off Albrohos Island',
 '?nciralti Beach, ?zmir',
 'A Spanish port',
 'A few miles south of Port Suez',
 'A ford known as Brodies Coffin in St. Lucia Bay',
 'A pearl  farm in Roebuck Bay',
 'A quarter mile north of Fort Pierce Inlet',
 'A reef off New Hanover Northern end)',
 'A village a short distance from Hesamabad',
 'Abadan',
 'Abalone Point, Westport Union Landing, Mendocino County',
 'Abau',
 'Abau Subdistrict',
 'Absecon, Atlantic County',
 'Acapulco',
 'Acapulco Bay',
 'Achutupu, a small island ner Ailigandi',
 'Adelaide',
 'Adolphus Channel',
 'Adventure Aquarium, Camden',
 'African Reef off Geraldton',
 'Agulhas Banks',
 'Ahvaz, on the Karun River',
 'Ahvaz, on the Karun River, 275 km from the sea',
 'Ahé Atoll',
 'Aichi',
 'Aigua Blava',
 'Ain Sokhna',
 'Airplane Beach, Lahina, West Maui',
 "Ala Moana Beach Park, Oah'u",
 'Albany',
 "Albatros Point, near Jeffrey's Bay",
 'Albenga',
 'Albert Park in Port Phillip Bay',
 'Albion Cove, Albion, Mendocino County',
 'Albuquerque Cay',
 'Albuquerue Aquarium, Albuquerue',
 'Alderman Islands',
 'Aldinga Beach',
 'Alenuihaha Channel',
 'Alexandra Headland near Mooloolaba',
 'Alexandria',
 'Algoa Bay',
 'Aliwal Shoal',
 'Alkantstrand',
 'Allan-Pensacola Cay',
 'Alligator Head, La Jolla, San Diego County',
 'Alligator Reef, off Islamorada, Monroe County',
 'Alma Bay, Magnetic Island, Townsville',
 'Alongside the whaler Marianne',
 'Amalfi',
 'Amanzimtoti',
 'Amatikulu',
 'Ambatolaoka, Nosy Be Island',
 'Ambergris Cay',
 'Amedee Island',
 'Amelia Island, Nassau County',
 'American Shoals off Key West',
 'Amherst',
 'Amity Point, North Stradbroke Island',
 "Anahola, Kaua'i",
 'Anau',
 'Anchored off the largest island in the group',
 'Ancona',
 'Andros Island',
 'Anglesea',
 'Angourie',
 'Angourie, near Yamba',
 "Anini Beach, Kaua'i",
 'Ano Nuevo Island, San Mateo, County',
 'Ano Nuevo, San Mateo County',
 'Anse Lazio',
 'Anstey\x92s',
 'Antibes',
 'Antofagasta',
 'Apalachicola Bay',
 'Apia Harbor',
 'Apia Harbour',
 'Aptos, Santa Cruz County',
 'Aquadilla',
 'Aquarium',
 "Arakoon's Little Bay",
 "Archie's Beach",
 'Ardrossan',
 'Arenales del Sol',
 'Ariake Bay',
 'Ariakeno Bay',
 'Arinaga Beach, Aguimes, Gran Canaria',
 'Arlington Reef',
 'Arlington Reef near Cairns',
 'Arnhem Land',
 'Arniston',
 'Arorangi, Rarotonga',
 'Arran',
 'Arrawarra Headland',
 'Arroyo Beach, Mogadishu',
 'Artifical reef 3 miles off Manatee Beach, Manatee County',
 'Aru Islands',
 'Ashar Canal, where people wash clothes & kitchen pans',
 'Ashdod',
 'Aston Bay',
 'At Flat Top, near Mackay',
 'At Panihattu, Barrackpore, Dackhineshwar, Barahonagore, Kashipur & Chitpur down to Baug Bazar ghats',
 'At sea, several hundred miles south east of Cape Henry, Virginia',
 'Atascadero Beach, Morro Bay, San Luis Obispo County',
 'Atchin Island off Malakula',
 'Atchin Island, off Malakula',
 'Athol Island',
 'Atlantic Avenue, Palm Beach County',
 'Atlantic Beach, Carteret County',
 'Atlantic Beach, Duval County',
 'Atlantic Beach, Emerald Isle, Carteret County',
 'Atlantic Beach, Horry County',
 'Atlantic Beach, Mayport,  Duval County',
 'Atlantic City, Atlantic County',
 'Atlantic Dunes Park, Delray Beach, Palm Beach County',
 'Atlantic, near New Bern, Craven County',
 'Atlantiic Beach, Duval County',
 'Atlantis Beach, near Tramandai',
 'Atol das Rochas',
 'Atsumi Peninsula',
 'Atuona Bay, Hiva Oa Island',
 'Auckland',
 'Auckland Creek, Gladstone',
 'Aulong Channel',
 'Austinmer',
 'Avalon',
 'Avalon Beach',
 'Avalon Beach, near Mandurah, 50 miles south of Perth',
 'Avalon Point, Manurah',
 'Avalon State Park Beach, North Hutchinson Island, St Lucie County',
 'Avalon, Los Angeles County',
 'Avatoru Pass',
 'Avila Beach, San Luis Obispo County',
 'Avoca Beach',
 'Avon, Hatteras Island, Outer Banks, Dare County',
 'Awendaw, Charleston County',
 "Awili, South Kona, Hawai'i",
 'Back Beach, Durban',
 'Back River, Savannah Beach, Chatham County',
 'Backbeach, Halls Head',
 'Badalona',
 'Badger Head',
 'Badu Island',
 'Bagalina, North coast Misima Island',
 'Bagan Lalang Beach',
 'Bagnara Calabra',
 'Bahia',
 'Bahia Totoralillo, 80  km north of Coquimbo',
 'Baie de la Mare',
 'Bakar',
 'Baker Beach, San Francisco County',
 "Baker's Haulover, Miami Beach",
 'Bakers Bay',
 'Balade',
 'Bald Island',
 'Balian',
 'Balian Beach',
 'Ballito',
 'Ballston Beach, Truro, Cape Cod',
 'Balmain, Sydney Estuary)',
 'Balud',
 'Bantham Beach',
 'Bantry Bay, near Ironstone Point, Middle Harbor, Sydney',
 'Bar Beach, Newcastle',
 'Barachois',
 'Barachoise bridge',
 'Barandúa Beach',
 'Barawon Beach, near Rabaul',
 "Barbers Point, O'ahu",
 "Barber\x92s Point, O'ahu",
 'Barra de Jangada',
 'Barrier Reef',
 'Barrier Reef near Innisfail',
 'Barrier Reef off Mackay',
 'Barrow Point, 100 miles north of Cooktown, Queensland',
 'Basalt Island, 9km from Silverstrand',
 'Bashamir',
 'Bass Point',
 'Basse Vallée',
 'Bastendorf Beach, Coos County',
 'Bataan',
 "Bateman's Bay",
 'Bathtub Beach',
 'Bathtub Reef  Beach, Stuart, Martin County',
 'Bathurst Island',
 'Bathurst Reef, Rottnest Island',
 'Batroun',
 'Batt Reef',
 'Battery Beach, Durban',
 'Battle of Guadalcanal',
 'Bavaro Beach, Punta Cana',
 'Bay Head, Ocean County',
 'Bay of Bweedro, Ouvéa',
 'Bay of Fundy',
 'Bay of Luengoni, Lifou Island',
 'Bay of Yago, Espiritu Santo Island',
 'Bayonne, Hudson County',
 'Bayshore Garden, Sarasota Bay, Sarasota County',
 'Beach 103rd Street, Rockaway',
 'Beach Haven, Ocean County',
 'Beachview Holiday Resort',
 'Beachway Avenue Approach, New Smyrna Beach, Volusia County',
 'Bean Hollow State Beach, San Mateo County',
 'Bear Harbor, Mendocino County',
 'Beaufort Inlet',
 'Beechford',
 'Beecroft Head',
 'Beesands',
 'Beespens, False Bay',
 'Behune Beach, Volusia County',
 'Bel Air, Dakar',
 'Belfast now Port Fairy)',
 'Bella Vista Beach',
 'Bellambi',
 'Bellambi Reef',
 'Belle-Mare',
 'Bellingen',
 'Bellows Beach near Wailea Point, O\x92ahu',
 'Bells Beach',
 'Bellynahinch on the Manning River',
 'Belongil Beach, Byron Bay',
 'Benidorm',
 'Beqa',
 'Bermagui',
 'Beru',
 'Bethune Beach',
 'Bethune Beach, Volusia County',
 'Bethune Beach, south of New Smyrna Beach, Volusia County',
 'Between',
 'Between  Cuba  & Costa Rica',
 'Between  Makena & Molokini, Maui',
 "Between 'Ata and Tongapatu",
 "Between Ala Moana Channel & Kewalo Basin, O'ahu",
 'Between Bay Rock & Magnetic Island, Cleveland Bay',
 'Between Cape Hotham & Darwin 50 miles from Darwin)',
 'Between De Grey River and Port Walcott',
 'Between Dee Why and Long Reef',
 'Between Dyer Island and Pearly Beach',
 'Between Esmeraldas & Salinas',
 'Between Lake Worth & Biscayne Bay, near Hillsboro',
 'Between Magic Sands Beach and Kahaluu Beach on the Kona coast',
 'Between Manhattan and The Bronx',
 'Between Nanumea & Nanumaga Atolls',
 'Between Nice & Villefranche',
 'Between Palm  & Salerno Inlets, Martin County',
 'Between Pescadero Point & Bean Hollow Beach, San Mateo County',
 'Between Port Arthur Penal Colony & Forestier Peninsula',
 'Between Smith\x92s Rock & Moreton Island',
 "Between St. Bart's and Saba",
 'Between St. Maarten & Anguilla',
 'Between St. Stjepan and Budva',
 'Between Tientsin & Hong Kong',
 'Between USA & Cuba',
 'Between Wake & Johnston Islands',
 'Between Wynnum & St. Helena Island',
 'Between the islands of Tenos and Andros',
 'Beveridge Reef',
 'Bherwerre Beach',
 'Big Bayou, St. Petersburg, Pinellas County',
 'Big Island off Kona Village Resort, North Kona',
 'Big Pine Key, Monroe County',
 'Big Talbot Island, Duval County',
 'Bilanhlolo River Mouth, Ramsgate',
 'Bilene Bay, 180 km north of Maputo',
 'Bill Baggs Cape Florida State Recreation Area, Miami-Dade County',
 'Biltmore Beach, near Panama City',
 'Bimat, Bogia',
 'Bimini',
 'Binalong Bay',
 'Binningup',
 "Biodola, Isola d'Elba",
 'Biograd na moru',
 'Bird Island, Algoa Bay',
 'Bird Rock, Tomales Point',
 'Bird Rock, Tomales Point, near Marin County / Sonoma County border',
 'Bird Rock, near Tomales Point, Marin County',
 'Birubi Point',
 'Biscayne Bay',
 'Biscayne National Park, Miami',
 'Bittern',
 'Black Point',
 'Black Point Bay',
 'Black Point, Eyre Peninsula',
 'Black\x92s Beach, 9 miles north of Mackay',
 'Blairgowrie',
 'Blockhouse Beach, Brevard County',
 'Blue Bay',
 'Blue Hole',
 'Blue Planet Aquarium, Ellesmere Port',
 'Bluefish Cove, Pt. Lobos State Park, Monterey County',
 'Bluff, Durban',
 'Boa Viagem Beach, Recife',
 'Boa Viagem, Recife',
 'Boarding School Bay',
 'Boat Harbour, north of Cronulla',
 'Boat capsized',
 'Bob Graham Beach, Martin County',
 'Boca Chica',
 'Boca Ciega Bay, Pinellas County',
 'Boca Ciega Bay, Tampa, Pinellas County',
 'Boca Grande, Lee County',
 'Boca Raton, Palm Beach County',
 'Boca de la Leña, La Unión',
 'Bodega Rock, Sonoma County',
 'Body recovered at Goiana',
 'Boeing 757 enroute from Porta Plata',
 'Boggomsbaai, Mossel Bay',
 'Bogue near Falmouth)',
 'Bohol',
 'Bolivar Peninsula',
 'Bombay now Mumbai)',
 'Bombo Beach',
 'Bondi',
 'Bondi Beach',
 'Bondi Beach, Sydney',
 'Bondi, Sydney',
 'Bonita Springs, Lee County',
 'Bonny River',
 'Bonza Bay',
 'Bonza Beach',
 'Boot Reef, Torres Strait',
 'Booti Booti National Park',
 'Boqueron',
 'Boragawa Beach',
 'Bordighera',
 'Boucan Canot',
 'Boucan-Canot',
 'Bouges Bank, Emerald Isle, Carteret County',
 'Bound from Cape Town for St. Helena',
 'Bourail',
 'Bovalino',
 'Bowen',
 'Boynton Beach, Palm Beach County',
 'Boyup Brook',
 'Bradleys Head, Sydney',
 'Bramble Reef',
 'Branford, New Haven County',
 'Brazos',
 'Breezy Point, Ntlonyana',
 'Bremer Island',
 "Brenecke Beach, Po'ipu, Kaua'i",
 "Brennecke Beach, Po'ipu, Kaua'i",
 'Brevard County, a mile north of Sebastian Inlet',
 'Bribie Island',
 'Bribie Passage, Caloundra',
 'Brible Island',
 'Brickfield Bay, Auckland Harbour',
 'Bridgeport, Fairfield County',
 'Bridgetown',
 'Brighton',
 'Brighton Beach, Adelaide',
 'Brisant Beach',
 'Brisants.',
 'Brisbane',
 'Brisbane River',
 'Bristol Harbor',
 'Broad Beach, Malibu, Los Angeles County',
 'Broken Head',
 'Broken Head Beach',
 'Bronte',
 'Bronte Beach',
 'Brooker Island , Calvados Chain',
 'Brooklyn',
 'Broome',
 'Broome Head',
 'Broomfield Island, 11 miles from Heron Island on the Great Barrier Reef',
 'Broomfield Reef',
 'Broughton Island',
 "Brown's Inlet, Broadwater",
 'Brown\x92s Inlet on New River, Onslow Beach',
 'Brunswick Heads',
 'Bryan Beach, Brazoria County',
 'Buck Island',
 'Buddina Beach, south of Noosa',
 'Budva',
 'Buffalo Bay, near Knysna',
 'Buffels Bay',
 'Buffels Bay near Knysna',
 'Buffels Bay near Knysna)',
 'Buffels Bay, False Bay',
 'Buka Island',
 'Bulolol',
 'Bulu, Talasea',
 'Bunbury',
 'Bundegi Sanctuary Zone, Ningaloo',
 'Bunker Bay',
 'Bunkers Eureka, Humboldt County',
 'Bunkers, Humboldt Bay, Eureka, Humboldt County',
 'Burkes Beach, Hilton Head, Beaufort County',
 'Burleigh Heads, Brisbane',
 'Burleigh Lake on the Gold Coast',
 'Burnett River',
 'Burnt Cove near Eastport, Washington County',
 'Bushrangers Pass at Bass Point',
 'Butler Beach, St Augustine,       St. Johns County',
 'Butliwan Village, 15 miles north of Rabaul',
 'Butterfly Beach, Montecito, Santa Barbara County',
 'Buxton Beach, Dare County',
 'Byron Bay',
 'Cabaritta River mouth',
 'Cabbage Tree Creek, Sandgate',
 'Cable Beach',
 'Cabo Frio',
 'Cabo Rojo',
 'Cactus Beach',
 'Cactus Beach near Penong',
 'Cactus Beach, near Ceduna',
 'Cagayan de Oro',
 'Cairns Aquarium',
 'Calcutta, Hoogly River at  one of the ghats',
 'Calcutta?)',
 'Caleta Beach, Acapulco',
 'Calibogue Sound',
 'Calliope River',
 'Caloosahatchee River, Lee County',
 'Caloundra',
 'Caloundra Heads',
 'Campbell\x92s Point',
 'Canacao Bay',
 'Cancun',
 'Candeias',
 "Cannons, at Ha'ena on the north shore of Kaua'i Island",
 'Canova Beach, Brevard County',
 'Cap Goulvain',
 'Cap Homard',
 'Cap La Houssaye',
 'Cape Canaveral',
 'Cape Canaveral, Brevard County',
 'Cape Douglas',
 'Cape Elizabeth',
 'Cape Esperance near Savo Islands)',
 'Cape Finisterre',
 'Cape Hatteras',
 'Cape Henlopen State Park, Sussex County',
 'Cape Howe',
 'Cape Jervis',
 'Cape Kiwanda',
 'Cape Kiwanda,Tillamook County',
 'Cape Lookout Bight',
 'Cape Lookout, Carteret County',
 'Cape Matifou',
 'Cape Nelson',
 'Cape Pillar, Storm Bay',
 'Cape Recife',
 'Cape Sable, Monroe County',
 'Cape San Blas, Gulf County',
 'Cape St. Francis',
 'Cape Town',
 'Cape Vidal',
 'Capitola, Santa Cruz County',
 "Capo d'Anzio",
 'Carlin Park, Jupiter Inlet',
 'Carlin Park, Jupiter, Palm Beach County',
 'Carnac Island',
 'Carnarvon',
 'Carolina Beach off Texas Avenue, New Hanover County',
 'Carolina Beach, New Hanover County',
 'Carradale Bay, Kintyre Peninsula',
 'Carrara, Nerang River',
 'Carrickalinga Head',
 'Carrum',
 'Carter Cay',
 'Carysfort Lighthouse, Key Largo, Monroe County',
 'Casino Beach, Pensacola, Escambia County',
 'Castellon de la Plana',
 'Castle Rock, San Miguel Island, Santa Barbara County',
 'Cat Island',
 'Cat Island, Harrison County',
 'Catalina Channel, Los Angeles County',
 'Catalina Island',
 'Catania',
 'Catembe',
 'Catfish Rock, between Salt Rock & Shaka\x92s Rock',
 'Cathedral Rock',
 'Cave at Shell Harbour',
 'Caves Beach',
 'Caves near Kogel Bay',
 'Cedar Island, Carteret County',
 'Cellito Beach',
 'Chain Rocks, Amanzimtoti',
 'Channel between South Padre Island & Padre Island National Seashore',
 'Charles Street Wharf, Parramatta River',
 'Charleston',
 'Charleston Harbor, Charleston County',
 'Charlie Young Beach, Kihei, Maui',
 'Charteris Bay, Lyttleton Harbour',
 'Chatham Island',
 'Chelsea Beach, Suffolk County',
 'Chennai',
 'Chennai formerly Madras)',
 'Cherie Down Park, Brevard County',
 'Cherry Grove',
 'Chester River',
 'Cheviot Beach, Portsea, Port Phillip Bay',
 'Cheynes Beach',
 'Chidenguele',
 "Children's Bay Cay near Rollerville",
 'Chinchorro Banks',
 'Chintsa East Beach',
 'Chongeone, Xai Xai',
 'Chowder Bay, Sydney',
 'Christchurch',
 "Chun's Reef, Laniakea, O'ahu",
 'Cienfuegos',
 'Cintsa East',
 'Cintsa East, East London',
 'Cintza Beach, East London',
 'Circeo, Secca del Faro',
 'Circeo, Secca del Quadro',
 'Clairview',
 'Clam Beach, near Eureka, Humboldt County',
 'Clansthal',
 'Clarence Head',
 'Clarence Heads',
 'Clarence River',
 'Clark Island',
 'Clark Island, Sydney Harbour',
 'Clarkes Beach, Byron Bay',
 'Clarks Beach, Byron Bay',
 'Clearwater Beach, Pinellas County',
 'Cleveland',
 'Clifton',
 'Clifton Beach',
 'Clovely Beach',
 'Coal wharf, Port Royal',
 'Coalcliff',
 'Cobblestones, Margaret River Area',
 'Cockatoo Island, Sydney',
 'Cockle Bay, Sydney Harbour',
 'Coco Beach in Oyster Bay, 7 km north of Dar-es-Salaam',
 'Coco Beach, Dar-es-Salaam',
 'Coco Beach, Dar-es-Salaam Reported as the 5th fatality in 3 months at Coco Beach)',
 'Cocoa  Beach, Brevard County',
 'Cocoa Beach, Brevard  County',
 'Cocoa Beach, Brevard County',
 'Coconut Island , 100 miles east of Thursday Island',
 'Codfish Island Whenua Hau) west of Stewart Island',
 'Coffee Bay',
 'Coffee Head',
 'Coffin Bay',
 'Cohong',
 'Cojimar',
 'Coledale Beach',
 'Coligny Beach, Hilton Head, Beaufort County',
 'Collaroy',
 "Colledge's Crossing, Brisbane River",
 'College\x92s Crossing, 54 miles above mouth of the Brisbane River',
 'Collendina Beach east of Ocean Grove',
 'Collie River',
 'Colombo',
 'Colombo Harbor',
 'Colwell Bay',
 'Compass Cay',
 'Conceicao Beach',
 'Condado Beach, San Juan',
 'Condon, 88 km NE of Port Hedland',
 'Cone Bay',
 'Coney Island',
 'Conspicuous Beach, near Walpole',
 'Coogee',
 'Coogee Bay, near Sydney',
 'Cook Island',
 'Cooks Hill, Newcastle',
 "Cooper's Point",
 'Cooranbong',
 'Copacabana',
 'Copacabana Beach, Acapulco',
 'Copacabana Beach, Rio de Janiero',
 'Coquina Beach, Anna Maria Island, Manatee County',
 'Coral Bay',
 'Coral Bay, Sharm el-Sheikh',
 'Coral Bay, Sharm-el-Sheikh',
 'Coral Cove Beach',

In [113]:
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23,nombres
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN,Julie Wolfe
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN,Adyson McNeely
2,2018.06.09,09-Jun-2018,2018.0,Unknown,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN,John Denges
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,Unknown,M,...,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN,Unknown
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN,Gustavo Ramos
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6162,1700.00.00.b,Not certain,1700.0,Unprovoked,FRANCE,Côte d'Azur,Antibes,Bathing,Unknown,M,...,"A. De Maddalena, citing Cazeils (1998)",1700.00.00.b-Antibes.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1700.00.00.b,1700.00.00.b,141.0,NaN,NaN,Unknown
6163,1700.00.00.a,Not certain,1700.0,Unprovoked,BARBADOS,Unknown,Unknown,Bathing,Unknown,M,...,"Tioga Eagle, 10.26/ 1842",1700.00.00.a-Barbados.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1700.00.00.a,1700.00.00.a,140.0,NaN,NaN,Unknown
6168,1642.00.00,Not certain,1642.0,Unprovoked,USA,New York,Between Manhattan and The Bronx,Swimming,Antony Van Corlear,M,...,"Knickerbocker's History of New York, by Washin...",1642.00.00-Corlear.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1642.00.00,1642.00.00,135.0,NaN,NaN,Antony Van Corlear
6170,1580.01.10.R,Not certain,1580.0,Unprovoked,Between PORTUGAL & INDIA,Unknown,Unknown,Man fell overboard from ship. Those on board t...,Unknown,M,...,"G.P. Whitley, p. 10",1580.01.10.R-Portugal-India.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1580.01.10.R,1580.01.10.R,133.0,NaN,NaN,Unknown
6173,1543.00.00,Not certain,1543.0,Unprovoked,VENEZUELA,Magarita or Cubagua Islands,Unknown,Pearl diving,Unknown,M,...,J. Castro,1543.00.00.R-LasCasas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1543.00.00,1543.00.00,130.0,NaN,NaN,Unknown

## Activity

In [114]:
df.Activity.value_counts()[:50] #chequea cuántos valores únicos hay

Surfing                           912
Swimming                          715
Fishing                           312
Spearfishing                      289
Wading                            136
Bathing                           128
Standing                           92
Diving                             89
Snorkeling                         85
Body boarding                      60
Scuba diving                       60
Body surfing                       46
Swimming                           40
Treading water                     30
Kayaking                           28
Pearl diving                       24
Fell overboard                     24
Boogie boarding                    24
Free diving                        22
Windsurfing                        18
Boogie Boarding                    16
Walking                            15
Floating                           13
Kayak Fishing                      11
Surf-skiing                        11
Surf fishing                       10
Surf skiing                        10
Canoeing                           10
Shark fishing                       9
Freediving                          9
Fishing                             9
Sitting on surfboard                9
Rowing                              9
Paddle boarding                     8
Diving for trochus                  8
Fishing for sharks                  8
Fell into the water                 7
Surfing (sitting on his board)      7
Scuba Diving                        7
Diving for abalone                  7
Playing                             7
Kite Surfing                        6
Stand-Up Paddleboarding             6
Surf skiing                         6
Free diving for abalone             6
Floating on his back                6
Sponge diving                       6
Skindiving                          6
Kite surfing                        5
Sea disaster                        5
Name: Activity, dtype: int64

In [115]:
df.Activity = df.Activity.fillna("Unknown")
df.Activity=df.Activity.str.strip()
df.Activity = df.Activity.str.replace('"','')

In [116]:
def surfing(x): #si la string tiene or devuelve unknown
    if bool(re.search(r"\bsurf", x.lower())):
        x = "Surfing"
        return x
    else:
        return x

def swimming(x): #si la string tiene or devuelve unknown
    if bool(re.search(r"\bswim", x.lower())):
        x = "Swimming"
        return x
    else:
        return x

def fishing(x): #si la string tiene or devuelve unknown
    if bool(re.search(r"\bfish", x.lower())):
        x = "Fishing"
        return x
    else:
        return x
    
def wading(x): #si la string tiene or devuelve unknown
    if bool(re.search(r"\bwad", x.lower())):
        x = "Wading"
        return x
    else:
        return x

def bathing(x): #si la string tiene or devuelve unknown
    if bool(re.search(r"\bbath", x.lower())):
        
        x = "Bathing"
        return x
    else:
        return x
    
def standing(x): #si la string tiene or devuelve unknown
    if bool(re.search(r"\bstand", x.lower())):
        x = "Standing"
        return x
    else:
        return x
    
def scuba(x): #si la string tiene or devuelve unknown
    if bool(re.search(r"\bs[cko]uba", x.lower())):
        x = "Scuba Diving"
        return x
    else:
        return x
    
def diving(x): #si la string tiene or devuelve unknown
    if bool(re.search(r"\bdeep\sdiving", x.lower())):
        x = "Deep Diving"
        return x
    else:
        return x

def diving2(x): #si la string tiene or devuelve unknown
    if bool(re.search(r"^div[ie]", x.lower())):
        x = "Diving"
        return x
    else:
        return x
    
def snorkeling(x): #si la string tiene or devuelve unknown
    if bool(re.search(r"\bsnorkel", x.lower())):
        x = "Snorkeling"
        return x
    else:
        return x
    
def bodyboarding(x): #si la string tiene or devuelve unknown
    if bool(re.search(r"\bbody[\s-]?boarding", x.lower())):
        x = "Body Boarding"
        return x
    else:
        return x

def accident1(x): #si la string tiene or devuelve unknown
    if bool(re.search(r"\baccident", x.lower())):
        x = "Accident"
        return x
    else:
        return x

def accident2(x): #si la string tiene or devuelve unknown
    if bool(re.search(r"\bf[ea]ll", x.lower())):
        x = "Accident"
        return x
    else:
        return x
    
    
def accident3(x): #si la string tiene or devuelve unknown
    if bool(re.search(r"\bdisaster", x.lower())):
        x = "Accident"
        return x
    else:
        return x

def otheractivity(x): #si la string tiene or devuelve unknown
    if x != "Surfing" and x != "Swimming" and x != "Fishing" and x != "Wading" and x != "Bathing" and x != "Standing" and x != "Scuba Diving" and x != "Deep Diving" and x != "Diving" and x != "Snorkeling" and x != "Body Boarding" and x != "Accident":
        x = "Other Activity"
        return x
    else:
        return x

                      
df.Activity = df.Activity.apply(surfing)  
df.Activity = df.Activity.apply(swimming)
df.Activity = df.Activity.apply(fishing)  
df.Activity = df.Activity.apply(wading) 
df.Activity = df.Activity.apply(bathing)  
df.Activity = df.Activity.apply(standing)
df.Activity = df.Activity.apply(diving) 
df.Activity = df.Activity.apply(diving2)  
df.Activity = df.Activity.apply(snorkeling) 
df.Activity = df.Activity.apply(scuba)  
df.Activity = df.Activity.apply(bodyboarding) 
df.Activity = df.Activity.apply(accident1) 
df.Activity = df.Activity.apply(accident2)  
df.Activity = df.Activity.apply(accident3) 
df.Activity = df.Activity.apply(otheractivity)  


lista_act = list(df.Activity.unique())
lista_act.sort(reverse=True)
lista_act

['Wading',
 'Swimming',
 'Surfing',
 'Standing',
 'Snorkeling',
 'Scuba Diving',
 'Other Activity',
 'Fishing',
 'Diving',
 'Body Boarding',
 'Bathing',
 'Accident']

In [117]:
df.Activity.value_counts()[:50] #chequea cuántos valores únicos hay

Other Activity    1508
Surfing           1165
Swimming           911
Fishing            555
Diving             171
Bathing            149
Wading             148
Standing           130
Scuba Diving       105
Accident            94
Snorkeling          87
Body Boarding       69
Name: Activity, dtype: int64

In [118]:
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23,nombres
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Other Activity,Julie Wolfe,F,...,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN,Julie Wolfe
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN,Adyson McNeely
2,2018.06.09,09-Jun-2018,2018.0,Unknown,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN,John Denges
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,Unknown,M,...,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN,Unknown
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Other Activity,Gustavo Ramos,M,...,A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN,Gustavo Ramos
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6162,1700.00.00.b,Not certain,1700.0,Unprovoked,FRANCE,Côte d'Azur,Antibes,Bathing,Unknown,M,...,"A. De Maddalena, citing Cazeils (1998)",1700.00.00.b-Antibes.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1700.00.00.b,1700.00.00.b,141.0,NaN,NaN,Unknown
6163,1700.00.00.a,Not certain,1700.0,Unprovoked,BARBADOS,Unknown,Unknown,Bathing,Unknown,M,...,"Tioga Eagle, 10.26/ 1842",1700.00.00.a-Barbados.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1700.00.00.a,1700.00.00.a,140.0,NaN,NaN,Unknown
6168,1642.00.00,Not certain,1642.0,Unprovoked,USA,New York,Between Manhattan and The Bronx,Swimming,Antony Van Corlear,M,...,"Knickerbocker's History of New York, by Washin...",1642.00.00-Corlear.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1642.00.00,1642.00.00,135.0,NaN,NaN,Antony Van Corlear
6170,1580.01.10.R,Not certain,1580.0,Unprovoked,Between PORTUGAL & INDIA,Unknown,Unknown,Accident,Unknown,M,...,"G.P. Whitley, p. 10",1580.01.10.R-Portugal-India.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1580.01.10.R,1580.01.10.R,133.0,NaN,NaN,Unknown
6173,1543.00.00,Not certain,1543.0,Unprovoked,VENEZUELA,Magarita or Cubagua Islands,Unknown,Other Activity,Unknown,M,...,J. Castro,1543.00.00.R-LasCasas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1543.00.00,1543.00.00,130.0,NaN,NaN,Unknown

## Pulido final

In [119]:
df=df.drop('nombres', axis=1)  # borra una columna (axis=1)

In [120]:
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Other Activity,Julie Wolfe,F,...,White Shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,Unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Unknown,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,Unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,Unknown,M,...,Unknown,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Other Activity,Gustavo Ramos,M,...,Tiger Shark,A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6162,1700.00.00.b,Not certain,1700.0,Unprovoked,FRANCE,Côte d'Azur,Antibes,Bathing,Unknown,M,...,White Shark,"A. De Maddalena, citing Cazeils (1998)",1700.00.00.b-Antibes.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1700.00.00.b,1700.00.00.b,141.0,NaN,NaN
6163,1700.00.00.a,Not certain,1700.0,Unprovoked,BARBADOS,Unknown,Unknown,Bathing,Unknown,M,...,Unknown,"Tioga Eagle, 10.26/ 1842",1700.00.00.a-Barbados.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1700.00.00.a,1700.00.00.a,140.0,NaN,NaN
6168,1642.00.00,Not certain,1642.0,Unprovoked,USA,New York,Between Manhattan and The Bronx,Swimming,Antony Van Corlear,M,...,Unknown,"Knickerbocker's History of New York, by Washin...",1642.00.00-Corlear.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1642.00.00,1642.00.00,135.0,NaN,NaN
6170,1580.01.10.R,Not certain,1580.0,Unprovoked,Between PORTUGAL & INDIA,Unknown,Unknown,Accident,Unknown,M,...,Unknown,"G.P. Whitley, p. 10",1580.01.10.R-Portugal-India.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1580.01.10.R,1580.01.10.R,133.0,NaN,NaN
6173,1543.00.00,Not certain,1543.0,Unprovoked,VENEZUELA,Magarita or Cubagua Islands,Unknown,Other Activity,Unknown,M,...,Unknown,J. Castro,1543.00.00.R-LasCasas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1543.00.00,1543.00.00,130.0,NaN,NaN

In [122]:
df.to_csv('SharkAtack - Esteban Cardona.csv')